@charset "utf-8";
.slide{ width:100%; height:500px; overflow:hidden; position:relative;}
.slide .hd{ height:14px; position:absolute;bottom:18px; z-index:1;width:109px; left:50%; margin-left:-20px}
.slide .hd ul{width:100%;text-align:center;}
.slide .hd ul li{display:inline-block;margin:1px 5px; width:13px; height:13px; border-radius: 7px;background: #fff; cursor:pointer; text-indent:999em; float:left}
.slide .hd ul li.on{background: #f6ab00; width:13px;}
.slide .bd{ position:relative; z-index:0;}
.slide .bd ul{width:100%!important;}
.slide .bd li{ zoom:1; vertical-align:middle; width:1920px!important; height:500px; display:block; position:absolute; left:50%!important; margin-left:-960px;}
.slide .bd img{width:1920px; height:500px;}
.slide a.prev, .slide a.next{display:block; position:absolute; filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2;opacity:0.2; color:#fff; height:100%; padding:0 10px; top:0; font:bold 80px/500px simsun; cursor:pointer;}
.slide a.prev{left:0;} 
.slide a.next{right:0;}
.slide a.prev:hover, .slide a.next:hover{background:rgba(0,0,0,0.1); text-decoration:none}