@charset "utf-8";
*{margin: 0px;padding: 0px;font-size:14px;color:#333; font-family:微软雅黑, Arial, Helvetica, sans-serif; line-height:26px; list-style:none; font-weight:normal}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; outline:0; background:transparent; -webkit-margin-before:0; -webkit-margin-after:0;}
article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
del{text-decoration:line-through}
ins{text-decoration:none}
abbr[title], dfn[title]{border-bottom:1px dotted; cursor:help}
ul, li{list-style:none;margin:0;padding:0;}

em, var{font-style:normal}
img, a img{padding:0; margin:0; border:none;}
input, textarea, button{outline:none; margin:0}
body, input, textarea, button, select{font-size:13px;line-height:1.5;font-family:-apple-system, BlinkMacSystem,"Microsoft Yahei",sans-serif,"Hiragino Sans GB", Helvetica; color:#333}
.clearfix:after, .fix:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix, .fix{zoom:1}
a{color:#404145; text-decoration:none;}
a:hover, a:active{color:#dc323b; text-decoration:none}
a:focus{outline:none; -moz-outline:none}
a{outline:none; blr:expression(this.onFocus=this.blur());}
i, s, em, u{font-style:normal; text-decoration:none;}
input, textara{font-size:1em; color:#333;}
input:focus, textarea:focus{outline:none;}
.clear{clear:both; display:block; font-size:0; line-height:0; height:0;}
.clearf:after{content:""; display:table; clear:both; }
.fl{float:left}
.fr{float:right}
.tl{text-align:left}
.tr{text-align:right}
.d30{height:30px}
.textover{text-overflow:ellipsis;white-space:nowrap;}
.center{ width:1200px; height:auto; margin:0 auto}

.left{ float:left}
.right{ float:right}
.clear{ height:0; line-height:0; overflow:hidden; clear:both}
.textover{text-overflow:ellipsis;white-space:nowrap;}

.head{ width:100%; height:34px; background:#efefef;}
.head ul{ width:1200px; height:34px; margin:0 auto}
.head li,.head li * { color:#666666; font-size:14px; line-height:34px}
.head a{ border-left:1px solid #dbdbdb; font-size:14px; color:#666666; float:left; padding:0 20px; line-height:34px}
.head a:hover{ text-decoration:underline; color:#666666}
.head li{font-size:14px; color:#666666; line-height:34px }
.head p{ float:left; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; font-size:12px; color:#bbbbbb;  padding:0 20px; line-height:34px}
.head p span{ color:#ce2029; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold}

.logo{ width:100%; height:110px; background:url(../images/top.jpg) no-repeat 0 0 #1b5199}



.nav{width: 100%;height: 59px;background:#c40000;z-index: 99998;position: relative; }
.navWrap{width:1200px;margin: 0 auto; height:59px; position: relative; }
.fixednav22{width: 100%;height: 59px;background:#fff;z-index: 99998;position: fixed;top: 0px; left:0; box-shadow: 0 6px 12px rgba(0,0,0,.175);margin-left:0px;border-radius: 0}

.navWrap .navlist>li{float: left;height:59px; width:120px;}
.navWrap .navlist>li:last-child{background:none;}
.navWrap .navlist>li>a{color:#fff;height:59px;font-size:16px;display: block;line-height: 59px; width:132px; text-align:center;  margin:0 auto}
.navWrap .navlist>li>a>span{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:22px; text-transform:uppercase; display:block; color:#666}
.navWrap .navlist>li:hover>a{ background:#ff4252; color:#fff}
.navWrap .navlist>li:hover>a>span{  color:#111}

.navWrap .navlist>li>a.nav_on,.navWrap .navlist>li>a.nav_on:hover{color:#fff; background:#ff4252;
height:59px;font-size:16px;display: block;line-height: 59px; width:110px; text-align:center; margin:0 auto}


.navWrap .navlist li .navbotnei{position:absolute;top:59px;background:#fff;overflow: hidden;display: none;z-index: 999;width:148px; padding:0;  margin-left:1px}
.navWrap .navlist li .navbotnei a{ width:100%; height:35px; line-height:35px; text-align:center; display:block; color:#404145}
.navWrap .navlist li .navbotnei a:hover{ background:#2473c0; color:#fff}



.search {width: 100%;height:64px;background:#fff}
.search .wrap{ width:1200px; height:auto; margin:0 auto}
.search .hot {width: 840px;height: 30px;line-height: 64px;font-size: 14px}
.search .hot span {font-weight: 600;color: #666666;line-height: 64px}
.search .hot a {color: #666666;margin-left: 10px;line-height: 64px}

.search .search_cnt {
    width: 315px;
    height: 36px;
    position: relative;
    margin-top: 15px;
}

.search .search_cnt .txt {width: 308px;height: 34px;line-height: 34px;text-indent: 10px;font-size: 14px; border:1px solid #f96501
}

.search .search_cnt .btn {width: 45px;height: 36px;background: url(../images/btn.gif) no-repeat;background-size: 100% 100%;border: 0;outline: none;overflow: hidden;position: absolute;top: 0;right: -5px;cursor: pointer;
}


/*正文开始*/
.fullSlide {
	width:100%;min-width:1200px;position:relative;height:712px;overflow:hidden; margin:0 auto;}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:712px;
	overflow:hidden;
	text-align:center;
    background-position:center top;
}
.fullSlide .bd li a {
	display:block;
	height:712px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0px;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:100px;
	height:7px;
	margin:1px;
	overflow:hidden;
	background:#000;
	/*filter:alpha(opacity=50);
	opacity:0.5;*/
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#1161c0;
}
.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-36px;
	left:2%;
	z-index:1;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
	width:73px; 
	height:73px;
}
.fullSlide .prev
{
      background:url(../images/left1s.png) no-repeat;
  }
.fullSlide .next {
	left:auto;
	right:2%;
	background: url(../images/right1s.png) no-repeat;
}
/**/



.inmiaoti{ width:1200px;height:212px; margin:0 auto; position: relative}
.inmiaoti p{line-height:212px; color:#e1dfdf; font-family:impact; font-size:126px; text-align:center; text-transform:uppercase}
.inmiaoti h1{ position:absolute; line-height:60px; font-size:45px; color:#222222; top:80px; font-weight:bold; display:block; width:100%; height:60px;text-align:center;}
.inmiaoti h1 span{line-height:60px; font-size:45px; color:#dc323b; font-weight:bold}
.inmiaoti h3{position:absolute; line-height:25px; font-size:20px; color:#222222; top:145px; font-weight:100; display:block; width:100%; height:25px;text-align:center;}

.inmenu{ width:1276px; height: auto; margin:22px auto 30px;}
.inmenu li{ width:250px; height: auto; float:left; text-align:center; margin:0 33px}
.inmenu li div{width:250px; height:250px; overflow:hidden;border-radius:125px}
.inmenu li div img{ width:250px; height:250px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
.inmenu li:hover div img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.inmenu li h3{line-height:58px; font-size:18px; text-align:center; margin:0 auto 10px;background:url(../images/gline.jpg) no-repeat center bottom}
.inmenu li p{ line-height:25px; font-size:14px; color:#666666; width:90%; margin:0 auto}




.main{ width:1200px; height: auto; border-top:13px solid #fff; margin:0 auto}
.mainhui{ width:100%; height: auto; border-top:30px solid #fff; background:#fff; border-bottom:30px solid #fff}
.huibox{ width:1200px; height: auto;  margin:0 auto; }
.lebox{ width:250px; height:auto}
.rigbox{ width:937px; height:auto}

.inbox1{ width:100%; height:968px;background:#f1f1f1}

.xwtiele{ background:url(../images/xwbtline.png) no-repeat center 106px; width:100%;  text-align:center; height:150px; padding-top:30px}
.xwtiele h1{ font-size:36px; font-weight: bold; line-height:60px; color:#184d93}
.xwtiele h2{ font-size:26px; font-weight: bold; line-height:35px; color:#184d93}
.xwtiele h2 span{ font-size:26px; font-weight: bold; line-height:35px; color:#e32d6d}
.xwtiele p{  line-height:30px;font-size:17px; text-transform:uppercase; color:#bebcbd}

.inbox1 .hexys{ width:1248px; margin:0 auto}
.inbox1 .hexys li{ width:368px; height:449px; margin:4px 24px 0; display:inline; background:#f7f7f7; float:left}
.inbox1 .hexys li img{ width:368px; height:242px;}
.inbox1 .hexys li div{ padding:15px 25px; width:318px; height:auto}
.inbox1 .hexys li div h3{ font-size:22px; color:#184d93; line-height:30px}
.inbox1 .hexys li div p{ line-height:25px; font-size:14px; color:#666; margin:10px 0}
.inbox1 .hexys li div a{ display:block; width:80px; height:25px; border:1px solid #cccccc; color:#666; text-align:center}
.inbox1 .hexys li:hover{ background:#296fcb}
.inbox1 .hexys li:hover a,.inbox1 .hexys li:hover p,.inbox1 .hexys li:hover h3{ color:#fff}
.inbox1 .hexys li a:hover{border:1px solid #fff; text-decoration:underline}


.inbox2{ width:100%; height:552px;background:url(../images/yshui.jpg) no-repeat center 0}
.inbox2 .inmiaoti{ height:160px !important}
.inbox2 .inmiaoti p{color:#343434 !important; }
.inbox2 .inmiaoti h1{ color:#fff !important;top:40px !important }
.inbox2 .inmiaoti h1 span{ color:#fff !important; }
.inbox2 .inmiaoti h3{ color:#fff !important; top:100px !important}

.mr_frbox2e {HEIGHT: auto; width:1408px;  margin:0px auto 0; position:relative; }
.mr_frbox2e .leftprole{ position:absolute; left:0; top:105px;CURSOR: pointer}
.mr_frbox2e .rightprore{ position:absolute; right:0; top:105px;CURSOR: pointer}

.imgboxcpe{ width:1224px; height:289px; margin:10px auto 0; overflow:hidden}
.imgboxcpe ul li{ display: block; float:left; overflow:hidden; overflow:hidden;margin:0 13px;width:363px !important; height:269px; border:10px solid #fff}
.imgboxcpe ul li a{ display:block; width:363px; height:269px; text-align: center; text-align:center; position:relative; overflow:hidden; }
.imgboxcpe ul li a img{width:363px; height:269px; vertical-align: middle;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
.imgboxcpe ul li a:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}




.inbox3{ width:100%; height:648px;  position:relative; overflow:hidden}

.mianabouy{ width:1920px; height:438px; position:absolute; left:0; top:210px; background:#f1f1f1 }
.mianabouy p.abpicdw{ width:900px; height:438px; float:left}
.conbrab{ width:1180px; height:auto; position:absolute; left:50%; top:0; margin-left:-600px; z-index:999}
.wenbo{ width:560px; height: auto; margin-top:40px}
.wenbo,.wenbo *{ line-height:30px; font-size:14px}
.wenbo h1{ font-size:26px !important; font-weight:bold; line-height:80px !important; background:url(../images/inabline.jpg) no-repeat 0 bottom; margin-bottom:20px}
.red{ display:block; width:108PX; height:34PX; background:#dc323b; text-align:center; line-height:34PX; text-align:center; color:#FFF; font-size:14px; margin-top:20px}
.red:hover{ background:#dc323b; color:#fff}


.inbox4{ margin:0 auto; width:1200px; height:auto}
.inbox4 .zxnbox{ width:776px; height:auto}
.inbox4 .zxnbox .inxwtit{ width:786px; height:60px;background:url(../images/xw1.jpg) no-repeat 0 bottom; margin-bottom:35px}
.inbox4 .zxnbox .inxwtit p{ line-height:50px; font-weight:bold; font-size:18px}
.inbox4 .zxnbox .inxwtit a{ display:block; width:55px; height:50px; line-height:50px;background:url(../images/tbmo.gif) no-repeat right center}
.inbox4 .zxnbox .tjxwcoc{ width:364px; height:auto}
.inbox4 .zxnbox .tjxwcoc h3{ display: block; height:60px; line-height:60px; width:100%; overflow:hidden; border-bottom:1px solid #e1e1e1; font-weight:bold; font-size:16px}
.inbox4 .zxnbox .tjxwcoc .zyxwin{ width:100%; height:120px; overflow:hidden; margin:12px 0}
.inbox4 .zxnbox .tjxwcoc .zyxwin,.inbox4 .zxnbox .tjxwcoc .zyxwin *{ line-height:30px; font-size:14px; color:#555}
.inbox4 .zxnbox .tjxwcoc .xwmoredf{ display:block; width:108px; height:34px; background:#d4131b; text-align:center; font-size:14px; color:#fff; line-height:34px}
.inbox4 .zxnbox .tjxwcoc .xwmoredf:hover{ background:#d4131b;}

.inbox4 .zxnbox .inxwlid{ width:364px; height:auto}
.inbox4 .zxnbox .inxwlid .xwsyboxw{ width:364px; height:auto; margin:10px 0 0;background:url(../images/num.gif) no-repeat 0 6px}
.inbox4 .zxnbox .inxwlid .xwsyboxw a{ display:block; width:100%; height:30px; line-height:30px; text-indent:34px; overflow:hidden}

.inbox4 .incjcob{ width:369px; height:auto}
.inbox4 .incjcob .inxwtit{ width:369px; height:60px;background:url(../images/xw2.jpg) no-repeat 0 bottom; margin-bottom:30px}
.inbox4 .incjcob .inxwtit p{ line-height:50px; font-weight:bold; font-size:18px}
.inbox4 .incjcob .inxwtit a{ display:block; width:55px; height:50px; line-height:50px;background:url(../images/tbmo.gif) no-repeat right center}


.inbox4 .incjcob .xwsyboxw{ width:369px; height:auto;}
.inbox4 .incjcob .xwsyboxw a{ display:block; width:100%; height:auto; padding-bottom:12px; margin-bottom:12px; border-bottom:1px dashed #dedede}
.inbox4 .incjcob .xwsyboxw a h3{ font-weight:100px; height:30px; line-height:30px; display:block; width:334px; padding-left:35px; background:url(../images/wen.gif) no-repeat 0 6px; overflow:hidden; font-size:16px}
.inbox4 .incjcob .xwsyboxw a p{ display:block; width:334px; height:90px; padding-left:35px; background:url(../images/da.gif) no-repeat 0 6px; overflow:hidden}
.inbox4 .incjcob .xwsyboxw a p,.inbox4 .incjcob .xwsyboxw a p *{ color:#555; line-height:30px}
.inbox4 .incjcob .xwsyboxw a:hover h3{ color:#dc323b}



.inbox5{ margin-top:50px}
.inbox5 .inxwtit{ width:1200px; height:60px;background:url(../images/xw1.jpg) no-repeat 0 bottom; margin:0 auto 35px}
.inbox5 .inxwtit p{ line-height:50px; font-weight:bold; font-size:18px}
.inbox5 .inxwtit a{ display:block; width:55px; height:50px; line-height:50px;background:url(../images/tbmo.gif) no-repeat right center}

.mr_frbox3e {HEIGHT: auto; width:1320px;  margin:0px auto 0; position:relative; }
.mr_frbox3e .leftprole{ position:absolute; left:0; top:75px;CURSOR: pointer}
.mr_frbox3e .rightprore{ position:absolute; right:0; top:75px;CURSOR: pointer}

.imgboxcpe3{ width:1200px; height:207px; margin:15px auto 0; overflow:hidden}
.imgboxcpe3 ul li{ margin:0 40px 0 0px; display: inline; float:left; overflow:hidden;}
.imgboxcpe3 ul li a{ display:block; width:269px; height:202x;}
.imgboxcpe3 ul li a .imgali{ width:267px; height:200px; border:1px solid #e1e1e1; text-align:center; overflow:hidden}
.imgboxcpe3 ul li a .imgali span{ height:100%; display:inline-block; vertical-align:middle}
.imgboxcpe3 ul li a .imgali img{width:267px; height:200px; vertical-align: middle;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
.imgboxcpe3 ul li a:hover .imgali img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}



.cpsymf{ width:800px; height: auto;margin:0 auto 15px; text-align:center}
.cpsymf span{ font-size:22px; line-height:46px}
.cpsymf a{ padding:0 14px; line-height:32px; text-align:center; display: inline-block; border:1px solid #e6e6e6; margin:3px; font-size:14px}
.cpsymf a:hover{border:1px solid #2870b8; color:#fff; background:#2870b8}
.hei130{ height:130px !important}

.prolist{ width:250px; height:auto;}
.titcplde{ display:block; width:100%;height:60px; font-size:25px; line-height:35px; padding-top:10px;color:#fff; background:#d4131b; text-align:center}
.titcplde span{ font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#eaa7a8; line-height:20px; text-transform:uppercase}
.mbcpny{ width:248px; height:auto; border:1px solid #e3e3e3; border-top:none; background:#f7f7f7}
.borbotn{ border-bottom:none !important}
.mt22{ margin-top:22px}
.inlxgei{ height:224px; padding:10px 0}
.inlxgei p{ width:90%; margin:0 auto; line-height:28px}
.onelist{ display: block; width:248px; height:50px; line-height:50px;  font-size:16px; text-indent:49px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background:url(../images/cpyj.png) no-repeat 19px 17px #fff; border-bottom:1px solid #e3e3e3; font-weight:bold; color:#434343}
.onelist:hover{ text-decoration:none; color:#e20111; background:url(../images/cpyj2.png) no-repeat 19px 17px #fff;}
.onelista,.onelista:hover{display: block; width:248px; height:50px; line-height:50px;  font-size:16px; text-indent:49px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background:url(../images/cpyj.png) no-repeat 19px 17px #fff; border-bottom:1px solid #e3e3e3; font-weight:bold}

.twolist{ display: block; width:216px; height:30px; line-height:30px;  font-size:14px; text-indent:50px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:url(../images/ercp.gif) no-repeat 32px center; color:#444}

.letelbox{ background:url(../images/letel.png) no-repeat 16px center #015aaa; padding:22px 0 23px 77px}
.letelbox p{ color:#fff; line-height:16px}
.letelbox{ color:#fff; font-family:impact; font-size:23px; line-height:32px}

.syewmd{ padding:40px 0}

.incpshow{ width:942px; height:auto}
#tzbdfc{ width:928px; height:400px; background:#fff; position: relative}
#tzbdfc .leftprole{ position:absolute; left:0; top:180px; width:25px; height:47px; padding:0 12px; cursor:pointer}
#tzbdfc .rightprore{ position:absolute; right:0; top:180px; width:25px; height:47px; padding:0 12px; cursor:pointer}
#tzbdfc #tzgund{ width:790px; height:322px; position:absolute; left:67px; top:43px}
#tzbdfc #tzgund .fl{ width:428px; height:320px; display:block; border:1px solid #e6e6e6; overflow:hidden}
#tzbdfc #tzgund .fl img{ width:428px; height:320px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
#tzbdfc #tzgund .fl:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
#tzbdfc #tzgund div.fr{ width:325px; height:auto}
#tzbdfc #tzgund div.fr h3.textover{ width:100%; height:52px; line-height:52px; border-bottom:2px solid #d7d7d7; display:block; overflow:hidden; font-size:22px; font-weight:bold}
#tzbdfc #tzgund div.fr .tzcon{ width:100%;max-height:125px; overflow:hidden; margin:20px 0}
#tzbdfc #tzgund div.fr .tzcon,#tzbdfc #tzgund div.fr .tzcon *{ color:#333333; line-height:25px}
#tzbdfc #tzgund div.fr a{ display:block; width:136px; height:31px; background:#434343; line-height:31px; color:#fff; text-align:center}
#tzbdfc #tzgund div.fr a:hover{ background:#dc323b}

.incpshow .tj6g{ width:100%; height:auto;  }
.incpshow .tj6g a{ display: block; width:290px; height:286px; 
border:1px solid #e3e3e3;
background:#fff; margin:20px 0 15px 14px; position:relative; float: left; display:inline}
.incpshow .tj6g a div{ width:280px; height:216px; overflow:hidden; position:absolute; left:5px; top:5px; }
.incpshow .tj6g a div img{ width:290px; height:216px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
.incpshow .tj6g a:hover div img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.incpshow .tj6g a h3{ display:block; width:290px; height:60px; border-top:1px solid #ebebeb; position:absolute; left:0; bottom:0; z-index:9999;line-height:60px;font-size:18px;overflow:hidden; text-align:center}



.lxtit{ width:201px; height:35px;background:url(../images/dian.png) 11px 10px no-repeat #0261ae; line-height:35px; text-indent:46px; color:#fff; font-weight:bold; margin-top:17px}
.lxmaindw{ background:#dddddd; padding:10px 0 10px 10px}

.nban{ width:100%; height:200px; background:url(../images/nban.jpg) center 0 no-repeat }


.m_1 {
}
.m_1 > li {
  overflow: hidden;
  position: relative;
}
.m_1 > li > a {
  display: block; width:216px; height:41px; line-height:41px; font-size:16px; text-indent:31px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background:url(../images/cpyj.png) no-repeat 13px center #e8e8e8; margin:4px auto; font-weight:bold
}

.m_1 > li:hover > a {
display: block; width:216px; height:41px; line-height:41px;  font-size:16px; text-indent:31px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background:url(../images/cpyj.png) no-repeat 13px center #e8e8e8; margin:4px auto;text-decoration:underline; color:#222; font-weight:bold
}

.m_1 > li > a.active{
display: block; width:216px; height:41px; line-height:41px; font-size:16px; text-indent:31px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background:url(../images/cpyj2.png) no-repeat 13px center #1e77c7; margin:4px auto;text-decoration:none; color:#fff; font-weight:bold
}

.m_1 > li .menu_btn {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.m_1 > li .menu_btn_active {
  background: ;
}
.m_1 > li .menu_btn:hover {
  background-color:;
}
.m_2 {
  display: none;
}




.m_2 > li {

}
.m_2 > li:last-child {

}
.m_2 > li:first-child {

}



.m_2 > li a{
  display: block; width:216px; height:30px; line-height:30px;  font-size:13px; text-indent:35px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:url(../images/ercp.gif) no-repeat 20px 11px
}

.m_2 > li a:hover {
 display: block; width:216px; height:30px; line-height:30px;  font-size:13px; text-indent:35px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:url(../images/ercp.gif) no-repeat 20px 11px; color:#ce2029; 
}

.m_2 > li a.active{
 display: block; width:216px; height:30px; line-height:30px;  font-size:13px; text-indent:35px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:url(../images/ercp.gif) no-repeat 20px 11px; color:#ce2029; font-weight:bold
}

.m_2 > li a span{ color:#666; font-family:宋体; font-style:14px; line-height:30px
}




.ysbgsy{ width:100%; height:48px; background:url(../images/yshui2.jpg) no-repeat center 0}






.yspicbt{ width:100%; height:239px;background:url(../images/ysbttu.jpg) no-repeat center 0; margin-top:50px}
.yspicbt2{ width:100%; height:267px;background:url(../images/ysbttu2.jpg) no-repeat center 0; margin-top:50px}

.fsfw6{ text-align:center; line-height:30px; font-size:22px; padding-bottom:30px}

.advantage{ width:1200px; margin:0 auto; margin:0 auto; margin-top:40px;}
.advantage .title{ width:1200px; height:115px; display:block; text-align:center;margin:0 auto;  background:url(../images/adv_t.jpg) center 25px no-repeat;}
.advantage .title .bb{ color:#f8780b; font-size:30px; line-height:30px;font-weight:bold;}
.advantage .title .dd{ line-height:30px; color:#444; font-size:15px}
.advantage .content{ width:1200px; margin:0 auto;position:relative }
.advantage .content .con1{ width:1200px; margin:0 auto; background:url(../images/adv1.jpg) right top no-repeat; height:550px;}
.advantage .content .con2{ width:1200px; margin:-10px auto; background:url(../images/adv2.jpg) left top no-repeat; height:450px;}

.nero{width: 600px; position:absolute;} 

.nero .jieshi{ width:540px;  margin:0 auto; height:100px}
.nero .jieshi .ee{ color:#e60012; margin:0 0 0 50px; font-size:24px; font-weight:bold; line-height:40px; } 
.nero .jieshi .ee p{ line-height:30px; font-size:18px; font-weight:100;text-transform:uppercase; color:#999}
.nero ul{ clear:both; width:600px;}
.nero ul li{ color:#666666; background:url(../images/y_icon.jpg) no-repeat 30px 13px; line-height:30px; padding-left:60px; font-size:16px}

.teseall{ width:100%; height:360px; background:#ebf7ff; margin-top:30px; padding-top:40px}
.tese{ width:1000px; margin:0 auto;}
.tese .title{ width:1000px; text-align:center; height:50px}
.tese .title .oo{ width:1000px; font-size:25px; font-weight:bold}
.tese .title .oo span{ color:#f59039; font-size:30px; font-weight:bold}
.tese .content{ width:1100px; margin:0 auto; height:240px; padding-top:40px}
.tese .content .te{ width:164px;height:160px;background:url(../images/bg.gif) left top no-repeat;color:#fff; font-size:22px;padding-top:25px; text-align:center}
.tese .content .te span{ font-size:14px;color:#fff}
.margin{ margin-left:45px;}

.n1{ top:10px; left:0px; background:url(../images/01.jpg) no-repeat left top; }
.n2{ top:280px; left:0px; background:url(../images/02.jpg) no-repeat left top; }
.n3{ top:530px; right:0px; background:url(../images/03.jpg) no-repeat left top; }
.n4{ top:780px; right:0px; background:url(../images/04.jpg) no-repeat left top; }









.mt30{ margin-top:30px}
.mt40{ margin-top:40px}






.newsboxsy{ width:1200px; height:auto; margin:0px auto}
.xwrdg{ width:850px; height:auto; }
.xwrdg .titxes{ height:50px; background:#e9e9e9;margin-top:30px}
.xwrdg .titxes p{ background:url(../images/newtb.png) no-repeat 21px 0px #015aaa; padding:0 33px 0 56px; line-height:50px; font-size:18px; color:#fff; display:inline-block; font-weight:bold}
.xwrdg .titxes a,.xwrdg .titxes a:hover{padding:0 15px; line-height:50px;}
.xwrdg .tjwxyi{ margin:25px auto 10px; padding-bottom:25px; border-bottom:1px solid #e9e9e9}
.xwrdg .tjwxyi .piefe{ width:182px; height:107px; border:1px #dfdfdf solid; display:block; overflow:hidden; margin-right:20px}
.xwrdg .tjwxyi .piefe img{ width:182px; height:107px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
.xwrdg .tjwxyi .piefe:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.xwrdg .tjwxyi .wenzw1q{ font-size:16px; line-height:30px; display:block; width:640px; height:30px; overflow:hidden; font-weight:bold}
.xwrdg .tjwxyi .xwzyao{ width:640px; height:75px; overflow:hidden}
.xwrdg .tjwxyi .xwzyao,.xwrdg .tjwxyi .xwzyao *{line-height:25px; font-size:14px}

.xwrdg .xxwenbox li{ width:383px; height:39px; line-height:39px; padding-left:24px; border-bottom:1px dashed #ccc; float:left; background:url(../images/tb2.gif) no-repeat 8px center}
.xwrdg .xxwenbox li:nth-child(2n) {float:right}
.xwrdg .xxwenbox li a{ display:block; width:280px; height:39px; line-height:39px; overflow:hidden}
.xwrdg .xxwenbox li span{display:block; width:90px; height:39px; line-height:39px; color:#666; font-family:Arial, Helvetica, sans-serif; font-size:13px}


.cjwtbox{ width:315px; height:auto}
.cjwtbox .cjxes{ height:50px; background:#e9e9e9;margin-top:30px}
.cjwtbox .cjxes p{ background:url(../images/cjtb.png) no-repeat 16px 0px; padding:0 0 0 56px; line-height:50px; font-size:18px; color:#333333; display:inline-block; font-weight:bold}
.cjwtbox .cjxes a,.cjwtbox .cjxes a:hover{padding:0 15px; line-height:50px;}

.ckwtlist{ height:auto; border-bottom:1px dashed #ccc; padding:10px 0 11px}
.ckwtlist .cjahr{ display:block;width:270px; padding-left:40px; height:38px; line-height:38px; font-size:16px; font-weight:bold; overflow:hidden;background:url(../images/wen.gif) no-repeat 8px center}
.ckwtlist .cjsycnso{width:270px; padding-left:40px; height:72px;background:url(../images/da.gif) no-repeat 8px 2px}
.ckwtlist .cjsycnso,.ckwtlist .cjsycnso *{ font-size:14px; line-height:24px}

.bor50{ border-top:50px solid #fff}

.titcpdlu{ height:43px; border-top:2px solid #efa007; border-bottom:1px solid #efa007; margin-bottom:10px}
.titcpdlu p{ font-size:18px; font-weight:bold; line-height:43px; padding:0 10px;}
.titcpdlu a,.titcpdlu a:hover{ font-family:Arial, Helvetica, sans-serif; padding:0 10px; color:#015aaa; line-height:43px}

.hei300{ height:300px}
.newsnylef{ width:210px; margin:0 auto;}
.newsnylef a{ border-bottom:1px dashed #999999; height:35px; line-height:35px; width:210px; margin:0 auto; overflow:hidden; display:block; background:url(../images/tb.jpg) no-repeat 5px 15px; text-indent:20px}

.sgbanner{ background:url(../images/banner1.jpg) no-repeat center 0; width:100%; height:300px}

.proshhome{ width:937px; height: auto}
.propiclist{ width:287px; height:228px; margin:10px 10px 10px 13px; display:inline; float:left; position:relative; overflow:hidden;text-align:center}

.propiclist .imgboxcp{width:285px;height:200px; border:1px solid #a9a9a9; overflow:hidden}
.propiclist span{height:100%; display:inline-block; vertical-align: middle}
.propiclist img{  max-width:285px; max-height:200px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; vertical-align: middle;}
.propiclist:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.propiclist p{ line-height:35px; text-align:center; font-size:14px; font-weight:bold; height:35px; width:285px; display:block; overflow:hidden; position:absolute; top:203px; left:0px; transition:all .3s ease;}



.propiclistcp{ width:207px; height:310px; margin:20px 2px 0px 20px; display:inline; float:left; position:relative; overflow:hidden;text-align:center}
.propiclistcp .imgboxcp2{width:205px;height:275px; border:1px solid #f0f0f0; overflow:hidden}
.propiclistcp span{height:100%; display:inline-block; vertical-align: middle}
.propiclistcp img{  width:205px; height:275px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; vertical-align: middle;}
.propiclistcp:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.propiclistcp p{ line-height:35px; text-align:center; font-size:14px; font-weight:bold; height:35px; width:205px; display:block; overflow:hidden; position:absolute; top:277px; left:0px; transition:all .3s ease;}

.calistcp{ width:275px; height:228px; margin:10px 0px 10px 27px; display:inline; float:left; position:relative; overflow:hidden;text-align:center}
.calistcp .imgboxcp2{width:273px;height:200px; border:1px solid #f0f0f0; overflow:hidden}
.calistcp span{height:100%; display:inline-block; vertical-align: middle}
.calistcp img{  width:273px; height:200px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; vertical-align: middle;}
.calistcp:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.calistcp p{ line-height:35px; text-align:center; font-size:14px; font-weight:bold; height:35px; width:273px; display:block; overflow:hidden; position:absolute; top:203px; left:0px; transition:all .3s ease;}


.propical{ width:223px; height:198px; margin:15px 0px 15px 15px; display:inline; float:left; position:relative; overflow:hidden; border:1px solid #ddd}
.propical img{  width:223px; height:163px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s;}
.propical:hover img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.propical p{ line-height:35px; text-align:center; font-size:14px; font-weight:bold; height:35px; width:223px; display:block; overflow:hidden; position:absolute; top:163px; background:#fff; left:0; transition:all .3s ease;}
.propical:hover p{ color:#333; background:#dfdfdf}





.propiclist2{ width:207px; height:172px; margin:8px 11px; display:inline; float:left}
.propiclist2 img{ padding:5px; width:195px; height:136px; border:1px solid #efefef}
.propiclist2 p{ line-height:30px; text-align:center; font-size:14px; font-weight:bold; height:30px; width:200px; display:block; overflow:hidden}
.propiclist2:hover p{ color:#ff6600}


.proshhome22{ width:901px; height: auto; border:1px solid #dfdfdf; background:#fff; padding:10px 18px}
.proshhome22 img{ max-width:900px}
.listbot{ width:96%; margin:30px auto; text-align:right; line-height:50px; border-top:1px solid #dfdfdf;}

.proshhome33{ width:917px; height: auto; border:1px solid #dfdfdf; background:#fff; padding:10px}


.nytjpro{ display:block; width:202px; height:187x; text-align: center; line-height:35px; margin:0px auto 10px; padding-top:10px}
.nytjpro .imgali{ width:200px; height:150px; border:1px solid #f0f0f0; text-align:center; overflow:hidden}
.nytjpro .imgali span{ height:100%; display:inline-block; vertical-align:middle}
.nytjpro .imgali img{width:200px; height:150px; vertical-align: middle;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s; }
.nytjpro:hover .imgali img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}

.mt20{ margin-top:20px}


.footbox{ width:100%; margin-top:0px;}
.dh{height:49px; border-top:solid 1px #e0dede; border-top:solid 1px #e0dede; line-height:49px;  text-align:center}
.dh a{line-height:49px; padding:0 30px; font-size:16px; }
.footbox a:hover{ text-decoration:underline}

.footcont{ width:100%; margin:0 auto; background:#292c31; height:380px; color:#FFFFFF;font-size:14px; line-height:30px; padding-top:10px; text-align:center }
.footcont a{color:#abacad;font-size:14px; line-height:30px;}
.footcont ul{ width:1200px; margin:0 auto;}
.footcont ul li{ float:left; color:#abacad; height:380px; text-align:left}
.footcont ul li p{ color:#abacad; font-size:20px; font-weight:bold; margin-top:20px; font-family:Arial, Helvetica, sans-serif}
.footcont ul li span{ font-size:16px; font-weight:100; color:#abacad;}
.footcont ul li .del{ margin-top:20px;}
.footcont ul li .del dl dt{ background:url(../images/del.jpg) no-repeat left center; height:51px;}
.footcont ul li .del dl dd{ color:#abacad; font-size:14px; text-indent:45px; line-height:40px;}
.footcont ul li .add{ margin-top:20px;}
.footcont ul li .list{ width:460px; margin-top:15px}
.footcont ul li .list dl{ float:left; width:230px; float:left; display:block;}
.footcont ul li .list dl dd{  font-size:16px; line-height:30px;}
.footcont ul li .list dl dt{ font-size:12px; line-height:25px;}


.footcont ul li .add dl dt{ background:url(../images/add.jpg) no-repeat left center; height:51px;}
.footcont ul li .add dl dd{ color:#abacad; font-size:14px; text-indent:45px; line-height:40px;}
.footcont ul li .wx{ width:250px; margin-top:20px;}
.footcont ul li .wx dl dd{ float:left; margin-right:4px;margin-left:4px; text-align:center; color:#abacad}

.foot_bg{ background:#dc323b; text-align:center; color:#FFFFFF; height:43px; line-height:43px;}
.foot_bg a{color:#fff}





.titleny{ width:917px; height:30px; border:1px solid #dfdfdf; background:#f1f1f1; padding:0 10px; margin-bottom:20px}
.titleny,.titleny *{ line-height:30px}
.titleny h3{ font-weight:bold;}

.newslist_b{ height:100px; width:900px; margin:10px auto 10px; border-bottom:1px dashed #aaa}
.newslist_b .titlenews{ height:35px; width:900px; line-height:38px;}
.newslist_b .titlenews a{ height:35px; width:760px; display:block; overflow:hidden; line-height:35px; font-size:18px;text-overflow:ellipsis;white-space:nowrap; font-weight:bold}
.newslist_b .titlenews span{ height:35px; width:98px; display:block; overflow:hidden; line-height:35px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666}
.newslist_b .abstract{ display:block; height:44px; overflow:hidden; width:900px}
.newslist_b .abstract,.newslist_b .abstract *{line-height:22px; font-size:14px;}


.xzlist_b{ height:35px; width:900px; margin:0px auto;background:url(../images/ercp.gif) no-repeat 15px center}
.xzlist_b .titlenews{ height:35px; width:900px; line-height:38px;}
.xzlist_b .titlenews a{ height:35px; width:760px; display:block; overflow:hidden; text-indent:30px; line-height:35px; font-size:14px;text-overflow:ellipsis;white-space:nowrap;}
.xzlist_b .titlenews span{ height:35px; width:98px; display:block; overflow:hidden; line-height:35px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666}
.xzlist_b:hover{ background:url(../images/ercp.gif) no-repeat 15px center #f5f5f5}





.guestbook_top{ height:40px; background:#eee; line-height:40px; padding:0 10px 0 17px;}
.guestbook_top .mustwrt{ display:block; float:right;} 
.guestbook_form .inp_one{ width:180px;height:25px;outline: none;border:1px solid #ccc;padding-left: 4px;}
.guestbook_form .inp_one:focus{border:1px solid #0080CA;}
.guestbook_form{ padding:20px 20px 0;}
.guestbook_form dl{ width:100%; overflow:hidden;line-height:25px; height:25px; padding:10px 0;}
.guestbook_form dt{ width:80px; float:left;}
.guestbook_form dd{ width:510px; float:left; }
.guestbook_form dd span{padding-left:20px}
.guestbook_form dd span i{ color:#F00; padding:0 5px; }
.guestbook_form dd span.quetion{ display:block;}
.guestbook_form .bookdl{ height:240px; overflow:hidden;line-height:20px; padding-bottom:0;}
.guestbook_form .button{width:150px;height:32px; background:#b8b8b8; border:none; margin-right:10px; color:#fff;cursor: pointer;}
.guestbook_form .button:hover{ background:#f1f1f1; color:#555;}
.guestbook_form .form_b{ width: 693px;margin:0 auto;padding:20px 0 20px 0;}

.guestbook_title{ padding:20px 20px 0; color:#2a6cd4}
.guestbook_title strong{ color:#f00;}
.guestbook_title b{ padding:0 10px; font-weight:normal;}
.guestbook_cnt{ padding:5px 20px 20px;border-bottom: 1px dashed #ccc}
.guestbook_reply{ color:#f00; background:#f6f6f6; line-height:40px;}


.proshow{ width:882px; margin:0 auto}
.proshow .prtitle{ line-height:35px; text-align:center; font-size:25px; padding:10px 0; font-weight:bold}
.proshow .fubio{ line-height:30px; background:#f1f1f1; text-align:center; border-bottom:20px solid #fff}
.proshow .primgpic{ width:882px; height:auto; overflow-x:hidden; margin:0 auto; text-align:center}
.proshow .primgpic img{ max-width:880px; border:1px solid #ddd}
.proshow .prtent img{max-width:880px; margin-top:5px; margin-bottom:5px}
.proshow .prtent{ padding-left:10px; padding-right:10px}
.proshow .anotnd{ padding-left:10px; padding-right:10px; border-top:1px dashed #aaa; border-bottom:1px dashed #aaa; margin:20px auto}
.proshow .anotnd,.proshow .anotnd *{ color:#666; line-height:35px}
.proshow .next{ padding:0px 20px 20px; color:#666}
.proshow .pos{ height:16px; line-height:16px; border-bottom:1px dashed #aaa; text-align:center; padding-bottom:8px; margin-bottom:15px; color:#999}
.proshow .prtent p{ margin-top:10px;margin-bottom:10px}



.proshowkp{ width:902px; margin:0 auto; border-top:15px solid #fff; border-bottom:15px solid #fff}
.proshowkp .prtitlekp{ line-height:35px; text-align:center; font-size:25px; padding:10px 0; font-weight:bold}
.proshowkp .fubiokp{ line-height:30px; background:#f1f1f1; text-align:center; border-bottom:20px solid #fff}
.proshowkp .primgpickp{ width:902px; height:auto; overflow-x:hidden; margin:0 auto; text-align:center}
.proshowkp .primgpickp img{ max-width:900px; border:1px solid #ddd}
.proshowkp .prtentkp img{max-width:900px; margin-top:5px; margin-bottom:5px}
.proshowkp #niuids span{ color:#999;}
.proshowkp #niuids b{ font-family:impact; color:#e51d20; line-height:35px; font-size:25px}
.proshowkp #niuids p{ padding:5px 0}
.proshowkp .nextkp{ margin:30px auto; border-top:1px solid #ddd; padding-top:10px}



.martop20{ margin-top:20px}

.mt13{margin-top:13px}

.rigcpsh{ width:937px; height:auto}
.showtitle{ width:935px; height:35px; border:1px solid #e4e4e4; background:#f1f1f1}
.showtitle .btdfge{ padding:0 20px;  font-size:16px;line-height:35px;}
.showtitle .wettt2{ padding:0 20px}
.showtitle .wettt2,.showtitle .wettt2 *{ color:#999; line-height:35px; font-size:13px}
.proboxsh{ width:935px; height:auto; border:1px solid #e4e4e4; margin-top:13px}

.proshny{ width:868px; height: auto; padding:20px; margin:0 auto; min-height:486px;}
.proshny img{ max-width:860px}
.proshny,.proshny *{ line-height:35px; font-size:16px}
.proshny strong,.proshny b{ font-weight:bold}





.XRegina{ width: 100%;left: 0; top:280px; z-index: 9; display: block; background:url(../images/bg.jpg) repeat }
.XRegina .heada{height:45px; background:#4d4d4d; color:#fff; line-height:45px; font-size:15px;}
.XRegina .heada ul li{ float:left; line-height:45px; font-size:15px; color:#fff; display:block; text-align:center}
.XRegina .heada ul li.li1{ width:16%}
.XRegina .heada ul li.li2{ width:20%}
.XRegina .heada ul li.li3{ width:16%}
.XRegina .heada ul li.li4{ width:16%}
.XRegina .heada ul li.li5{ width:16%}
.XRegina .heada ul li.li6{ width:16%}
.XRegina .contenta{ width:100%; height:auto; background:url(../images/bg.jpg) repeat;line-height:45px; font-size:15px;}
.XRegina .contenta a{ width:100%; height:45px; display:block; color:#333; border-bottom:dotted 1px #CCC}
.XRegina .contenta a:hover{ width:100%; height:45px; display:block; background:#e3f1ff;color:#0572c4}

.XRegina .contenta ul li{ float:left; line-height:45px; font-size:15px;display:block; text-align:center}
.XRegina .contenta ul li a{line-height:45px; font-size:15px; color:#333; }
.XRegina .contenta ul li a:hover{line-height:45px; font-size:15px; color:#ca0000; }


.XRegina .contenta ul li.li1{ width:16%; height:45px;}
.XRegina .contenta ul li.li2{ width:20%; height:45px;}
.XRegina .contenta ul li.li3{ width:16%; height:45px;}
.XRegina .contenta ul li.li4{ width:16%; height:45px;}
.XRegina .contenta ul li.li5{ width:16%; height:45px;}
.XRegina .contenta ul li.li6{ width:16%; height:45px;}



.page{ width:95%;margin:10px auto; line-height:30px; text-align:right;}
.page span{ display:inline-block; padding:0 10px 0 0;}
.page a.num.select{ padding:3px 10px; color:#fff; background:#dc323b}
.page a.num{padding:0 10px;}
.page a.num:hover{ padding:3px 10px; color:#fff; background:#dc323b}

.week_map {
	position: relative;
	height: 350px;
	width: 870px; margin:30px auto
}
#allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

@charset "utf-8";

/*js代码(www.jsdaima.com)是IT资源下载与IT技能学习平台。我们拒绝滥竽充数，只提供精品IT资源！*/

*{padding:0;margin:0;font-family:"微软雅黑"}
*{padding:0;margin:0;font-family:"微软雅黑"}
ol,ul{list-style:none}
a{text-decoration:none;color:#686868}
img{border:0}
.side{position:fixed;width:78px;right:0;top:50%;margin-top:-200px;z-index:100;border:1px solid #e0e0e0;background:#fff;border-bottom:0}
.side ul li{width:78px;height:78px;float:left;position:relative;border-bottom:1px solid #e0e0e0;color:#333;font-size:14px;line-height:38px;text-align:center;transition:all .3s;cursor:pointer}
.side ul li:hover{background:#f67524;color:#fff}
.side ul li:hover a{color:#fff}
.side ul li i{height:25px;margin-bottom:1px;display:block;overflow:hidden;background-repeat:no-repeat;background-position:center center;background-size:auto 25px;margin-top:14px;transition:all .3s}
.side ul li i.bgs1{background-image:url(../images/right_pic5.png)}
.side ul li i.bgs2{background-image:url(../images/right_pic7.png)}
.side ul li i.bgs3{background-image:url(../images/right_pic2.png)}
.side ul li i.bgs4{background-image:url(../images/right_pic1.png)}
.side ul li i.bgs5{background-image:url(../images/right_pic3.png)}
.side ul li i.bgs6{background-image:url(../images/right_pic6_on.png)}
.side ul li:hover i.bgs1{background-image:url(../images/right_pic5_on.png)}
.side ul li:hover i.bgs2{background-image:url(../images/right_pic7_on.png)}
.side ul li:hover i.bgs3{background-image:url(../images/right_pic2_on.png)}
.side ul li:hover i.bgs4{background-image:url(../images/right_pic1_on.png)}
.side ul li:hover i.bgs5{background-image:url(../images/right_pic3_on.png)}
.side ul li .sidebox{position:absolute;width:78px;height:78px;top:0;right:0;transition:all .3s;overflow:hidden}
.side ul li.sidetop{background:#f67524;color:#fff}
.side ul li.sidetop:hover{opacity:.8;filter:Alpha(opacity=80)}
.side ul li.sideewm .ewBox.son{width:238px;display:none;color:#363636;text-align:center;padding-top:235px;position:absolute;left:-240px;top:0;background-image:url(../images/leftewm.png);background-repeat:no-repeat;background-position:center center;border:1px solid #e0e0e0}
.side ul li.sideetel .telBox.son{width:240px;height:237px;display:none;color:#fff;text-align:left;position:absolute;left:-240px;top:-79px;background:#f67524}
.side ul li.sideetel .telBox dd{display:block;height:118.5px;overflow:hidden;padding-left:82px;line-height:24px;font-size:18px}
.side ul li.sideetel .telBox dd span{display:block;line-height:28px;height:28px;overflow:hidden;margin-top:32px;font-size:18px}
.side ul li.sideetel .telBox dd.bgs1{background:url(../images/right_pic8.png) 28px center no-repeat;background-color:#e96410}
.side ul li.sideetel .telBox dd.bgs2{background:url(../images/right_pic9.png) 28px center no-repeat}
.side ul li:hover .son{display:block!important;animation:fadein 1s}
@keyframes fadein{from{opacity:0}
to{opacity:1}
}