

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>我的知产商城</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/admin_static/layuiadmin/layui/css/layui.css" media="all">
  <link th:href="@{'/admin_static/css/flex.css?version=7.2.4'}" rel="stylesheet">
  <link rel="stylesheet" href="/admin_static/layuiadmin/style/admin.css" media="all">
</head>
<style>
.table_box{background: #ffffff;margin-top: 10px;padding: 10px 14px;}
.son_page{padding: 10px 10px 0 10px;}
.white-box{background:#ffffff;padding:5px;}
.step-block > div {
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 5px;
    overflow: hidden;
}
.step-block > div:first-child {
    padding: 20px;
    width: 120px;
    margin-right: 5px;
    font-weight: bold;
    text-align: center;
 
}
.select-style li {float:left;width:200px;}
</style>
<body class="son_page">
 	<div class="white-box">
 	
 	<form class="layui-form" style="width:100%;">
		<div flex="dir:left box:first" class="step-block">
			<div style="height:75px;"><span>网站名称</span><br><span id="step1" class="step-location"></span></div>
			<div style="height:75px;overflow: visible;">
			  <div class="layui-form-item">
			    <label class="layui-form-label">网站名称</label>
			    <div class="layui-input-block">
					<input type="text" name="websiteName" required  lay-verify="required" placeholder="请输入网站名称" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			
			</div>
			
		</div>
		<div flex="dir:left box:first" class="step-block">
			<div style="height:250px;"><span>选择模板</span><br><span id="step1" class="step-location"></span></div>
			<div style="height:250px;overflow: visible;">
				<ul class="select-style">
					<li>
						<img  src="/news/images/dangzhen.png" style="display:block;width:100px;height:200px;">
						
						<div>
							<input type="checkbox" name="templateId"  value="1" title="模板一" lay-skin="primary" >
						</div>
						
					</li>
					<li>
						<img  src="/news/images/dangzhen.png" style="display:block;width:100px;height:200px;">
						
						<div>
							<input type="checkbox" name="" title="模板二" lay-skin="primary" >
						</div>
						
					</li>		
				</ul>
 
			</div>
			
		</div>
		
		<button type="button" lay-submit class="layui-btn layui-btn-normal save-submit" lay-filter="save">保存</button>
		</form>
 	</div>
 	

	<!-- websiteList -->
	
	 <input type="hidden" name="recordId"  th:value="${recordId}" />
  <script src="/admin_static/layuiadmin/layui/layui.js?t=1"></script> 
  <script src="/admin_static/model/account/editSite.js"></script>
  <script>
  layui.config({
	    base: '/admin_static/layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use('index');
  </script>
</body>
</html>

