

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>我的知产商城</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/admin_static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/admin_static/layuiadmin/style/admin.css" media="all">
</head>
<style>
.table_box{background: #ffffff;margin-top: 10px;padding: 10px 14px;}
.son_page{padding: 10px 10px 0 10px;}
</style>
<body class="son_page">
 	
	<div class="table_box">
		<span class="layui-btn layui-btn-normal"><a lay-href="/admin/edit_site" style="color:#ffffff;">添加知识产权服务平台</a></span>
		<span>
			<span>&nbsp;&nbsp;&nbsp;可创建商城数量：1个</span>
							<span>，剩余创建个数：1</span>
		</span>
		<table id="serviceList" lay-filter="serviceList"></table>
		  <table class="layui-table">
		    <colgroup>
		      <col width="150">
		      <col width="150">
		      <col >
		      <col width="100">
		    </colgroup>
		    <thead>
		      <tr>
		        <th>ID</th>
		        <th>名称</th>
		        <th>界面网址</th>
		        <th>操作</th>
		      </tr> 
		    </thead>
		    <tbody class="attr-tr-box">
		      <tr th:each="site : ${websiteList}">
		        <td class="attr-name" th:text="${site.recordId}"></td>
		        <td >
		        	<a    th:text="${site.websiteName}"></a>
		        </td>
		        <td >
		        	<a th:href="${site.domainUrl}" target="_blank"  th:text="${site.domainUrl}"></a>
		        </td> 
		        <td><a th:href="${'http://www.zging.com/admin/site?id='+site.recordId}" target="_blank" >进入管理</a></td>
		      </tr>
	
		    </tbody>
		  </table> 	
		
		
	</div>
	<!-- websiteList -->
	
	 <input type="hidden" name="typeId" id="typeId" th:value="${typeId}" />
  <script src="/admin_static/layuiadmin/layui/layui.js?t=1"></script> 
<!--   <script src="/admin_static/model/account/accountList.js"></script>  -->
  <script>
  layui.config({
	    base: '/admin_static/layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use('index');
  </script>
</body>
</html>

