<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>京合净化板系统管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/admin_static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/admin_static/layuiadmin/style/admin.css" media="all">
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="/" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords="> 
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
	          <shiro:user>
	              <cite  th:text="${user.username}" ></cite>
	          </shiro:user>
              
              
              
            </a>
            <dl class="layui-nav-child">
              <dd  style="text-align: center;"><a href="/user/logout">退出</a></dd>
            </dl>
          </li> 
        
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/console.html">
            <span>管理系统</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
			 
            <li data-name="news" class="layui-nav-item">
              <a href="javascript:;" lay-tips="组件" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>产品管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="button">
                  <a lay-href="/admin/news/list?type=6">手工净化板</a>
                </dd>
                <dd data-name="button">
                  <a lay-href="/admin/news/list?type=7">机制净化板</a>
                </dd> 
                <dd data-name="button">
                  <a lay-href="/admin/news/list?type=8">岩棉净化板</a>
                </dd>  
                <dd data-name="button">
                  <a lay-href="/admin/news/list?type=9">洁净门窗系列</a>
                </dd>
                <dd data-name="button">
                  <a lay-href="/admin/news/list?type=10">净化铝型材系列</a>
                </dd> 
                              
              </dl>
            </li> 
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/news/list?type=2" lay-tips="生产车间" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>生产车间</cite>
              </a>
 
            </li> 
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/news/list?type=3" lay-tips="荣誉资质" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>荣誉资质</cite>
              </a>
 
            </li> 
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/news/list?type=4" lay-tips="工程案例" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>工程案例</cite>
              </a>
 
            </li>                      
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/news/list?type=5" lay-tips="新闻资讯" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>新闻资讯</cite>
              </a>
 
            </li> 
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/news/list?type=17" lay-tips="常见问题" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>常见问题</cite>
              </a>
 
            </li> 
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/flink/list" lay-tips="友情链接" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>友情链接</cite>
              </a>
            </li> 
            <li data-name="news" class="layui-nav-item">
              <a lay-href="/admin/seo/list" lay-tips="网站SEO" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>网站SEO</cite>
              </a>
            </li> 
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="/admin/news/list?type=5" lay-attr="/admin/news/list?type=5" class="layui-this">新闻列表</li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/admin/news/list?type=5" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="/admin_static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/admin_static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  </script>
  
 
</body>
</html>


