

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>服务设置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/admin_static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/admin_static/layuiadmin/style/admin.css" media="all">
</head>
<style>
.table_box{background: #ffffff;margin-top: 10px;padding: 10px 14px;}
.son_page{padding: 10px 10px 0 10px;}
.layui-input-block{margin-left:0;}
</style>
<body class="son_page">
    <blockquote class="layui-elem-quote quoteBox" style="background:#ffffff;">
        <form class="layui-form">
        	<div class="layui-inline">
			    <div class="layui-input-block">
	            <select name="parentId" class="parentId" lay-filter="parentId">
	                <option value="">一级分类</option>
	                <option th:each="type:${firstType}" th:value="${type.typeId}"
	                        th:text="${type.typeName}"></option>
	            </select>			      
			    </div>
        	</div>
        	<div class="layui-inline">
			    <div class="layui-input-block">
		            <select name="typeId" class="typeId" id="typeId" lay-filter="typeId">
		                <option value="">二级分类</option>
		            </select>			      
			    </div>
        	</div>
        
            <div class="layui-inline">
                <div class="layui-input-inline" style="width:300px;">
                    <input type="text" id="keyword" class="layui-input" placeholder="服务名" />
                </div>
                <a class="layui-btn search_btn"  >搜索</a>
            </div>
        </form>
    </blockquote>
 
	<div class="table_box">
		<table id="tableList" lay-filter="tableList"></table>
	</div>

<!-- option -->	 
<!--操作-->
<script type="text/html" id="option">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    
</script>	 
<!-- <a class="layui-btn layui-btn-xs" lay-event="detail">删除</a> -->
  <script src="/admin_static/layuiadmin/layui/layui.js?t=1"></script> 
  <script src="/admin_static/model/service/baseServiceList.js"></script> 
  <script>

  </script>
</body>
</html>

