<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑服务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link th:href="@{'/admin_static/css/flex.css?version=7.2.4'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<style>
.panel .panel-header {
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
    text-align:left;
}
.panel .panel-body {
    padding: 1rem 0;
}
.head {
	height:40px;
	line-height:40px;
    z-index: 9;
    background: #ffffff;
    padding-left:10px;
}
form .head .head-content {
    background: #fff;
    border: 1px solid #eee;
    height: 40px;
}
.head-step {
    height: 100%;
    line-height:40px;
    margin-right:20px;
    display:block;
    float:left;
}
.step-block {
    position: relative;
}
.white-box{background:#ffffff;padding:5px;}
.step-block > div {
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 5px;
    overflow: hidden;
}
.step-block > div:first-child {
    padding: 20px;
    width: 120px;
    margin-right: 5px;
    font-weight: bold;
    text-align: center;
 
}
.attr-group{
	border: 1px solid #eee;
    padding: .5rem .75rem;
    margin-bottom: .5rem;
    border-radius: .15rem;
}
.attr-box{
	display:none;
}
</style>
<body class="childrenBody">
<div class="head">
	<div flex="dir:left" class="head-content">
		<a flex="cross:center" href="#step1" class="head-step">选择分类</a> 
		<a flex="cross:center" href="#step2" class="head-step">基本信息</a> 
		<a flex="cross:center" href="#step3" class="head-step">规格/库存</a> 
		<a flex="cross:center" href="#step6" class="head-step">营销</a> 
		<a flex="cross:center" href="#step5" class="head-step">分销设置</a> 
		<a flex="cross:center" href="#step7" class="head-step">快速购买</a> 
		<a flex="cross:center" href="#step4" class="head-step">商品详情</a>
	</div>
</div>
<div class="white-box" style="margin-top:20px">
<form class="layui-form" style="width:100%;">
<div class="panel">
	<div class="panel-header">商品编辑</div>
	<div class="panel-body">
		<div flex="dir:left box:first" class="step-block">
			<div style="height:75px;"><span>选择分类</span><br><span id="step1" class="step-location"></span></div>
			<div style="height:75px;overflow: visible;">
			  <div class="layui-form-item">
			    <label class="layui-form-label">选择分类</label>
			    <div class="layui-input-block">
		        	<div class="layui-inline">
					    <div class="layui-input-block" style="margin-left:0;">
			            <select name="parentId" class="parentId" lay-filter="parentId">
			                <option th:value="${service.firstTypeId}" th:text="${service.firstTypeName}"></option>
			                <option th:each="type:${firstType}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
					    </select>
					    </div>
		        	</div>
		        	<div class="layui-inline">
					    <div class="layui-input-block" style="margin-left:0;">
				            <select name="typeId" class="typeId" id="typeId" lay-filter="typeId">
				                <option th:value="${service.secondTypeId}" th:text="${service.secondTypeName}"></option>
								<option th:each="type:${secondType}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
				            </select>			      
					    </div>
		        	</div>
			    </div>
			  </div>
			
			</div>
			
		</div>
		
		<div flex="dir:left box:first" class="step-block">
			<div><span>基本信息</span><br><span id="step1" class="step-location"></span></div>
			<div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">服务名称</label>
			    <div class="layui-input-block">
			      <input type="text" name="title" th:value="${service.serviceName}" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">服务图片</label>
			    <div class="layui-input-block">
			      <input type="text" name="title"    placeholder="请输入标题" autocomplete="off" class="layui-input">
			    </div>
			  </div>	
			  <div class="layui-form-item">
			    <label class="layui-form-label">价格</label>
			    <div class="layui-input-block">
			      <input type="text" name="title"  th:value="${service.price}"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
			    </div>
			  </div>	
			</div>
		</div>		
		
		<div flex="dir:left box:first" class="step-block">
			<div><span>服务选项</span><br><span id="step1" class="step-location"></span></div>
			<div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">是否启用</label>
			    <div class="layui-input-block">
			    
			    	<input type="checkbox" class="is_attr" th:if="${service.isAttr == 1}" checked name="isAttr" lay-filter="isAttr" title="启用选项" lay-skin="primary" >
			    	<input type="checkbox" class="is_attr" th:if="${service.isAttr == 0}"  name="isAttr" lay-filter="isAttr" title="启用选项" lay-skin="primary" >
			      
			    </div>
			  </div>
			  <div class="attr-box">
				  <div class="layui-form-item">
				    <label class="layui-form-label">选项名</label>
				    <div class="layui-input-block" >
				    	<div class="attr-group layui-form-pane">
							  <div class="layui-form-item">
							    <label class="layui-form-label">选项值</label>
							    <div class="layui-input-inline">
							      <input type="text" name="attr-add-name"  placeholder="请输入" autocomplete="off" class="layui-input attr-add-name">
							    </div>
							    <div class="layui-input-inline"><button style="height:38px;width:60px;margin-left:-9px;" type="button" class="layui-btn layui-btn-sm layui-btn-normal attr-add">添加</button></div>
							    
							  </div>
				    	</div>
				    </div>
				  </div>  
			  <div class="layui-form-item">
			    <label class="layui-form-label">价格</label>
			    <div class="layui-input-block">
			    	<div>
					  <table class="layui-table">
					    <colgroup>
					      <col width="150">
					      <col width="150">
					      <col >
					      <col width="100">
					    </colgroup>
					    <thead>
					      <tr>
					        <th>选项名称</th>
					        <th>价格</th>
					        <th>选项介绍</th>
					        <th>操作</th>
					      </tr> 
					    </thead>
					    <tbody class="attr-tr-box">
					      <tr th:each="optionList:${service.optionList}">
					        <td class="attr-name" th:text="${optionList.attrName}"></td>
					        <td><input type="text" th:value="${optionList.attrPrice}" name="title" lay-verify="title" autocomplete="off" class="layui-input attr-price"></td>
					        <td class="attr-brief" >
					        	<input type="text" th:value="${optionList.attrBrief}" name="title" lay-verify="title" autocomplete="off" class="layui-input">
					        </td>
					        <td>删除</td>
					      </tr>
			 
					    </tbody>
					  </table> 	
			    	</div>
			    
			    </div>
			  </div>	
			  
			  </div>
	

			</div>
			
		</div>	
		
		<div flex="dir:left box:first" class="step-block">
			<div><span>基本信息</span><br><span id="step1" class="step-location"></span></div>
			<div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">图文详情</label>
			    <div class="layui-input-block">
			      <input type="text" name="content" th:value="${service.content}" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			</div>
			
		</div>	
	</div>
	<button type="button" lay-submit class="layui-btn layui-btn-normal save-submit" lay-filter="save">保存</button>
</div>
<input type="hidden" id="service_id" name="serviceId" th:value="${service.serviceId}">
</form>
</div>
<script src="/news/js/jquery-1.10.2.min_65682a2.js"></script> 
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript">
	chechAttrShow()
    
    function chechAttrShow(){
    	if($('.is_attr').is(':checked')){
    		$('.attr-box').show();
    		
    	}
    	
    }
    
</script>
<script type="text/javascript" th:src="@{'/admin_static/model/service/edit.js'}"></script>

</body>
</html>