/* index */
.index_cnt1_style{
    padding:22px 0px;
}
.index_cnt1_style img{
    width:100%;
}
.top_nav{
	height:29px;
	line-height: 29px;
	padding-left: 14px;
 
	margin-bottom:11px;
	background:rgba(248,248,248,1);
}
.con_left{
	width:210px;
	float:left;
}
.con_left .title{
	height:33px;
	line-height: 33px;
	font-size:20px;
	font-weight:500;
	color:rgba(0,0,0,1);
	background:rgba(230,236,242,1);
	padding-left:43px;	
	
}
.con_left  ul li {
	height:32px;
	line-height: 32px;
	font-size:16px;
	color:rgba(49,49,49,1);
	background:rgba(230,236,242,1);
	margin-bottom: 1px;
	position: relative;
	padding-left:43px;	
	
}
.con_left  ul li.hover{
	color:rgba(255,255,255,1);
	background:#DB0000;
	
	
}
.con_left  ul li .red_box {
	position: absolute;
	left:14px;
	top:12px;
	width:10px;height:9px;background:#DB0000;
}
.red_box{
	
}
.con_right{
	width:764px;
	float:right;
	border:1px solid rgba(219,219,219,1); 
}
.right_top{
	height:50px;
	padding-left: 37px;
	font-size:18px;
	line-height: 50px;
	font-weight:500;
	color:rgba(255,255,255,1);
	background-image: url(../images/right_top_bg.png);
	
}
.right_con{
	padding:12px;
	
}
.right_con ul li{
	display: list-item;
	font-size:14px;
	color:rgba(10,0,4,1);
	line-height: 30px;
	    text-align: -webkit-match-parent;
	/* border:1px solid rgba(219,219,219,1); */
}
.right_con ul li span{
	float:right;
}
.right_con ul li a {
    font-size: 14px;
    color: #333;
    padding-left: 14px;
    background: url(../images/point.png) no-repeat 0 center;
    _float: left;
}

.detail_box{
	border:1px solid rgba(219,219,219,1);
}
.detail_box_top{
	background: url(../images/red_line.png) no-repeat center bottom;
    padding: 0 20px 20px 20px;
    text-align: center;	
	
}
.index_title{
	font-size: 30px;
	    text-align: center;
	    color: #333333;
	    line-height: 40px;
}
.detali_con{
	padding-top:43px;
	margin:0 auto;
	font-size:12px;
	font-weight:500;
	color:rgba(52,52,52,1);
	line-height:30px;
}

.index_art_btn {
    text-align: center;
    padding: 0 100px;
    text-align: right;
	margin-top:16px;
}
.index_art_btn button{
width:68px;
height:22px;
background:rgba(22,139,223,1);
border: none;
	color:#ffffff;
    margin-left: 30px;
    cursor: pointer;
}
.col-art-footer {
	width: 780px;
	margin:0 auto;
	

    padding: 20px;
    
}
.col-art-footer li {
    line-height: 25px;
}
.col-art-footer li a {
    color: #666;
}