/* 公 */
.clearfix:after{
    content:".";       
    display:block;       
    height:0;       
    clear:both;       
    visibility:hidden;       
}
.clearfix{zoom:1}
.fl{
    float: left;
}
.fr{
    float: right;
}