/* header */
.head_styl{
    background: url(../images/index_top.png) no-repeat center;
    background-size:cover;
    height:238px;
    position: relative;
}
.head_styl>*{
    width:1000px;
    margin:0px auto;
}
.head_top_styl{
    padding-top:10px;  
    font-size: 14px;
    color: #000;
}
.head_top_styl a{
    color: #000;
}
.search_styl{
    position: relative;
}
.search_parent_styl{
position: absolute;
right:0px;
top:100px;
width:310px;
}
.search_parent_styl>input{
    height: 30px;
    box-sizing: border-box;
   border:none;
}
.search_parent_styl>.in_styl{
    width:232px;
    padding-left: 4px;
    border: 1px solid #1D8CF1;
}
.search_parent_styl>.button_styl{
    width:78px;
    background:#1C85E4 url(../images/search.png) no-repeat 15px center;
    color:#fff;
    padding-left:20px;
}
.search_parent_styl:hover .in_styl{
border:1px solid #D6D6D6;
}
.search_parent_styl:hover .button_styl{
background-color: #4FBD24;
}
.search_bot_styl{
    position: absolute;
    left: 50%;
    margin-left: -500px;
    bottom: -19px;
    height: 62px;
    box-sizing: border-box;
    background: url(../images/nav_bg1.png) no-repeat center;
    background-size: 100% 100%;
}
.search_bot_styl>a{
    display: block;
    width: 118px;
    height: 100%;
    line-height: 62px;
    text-align: center;
    font-size:16px;
    background: url(../images/nav_fenge.png) no-repeat left center;
    color: #fff;
}
.search_bot_styl>a:hover{
    cursor: pointer;
    background-color:#C70302;
    background-image:none;
}
.search_bot_styl>a:hover+a{
    background-image: none 
}
.search_bot_styl>a.active{
    background: #C70302
}
.search_bot_styl>a.active+a{
    background-image: none
}
.search_bot_styl>a:last-of-type{
    width:292px;
    color:#E10204;
    font-size:33px;
    background: url(../images/nav_bg2.png) no-repeat center !important;
    background-size: 100% 100% !important;
}
.search_bot_styl>a:last-of-type i{
    font-size: 19px;
    font-style: normal;
    padding-left: 10px;
    vertical-align: middle;
}
/* cnt */
.cnt_style{
    margin:0px auto;
    margin-top:19px;
    width:1000px;
   
}
/* footer */
.foot_styl{
    border-top:4px solid #486EB6;
    box-sizing: border-box;
}
.foot_styl>div{
    text-align: center;
    font-size: 20px;
    color: #000
}
.foot_styl>div a{
    color: #000;
    margin:0px 11px;
}
.link_styl{
    padding:28px 0 22px 0px;
}
.gonggan_styl{
    margin:16px 0px 8px 0;
}
.dangzhen_styl{
    margin-bottom: 40px;
}