/* index */
.index_cnt1_style{
    padding:22px 0px;
}
.index_cnt1_style img{
    width:100%;
}


.zixun {
    width: 156px;
    height: 38px;
    margin-left: 60px;
    margin-top: 20px;
    line-height: 38px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #e1e1e1;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
}