<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加商标</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="childrenBody" >

    <blockquote class="layui-elem-quote quoteBox" style="background:#ffffff;">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" id="keyword" class="layui-input" placeholder="请输入申请号或者申请人" />
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>(提示：选中搜索的结果，点击批量添加)
            </div>
        </form>
    </blockquote>
<div class="table_box" style="padding:10px;">
	<a class="layui-btn layui-btn-normal add_btn">批量添加</a>
	<table id="contentList" lay-filter="contentList"></table>
</div>
    
    <!--操作-->
    <script type="text/html" id="newsListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>

<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/model/patent/add.js'}"></script>
</body>
</html>