<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加banner</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
    <style>
    a {
    color: #0275d8;
    text-decoration: none;
}
    	.main-box{background:#ffffff;margin-bottom:10px;padding:10px;}
.banner_panel {
    padding: 0 1rem;
    background: #fff;
}

.banner_panel .panel-header {
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

.banner_panel .panel-header:after {
    clear: both;
    content: " ";
    display: block;
}

.banner_panel .panel-body {
    padding: 1rem 0;
}
.upload-preview {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    overflow: hidden;
    margin: 5px 0;
    display: inline-block;
}
.text-center {
    text-align: center!important;
}
.upload-preview .upload-preview-tip {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: .65rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 -1px 0 rgba(255, 255, 255, 0.75), 1px 0 0 rgba(255, 255, 255, 0.75), -1px 0 0 rgba(255, 255, 255, 0.75);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.25;
}
.upload-preview .upload-preview-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
}
.layui-input-block{width:600px;}
input[type=number] {
    -moz-appearance:textfield;
}
 
    </style>
</head>
<body class="childrenBody" >
	<div class="banner_panel mb-3">
	    <div class="panel-header">
	        <span>轮播图编辑</span>
	    </div>
	    <div class="panel-body ">
	    	<form class="layui-form" action="">
			  <div class="layui-form-item">
			    <label class="layui-form-label">标题</label>
			    <div class="layui-input-block" >
			      <input type="text" name="bannerTitle" th:value="${detail.bannerTitle}" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">页面链接</label>
			    <div class="layui-input-block">
			      <input type="text" name="pageUrl" th:value="${detail.pageUrl}" lay-verify="title" autocomplete="off" placeholder="请填写页面链接" class="layui-input">
			    </div>
			  </div>	    	
			  <div class="layui-form-item">
			    <label class="layui-form-label">排序</label>
			    <div class="layui-input-block">
			      <input type="number" name="orderSort"   th:value="${detail.id !=null ? detail.orderSort:'100'}"   autocomplete="off"  class="layui-input">
			    </div>
			  </div>
			  <div class="layui-form-item" style="width:700px;position: relative;">
			    <label class="layui-form-label">图片</label>
			    <div class="layui-input-block">
			      <input type="text" id="picPath"  class="layui-input" name="picPath" th:value="${detail.picPath}" lay-verify="title" autocomplete="off" placeholder="请上传图片" style="width:520px;">
			    </div>
			    <span class="layui-btn layui-btn-normal imgBtn" style="display:block;position:absolute;float:right;left:620px;top:0;">上传图片</span>
			  </div>
			  <input type="hidden"  name="id" th:value="${id}">
           	  
			  <div class="layui-form-item">
			    <div class="layui-input-block">
					  <div class="upload-preview text-center upload-preview">
		              	<span class="upload-preview-tip">750×360</span>
		              	<img class="upload-preview-img" th:src="${detail.picPath}" >
		              </div>
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <div class="layui-input-block">
					<button type="button" lay-submit="" lay-filter="editDetail" class="layui-btn layui-btn-normal ">保存</button>
			    </div>
			  </div>
	    	</form> 
	    </div>
</div>

<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/model/banner/edit.js'}"></script>
</body>
</html>