<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新闻管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
    <style>
    a {
    color: #0275d8;
    text-decoration: none;
}
    	.main-box{background:#ffffff;margin-bottom:10px;padding:10px;}
.banner_panel {
    padding: 0 1rem;
    background: #fff;
}

.banner_panel .panel-header {
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

.banner_panel .panel-header:after {
    clear: both;
    content: " ";
    display: block;
}

.banner_panel .panel-body {
    padding: 1rem 0;
}

.banner_panel .panel-footer {
    border-top: 1px solid #eee;
    padding: 1rem 0;
}

.banner_panel .panel-header .nav {
    float: left;
}

.banner_panel .panel-header .nav.nav-right {
    float: right;
}

.banner_panel .panel-header .nav-link {
    padding: 1rem 0;
    margin: 0 1rem -1px 1rem;
}

.banner_panel .panel-header .nav-item:first-child .nav-link {
    margin-left: 0;
}

.banner_panel .panel-header .nav-item:last-child .nav-link {
    margin-right: 0;
}

.banner_panel .panel-header .nav-link.active {
    border-bottom: 2px solid #449be6;
}

.banner_panel .panel-close {
    float: right;
    font-size: 1.5rem;
    height: 1.1429rem;
    font-weight: 700;
    text-decoration: none;
    color: #666;
    line-height: .9;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.card {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body{
	padding:10px;
	line-height:30px;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.text-muted {
    color: #636c72!important;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0,0,0,.125);
}
.card-img-top{
background-size: cover; background-position: center center; height: 158.933px;
}
    </style>
</head>
<body class="childrenBody" >
	<div class="banner_panel mb-3">
	    <div class="panel-header">
	        <span>商城首页轮播图</span>
	        <ul class="nav nav-right">
	            <li class="nav-item">
	                <a class="nav-link" lay-href="/admin/banner_edit.html">添加轮播图</a>
	            </li>
	        </ul>
	    </div>
	    <div class="panel-body layui-row">
	    	<div th:each="banner : ${bannerList} " class="layui-col-md3 layui-col-sm4" style="padding:10px;">
		    	<div  class="card " style="display: inline-block;width:100%;">
		            <div class="card-img-top" data-responsive="750:400" th:style="${'background-image: url('+banner.picPath+''}"></div>
		            <div class="card-body">
		                <p th:text="${'标题：'+banner.bannerTitle}"></p>
		                <div th:text="${'链接：'+banner.pageUrl}" style="white-space: nowrap;overflow: hidden;word-break: break-all;text-overflow: ellipsis;"></div>
		            </div>
		
		            <div class="card-footer text-muted">
		                <a th:lay-href="${'/admin/banner_edit.html?id='+banner.id}" class="layui-btn layui-btn-xs layui-btn-normal edit" th:data-id="${banner.id}">修改</a>
		                <a class="layui-btn layui-btn-xs layui-btn-danger delete" th:data-id="${banner.id}">删除</a>
		            </div>
		        </div>
	    	</div>

	                 
	    </div>

</div>

<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/model/banner/list.js'}"></script>
</body>
</html>