a {
    color: #337ab7;
    text-decoration: none;
}
a:hover{
	color:#337ab7;
}
.con-box{width:1200px;margin:150px auto;}
 
.introduce .btn-use {
    display: inline-block;
    margin-top: 72px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #2589ff;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    color: #2589ff;
    cursor: pointer;
}
    .introduce .btn-use:hover , .introduce .btn-intro:hover {
        background-color: #37b5ff;
        border-color: #37b5ff;
        text-decoration:none;
        color: #fff;
    }
.introduce .btn-intro {
    display: inline-block;
    margin: 72px 20px 0 20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #2589ff;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #2589ff;
}   
.full-top-bar-fixed {
    height: 60px;
    padding: 0;
    background-color: #353535;
}
 
.menu {
    float: left;
    list-style: none;
    color: #fff;
}
.btn-register {
    float: right;
    margin-top: 14px;
    height: 32px;
    line-height: 30px;
    width: 80px;
    color: #2589ff;
    background: #fff;
    border-radius: 16px;
    text-align: center;
}
.login {
    height: 32px;
    line-height: 30px;
    width: 80px;
    border-radius: 16px;
    margin-top: 14px;
    text-align: center;
    border: 1px solid #fff;
    float: right;
    margin-right: 16px;
    color: #fff;
}
.menu li {
    display: inline-block;
    margin-right: 36px;
    font-size: 14px;
}
.menu li a {
    display: inline-block;
    height: 100%;
    color: #fff;
}
.top_box{
	width:100%;height:60px;
	background-color: #353535;
}
.top-bar{width:1200px;margin:0 auto;}
    .menu li a:hover {
        color: #0099FF;
    }
