<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>我的商标</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<style>
/* 防止下拉框的下拉列表被隐藏---必须设置--- */        
    .layui-table-cell {            overflow: visible !important;        } 
    /* 使得下拉框与单元格刚好合适 */       
    td .layui-form-select{
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
    /*解决下拉框被表格覆盖样式问题*/
    .layui-form-select dl {
        z-index: 9999;
    }
/*     .layui-table-box {
        overflow: visible
    }
    .layui-table-body{
        overflow:visible;
    } */
    .layui-input-block {
    margin-left: 0px;
}
</style>
<body class="childrenBody" >
    <blockquote class="layui-elem-quote quoteBox" style="background:#ffffff;">
        <form class="layui-form">
        	<div class="layui-inline">
			    <div class="layui-input-block" style="width:140px;">
			      <select class="isTianmao" name="isTianmao" >
			        <option value="">是否有天猫记录</option>
			        <option value="1">是</option>
			        <option value="0">否</option>
			      </select>
			    </div>
        	</div>
        	<div class="layui-inline">
			    <div class="layui-input-block" style="width:120px;">
			      <select class="sellStatus" name="sellStatus" >
			        <option value="">交易状态</option>
			        <option value="">全部状态</option>
			        <option value="0">不出售</option>
			        <option value="1" selected>出售中</option>
			        <option value="2">预定中</option>
			        <option value="3">交易完成</option>
			      </select>
			    </div>
        	</div>
        	<div class="layui-inline">
			    <div class="layui-input-block" style="width:150px;">
			      <select class="tmCategoryNo" name="tmCategoryNo" >
			        <option value="">选择商标分类</option>
			        <option value="3-日化用品">3-日化用品</option>
			        <option value="9-科学仪器">9-科学仪器</option>
			        <option value="10-医疗器械">10-医疗器械</option>
			        <option value="11-灯具空调">11-灯具空调</option>
			        <option value="12-运输工具">12-运输工具</option>
			        <option value="14-珠宝钟表">14-珠宝钟表</option>
			        <option value="20-家具用品">20-家具用品</option>
			        <option value="25-服装鞋帽">25-服装鞋帽</option>
			        <option value="29-食品鱼肉">29-食品鱼肉</option>
			        <option value="43-餐饮住宿">43-餐饮住宿</option>
			      </select>
			    </div>
        	</div>
        
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" id="keyword" class="layui-input" placeholder="商标名" />
                </div>
                <a class="layui-btn search_btn"  >搜索</a>
            </div>
            <div class="layui-inline">
            <a class="layui-btn layui-btn-normal export_btn">导出EXCEL表格</a>
            </div>
        </form>
    </blockquote>
<div class="table_box">
	<table id="contentList" lay-filter="contentList"></table>
</div>
    <input type="hidden" id="statusStr" th:value="${statusStr}"/>
    <!--操作-->
    <script type="text/html" id="newsListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
<script type="text/html" id="selectSellStatus">



    <select name="Education" lay-filter="Education" data-value="{{d.Education}}"></select>
</script>
<script type="text/html" id="switchTianmao">
  <input type="checkbox" name="isTianmao" data-brandno="{{d.brandNo}}" value="{{d.isTianmao}}" lay-skin="switch" lay-text="有|没有" lay-filter="tianmao" {{ d.isTianmao == 0 ? '' : 'checked' }}>
</script>
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/model/brand/list.js'}"></script>
</body>
</html>