<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加内容</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" class="layui-input" lay-verify="required" placeholder="请输入标题">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">链接</label>
        <div class="layui-input-block">
            <input type="text" name="furl" class="layui-input" lay-verify="required" placeholder="请输入标题">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm layui-btn-primary" id="cancel_btn">取消</button>
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addNews">保存</button>
            <!-- <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="publishNews">发布</button> -->
        </div>
    </div>
</form>

<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript">

 
</script>
<script type="text/javascript" th:src="@{'/admin_static/model/flink/add.js'}"></script>
</body>
</html>