

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>新闻分类列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/admin_static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/admin_static/layuiadmin/style/admin.css" media="all">
      <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<style>

</style>
<body class="son_page">
 
	<div class="table_box">
	<div class="layui-input-inline">
        <a lay-href="/admin/news/edit_channel" type="button" class="layui-btn layui-btn-normal">添加分类</a>
    </div>
		<table id="serviceList" lay-filter="serviceList" style="margin-top:10px;"></table>
	</div>
	 <input type="hidden" name="typeId" id="typeId" th:value="${typeId}" />
  <script src="/admin_static/layuiadmin/layui/layui.js?t=1"></script> 
  <script src="/admin_static/model/news/channel.js"></script> 
  <script>

  </script>
</body>
</html>

