<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加新闻</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">新闻标题</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input" lay-verify="required" placeholder="请输入新闻标题">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">一级频道</label>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="parentChannel" id="parentChannel" lay-filter="parentChannel" lay-verify="required">
                <option value="">请选择一级频道</option>
                <option th:each="channel:${parentChannelList}" th:value="${channel.recordId}"
                        th:text="${channel.name}"></option>
            </select>
        </div>
        <label class="layui-form-label">二级频道</label>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="secondChannelId" id="secondChannel" lay-filter="secondChannel" lay-verify="required">
                <option value="">请选择二级频道</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">封面图片</label>
        <div class="layui-input-inline" style="width: 200px;">
            <button type="button" class="layui-btn" id="thumbnailBtn">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img" id="thumbnailImg">
            <input type="hidden" id="thumbnailPath" name="thumbnailPath">
        </div>
        <label class="layui-form-label">是否轮播</label>
        <div class="layui-input-inline" style="width: 200px;">
            <input type="radio" id="slideshowFlagTrue" name="slideshowFlag" value="true" title="是">
            <input type="radio" id="slideshowFlagFalse" name="slideshowFlag" value="false" title="否">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
            <input type="text" name="author" class="layui-input" placeholder="请输入作者">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">发布状态</label>
        <div class="layui-input-block">
            <input type="radio" id="statusTrue" name="status" value="true" title="显示">
            <input type="radio" id="statusFalse" name="status" value="false" title="隐藏" checked>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <script id="editor" name="content" type="text/plain" style="width:977px;height:400px;"></script>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">附件</label>
        <div class="layui-input-inline" style="width: 200px;">
            <input type="text" name="name" class="layui-input" placeholder="请输入附件名称">
        </div>
        <div class="layui-input-inline" style="width: 200px;">
            <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm layui-btn-primary" id="cancel_btn">取消</button>
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addNews">保存</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="publishNews">发布</button>
        </div>
    </div>
</form>
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/js/system/ueditor/ueditor.config.js'}"></script>
<script type="text/javascript" th:src="@{'/js/system/ueditor/ueditor.all.js'}"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    // 自定义图片上传url
    UE.Editor.prototype.getActionUrl = function (action) {
        if (action == 'uploadImg') {
            return '/ueditor/uploadImg';
        } else if(action == 'uploadFile') {
            return '/ueditor/uploadFile';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    };
</script>
<script type="text/javascript" th:src="@{'/js/system/news/add.js'}"></script>
</body>
</html>