<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>象山县管理平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/index.css'}" media="all"/>
</head>
<body class="main_body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    <div class="layui-header header">
        <div class="layui-main mag0">
            <a href="#" class="logo">管理平台</a>
            <!-- 顶级菜单 -->
            <ul class="layui-nav topLevelMenus">
                <li class="layui-nav-item" data-menu="system">
                    <a href="javascript:;">
                        <i class="layui-icon"></i><cite>系统功能</cite></a>
                </li>
                <li class="layui-nav-item" data-menu="user">
                    <a href="javascript:;">
                        <i class="layui-icon"></i><cite>用户中心</cite></a>
                </li>
            </ul>

            <!-- 顶部右侧菜单 -->
            <ul class="layui-nav top_menu">
                <li class="layui-nav-item" id="userInfo">
                    <a href="javascript:;">
                        <shiro:user>
                            <cite class="adminName" th:text="${user.username}"></cite>
                        </shiro:user>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/pageTag/userInfo"><i class="seraph icon-ziliao"
                                                                                   data-icon="icon-ziliao"></i><cite>个人资料</cite></a>
                        </dd>
                        <dd><a href="javascript:;" data-url="/pageTag/changePwd"><i class="seraph icon-xiugai"
                                                                                    data-icon="icon-xiugai"></i><cite>修改密码</cite></a>
                        </dd>
                        <dd><a href="/logout" class="signOut"><i class="seraph icon-tuichu"></i><cite>退出</cite></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black">
        <!--        <div class="user-photo">-->
        <!--            <shiro:user>-->
        <!--                <p>你好,<span class="userName" th:text="${user.username}"></span>！欢迎登录</p>-->
        <!--            </shiro:user>-->
        <!--        </div>-->
        <div class="navBar layui-side-scroll" id="navBar">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-this">
                </li>
            </ul>
        </div>
    </div>
    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
        <div class="layui-tab mag0" lay-filter="bodyTab" id="top_tabs_box">
            <ul class="layui-tab-title top_tab" id="top_tabs">
                <li class="layui-this" lay-id=""><i class="layui-icon">&#xe68e;</i> <cite>欢迎</cite></li>
            </ul>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon caozuo">&#xe643;</i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="refresh refreshThis">
                            刷新当前</a></dd>
                        <dd><a href="javascript:;" class="closePageOther"><i class="seraph icon-prohibit"></i> 关闭其他</a>
                        </dd>
                        <dd><a href="javascript:;" class="closePageAll"><i class="seraph icon-guanbi"></i> 关闭全部</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <iframe src="/user/index/main"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="layui-footer footer">
        <p><span></span></p>
    </div>
</div>

<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/js/system/index/index.js'}"></script>
<script type="text/javascript" th:src="@{'/js/system/index/cache.js'}"></script>
</body>
</html>