.g_body {
    height: 100%;
}
body {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    font-family: 微软雅黑;
    color: #222222;
}
#web {
    background: #fff;
}
.g_web {
    position: relative;
    min-height: 100%;
}
.webHeaderTable {
    position: relative;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}
#webHeaderTable {
    display: table !important;
    height: 170px !important;
}
#webHeaderTable .webHeaderTd {
    height: 170px;
}
.webHeaderTable .webHeaderTd {
    vertical-align: bottom;
    height: 100%;
    -webkit-transition: background-image .3s,background-color .3s;
    -o-transition: background-image .3s,background-color .3s;
    -moz-transition: background-image .3s,background-color .3s;
    transition: background-image .3s,background-color .3s;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    width: 100%;
}
#fk-webHeaderZone {
    width: 1200px;
    margin:0 auto;
}