<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑分类</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="son_page">
<div class="white-box" style="min-height:500px;">
<form class="layui-form" style="width:70%;padding-top:20px;">
  <div class="layui-form-item">
    <label class="layui-form-label">父级分类</label>
    <div class="layui-input-block">
		   <select name="parentChannelId" id="parentChannel" lay-filter="parentChannel">
		       <option value="">无</option>
		       <option th:each="channel:${parentChannelList}" th:value="${channel.id}"
		               th:text="${channel.name}"></option>
		   </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">分类名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
        <input type="hidden" value=""  name="id"   />
 
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="save">保存</button>
        </div>
</form>
</div>


<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>

 
<script type="text/javascript" th:src="@{'/admin_static/model/news/editChannel.js'}"></script>
</body>
</html>