	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑新闻</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">新闻标题</label>
        <div class="layui-input-block">
            <input type="text"  th:value="${news.title}" name="title" class="layui-input" lay-verify="required" placeholder="请输入新闻标题">
        </div>
    </div>

 
    
     <div class="layui-form-item layui-row layui-col-xs12" style="height:100px;">  
        <label class="layui-form-label" style="line-height:80px;">封面图片</label>
        <div class="layui-input-inline" style="width: 490px;">
            <button type="button" class="layui-btn"  style="display:block;float:left;margin-top:30px;" id="thumbnailBtn">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img id="thumbnailImg" style="max-width:200px;max-height:100px;display:block;float:left;margin-left:20px;" th:if="${news.thumbnailPath != null && news.thumbnailPath != ''}" th:src="${news.thumbnailPath}"  />
            <input type="hidden" id="thumbnailPath" name="thumbnailPath">
        </div>
    </div> 
    <div class="layui-form-item layui-row layui-col-xs12" style="dispaly:none;" id="abstract_con">
	    <label class="layui-form-label">摘要</label>
	    <div class="layui-input-block">
	      <textarea name="abstractCon" placeholder="请输入摘要内容" class="layui-textarea" th:text="${news.abstractCon}"></textarea>
	    </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <script id="editor" name="content" type="text/plain" style="width:977px;height:400px;"></script>
        </div>
    </div>
 
    
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm layui-btn-primary" id="cancel_btn">取消</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" type="button" lay-submit="" lay-filter="addNews">保存</button>
        </div>
    </div>
    <input type="hidden" th:value="${news.content}" name="contentHtml" id="contentHtml">
    <input type="hidden" id="news_id" name="recordId" th:value="${news.recordId}">
</form>
<script src="/news/js/jquery-1.10.2.min_65682a2.js"></script> 
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/ueditor/ueditor.config.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/ueditor/ueditor.all.js'}"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
    setContent();
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    // 自定义图片上传url
    UE.Editor.prototype.getActionUrl = function (action) {
        if (action == 'uploadImg') {
            return '/ueditor/uploadImg';
        } else if(action == 'uploadFile') {
            return '/ueditor/uploadFile';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    };
    
    function setContent(){
    	/* ue.ready(function () {
    		var value = prompt('插入html代码', '');
    		ue.execCommand('insertHtml', value);
        });  */
    	ue.addListener("ready", function () {
    		var contentHtml = $("#contentHtml").val();
    		console.log(contentHtml);
   		　ue.setContent(contentHtml,true);
   		}); 
    }
    

    
</script>
<script type="text/javascript" th:src="@{'/admin_static/model/news/update.js'}"></script>

</body>
</html>