﻿.bannerf {
    height: 360px;
    margin-bottom: 20px;
}
.sort-category-con{
    width: 868px;
	overflow: hidden;
	display: none;
}
.tradmark-panel{
	display: block;
}
.tradmark-panel a{
	width: 172px;
	height: 172px;
	overflow: hidden;
	display: block;
	float: left;
	margin: 0 2px 2px 0;
	background-color: #fff;
	letter-spacing: 2px;
	text-align: center;
}
.tradmark-panel a span{
	line-height: 36px;
	font-size: 14px;
	color: #333;
	display: block;
}
.tradmark-panel a p{
	font-size: 18px;
	color: #333;
	display: block;
}
.tradmark-panel a:hover{
	background-color: #8c92b7;
}
.special-panel{
	width: 348px;
	float: left;
}
.special-last{
	width: 172px;
}
.tradmark-panel a.special-mar{
	margin-right: 0;
}
.tradmark-panel a i{
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: block;
    margin: 28px auto 0;
    background: url("../images/category-ico.png") no-repeat left top;
}
.tradmark-panel a:hover i{
    background: url("../images/category-ico-hover.png") no-repeat left top;
}
.tradmark-panel a.category-ico1 i{
    background-position: 0 0;
}
.tradmark-panel a.category-ico2 i{
    background-position: 0 -60px;
}
.tradmark-panel a.category-ico3 i{
    background-position: 0 -120px;
}
.tradmark-panel a.category-ico4 i{
    background-position: 0 -180px;
}
.tradmark-panel a.category-ico5 i{
    background-position: 0 -240px;
}
.tradmark-panel a.category-ico6 i{
    background-position: 0 -300px;
}
.tradmark-panel a.category-ico7 i{
    background-position: 0 -360px;
}
.tradmark-panel a.category-ico8 i{
    background-position: 0 -420px;
}
.tradmark-panel a.category-ico9{
    background: url("../images/category-bj9.jpg") no-repeat center;
}
.tradmark-panel a.category-ico9:hover{
    background: url("../images/category-bj-hover9.jpg") no-repeat center;
}
.tradmark-panel a.category-ico9 i{
    background-position: 0 -480px;
}
.tradmark-panel a.category-ico10 i{
    background-position: 0 -540px;
}
.tradmark-panel a.category-ico11{
    background: url("../images/category-bj11.jpg") no-repeat center;
}
.tradmark-panel a.category-ico11:hover{
    background: url("../images/category-bj-hover11.jpg") no-repeat center;
}
.tradmark-panel a.category-ico11 i{
    background-position: 0 -600px;
}
.tradmark-panel a.category-ico12 i{
    background-position: 0 -660px;
}
.tradmark-panel a.category-ico13 i{
    background-position: 0 -720px;
}
.tradmark-panel a.category-ico14 i{
    background-position: 0 -780px;
}
.tradmark-panel a.category-ico15 i{
    background-position: 0 -840px;
}
.tradmark-panel a.category-ico16{
    background: url("../images/category-bj16.jpg") no-repeat center;
}
.tradmark-panel a.category-ico16:hover{
    background: url("../images/category-bj-hover16.jpg") no-repeat center;
}
.tradmark-panel a.category-ico16 i{
    background-position: 0 -900px;
}
.tradmark-panel a.category-ico17 i{
    background-position: 0 -960px;
}
.tradmark-panel a.category-ico18 i{
    background-position: 0 -1020px;
}
.tradmark-panel a.category-ico19 i{
    background-position: 0 -1080px;
}
.tradmark-panel a.category-ico20 i{
    background-position: 0 -1140px;
}
.tradmark-panel a.category-ico21 i{
    background-position: 0 -1200px;
}
.tradmark-panel a.category-ico22 i{
    background-position: 0 -1260px;
}
.tradmark-panel a.category-ico23 i{
    background-position: 0 -1320px;
}
.tradmark-panel a.category-ico24 i{
    background-position: 0 -1380px;
}
.tradmark-panel a.category-ico25{
    background: url("../images/category-bj25.jpg") no-repeat center;
}
.tradmark-panel a.category-ico25:hover{
    background: url("../images/category-bj-hover25.jpg") no-repeat center;
}
.tradmark-panel a.category-ico25 i{
    background-position: 0 -1440px;
}
.tradmark-panel a.category-ico26 i{
    background-position: 0 -1500px;
}
.tradmark-panel a.category-ico27 i{
    background-position: 0 -1560px;
}
.tradmark-panel a.category-ico28{
    background: url("../images/category-bj28.jpg") no-repeat center;
}
.tradmark-panel a.category-ico28:hover{
    background: url("../images/category-bj-hover28.jpg") no-repeat center;
}
.tradmark-panel a.category-ico28 i{
    background-position: 0 -1620px;
}
.tradmark-panel a.category-ico29{
    width: 346px;
    height: 172px;
    background: url("../images/category-bj29.jpg") no-repeat center;
}
.tradmark-panel a.category-ico29:hover{
    background: url("../images/category-bj-hover29.jpg") no-repeat center;
}
.tradmark-panel a.category-ico29 i{
    background-position: 0 -1680px;
}
.tradmark-panel a.category-ico30{
    background: url("../images/category-bj30.jpg") no-repeat center;
}
.tradmark-panel a.category-ico30:hover{
    background: url("../images/category-bj-hover30.jpg") no-repeat center;
}
.tradmark-panel a.category-ico30 i{
    background-position: 0 -1740px;
}
.tradmark-panel a.category-ico31{
    background: url("../images/category-bj31.jpg") no-repeat center;
}
.tradmark-panel a.category-ico31:hover{
    background: url("../images/category-bj-hover31.jpg") no-repeat center;
}
.tradmark-panel a.category-ico31 i{
    background-position: 0 -1800px;
}
.tradmark-panel a.category-ico32 i{
    background-position: 0 -1860px;
}
.tradmark-panel a.category-ico33 i{
    background-position: 0 -1920px;
}
.tradmark-panel a.category-ico34 i{
    background-position: 0 -1980px;
}
.tradmark-panel a.category-ico35{
    width: 346px;
    height: 346px;
    background: url("../images/category-bj35.jpg") no-repeat center;
}
.tradmark-panel a.category-ico35:hover{
    background: url("../images/category-bj-hover35.jpg") no-repeat center;
}
.tradmark-panel a.category-ico35 i{
    margin-top: 110px;
    background-position: 0 -2040px;
}
.tradmark-panel a.category-ico36 i{
    background-position: 0 -2100px;
}
.tradmark-panel a.category-ico37 i{
    background-position: 0 -2160px;
}
.tradmark-panel a.category-ico38 i{
    background-position: 0 -2220px;
}
.tradmark-panel a.category-ico39 i{
    background-position: 0 -2280px;
}
.tradmark-panel a.category-ico40 i{
    background-position: 0 -2340px;
}
.tradmark-panel a.category-ico41{
    width: 172px;
    height: 346px;
    background: url("../images/category-bj41.jpg") no-repeat center;
}
.tradmark-panel a.category-ico41:hover{
    background: url("../images/category-bj-hover41.jpg") no-repeat center;
}
.tradmark-panel a.category-ico41 i{
    margin-top: 110px;
    background-position: 0 -2400px;
}
.tradmark-panel a.category-ico42 i{
    background-position: 0 -2460px;
}
.tradmark-panel a.category-ico43 i{
    background-position: 0 -2520px;
}
.tradmark-panel a.category-ico44 i{
    background-position: 0 -2580px;
}
.tradmark-panel a.category-ico45 i{
    background-position: 0 -2640px;
}

.tradmark-panel a.category-ico9 span,
.tradmark-panel a.category-ico9 p,
.tradmark-panel a.category-ico11 span,
.tradmark-panel a.category-ico11 p,
.tradmark-panel a.category-ico16 span,
.tradmark-panel a.category-ico16 p,
.tradmark-panel a.category-ico25 span,
.tradmark-panel a.category-ico25 p,
.tradmark-panel a.category-ico28 span,
.tradmark-panel a.category-ico28 p,
.tradmark-panel a.category-ico29 span,
.tradmark-panel a.category-ico29 p,
.tradmark-panel a.category-ico30 span,
.tradmark-panel a.category-ico30 p,
.tradmark-panel a.category-ico31 span,
.tradmark-panel a.category-ico31 p,
.tradmark-panel a.category-ico35 span,
.tradmark-panel a.category-ico35 p,
.tradmark-panel a.category-ico41 span,
.tradmark-panel a.category-ico41 p,
.tradmark-panel a:hover span,
.tradmark-panel a:hover p,
.industry-list:hover p{
    color: #fff;
}


/**详情**/
.detail-panel {
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.sort-main {
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
}
.grid {
    line-height: 52px;
    color: #666;
    font-family: "simsun";
    letter-spacing: 2px;
}
.grid a {
    font-weight: bold;
    color: #46529d;
    text-decoration: underline;
}
.grid span {
    margin: 0 6px;
}
a {
    color: #333;
    text-decoration: none !important;
}
.category-info {
    position: relative;
    background-color: #46529d;
    padding: 30px 20px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}
.category-info i {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: block;
    float: left;
    background: url(../images/detail-ico.png) no-repeat center;
}
.category-con {
    margin: 0 40px 0 72px;
}
.category-top {
    width: 100%;
    height: 40px;
    margin-bottom: 2px;
}
.category-top h1 {
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    float: left;
}
.category-con p {
    font-family: "simsun";
    color: #a8afd7;
    letter-spacing: 2px;
    line-height: 20px;
}
.category-fg {
    width: 100%;
    height: 5px;
    overflow: hidden;
    background: url(../images/detail-fg.jpg) no-repeat center;
    margin-top: -1px;
}
.category-des {
    width: 1040px;
    overflow: hidden;
    margin: 30px auto;
    line-height: 32px;
    color: #666;
    font-family: "simsun";
    letter-spacing: 1px;
}
.category-des p.category-notes {
    font-size: 14px;
    font-family: "simsun";
    color: #46529d;
    display: block;
}
.category-group-fg {
    width: 100%;
    height: 8px;
    overflow: hidden;
    background-color: #f4f6f9;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.group-panel h2 {
    width: 100%;
    height: 62px;
    overflow: hidden;
    border-bottom: 1px solid #ececec;
}
.group-panel h2 span {
    display: block;
    padding-left: 6px;
    line-height: 22px;
    letter-spacing: 1px;
    border-left: 6px solid #2ebaee;
    color: #323232;
    font-size: 16px;
    margin: 20px 0 20px 36px;
}
.group-con {
    width: 1150px;
    overflow: hidden;
    margin-left: 36px;
    letter-spacing: 1px;
    position: relative;
}
.group-con ul {
    width: 626px;
    overflow: hidden;
    float: left;
    border-right: 1px solid #ececec;
    padding: 32px 0;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}
.group-con ul li {
    width: 94%;
    overflow: hidden;
    float: left;
    cursor: pointer;
    line-height: 26px;
    font-size: 14px;
    font-family: "simsun";
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 14px;
}
.group-con ul li.active a {
    color: #46529d;
}
.group-con ul li.active span {
    color: #46529d;
    
}
.group-arrow {
    width: 0;
    height: 0;
    border-width: 10px 0 10px 16px;
    border-style: solid;
    border-color: transparent transparent transparent #e9e9e9;
    position: absolute;
    left: 626px;
    top: 32px;
}
.group-right {
    width: 522px;
    overflow: hidden;
    float: right;
    padding: 32px 0;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}
.group-des {
    padding: 0 34px;
}
.group-title {
    line-height: 26px;
    font-size: 14px;
    color: #46529d;
    font-family: "simsun";
    margin-bottom: 20px;
}
.group-des p {
    margin-bottom: 32px;
}
.group-des strong, .group-des p {
    display: block;
    line-height: 30px;
    color: #666;
    font-family: "simsun";
}
.group-des{display:none;}
.group-des.hover{display:block;}