﻿.calc-header {
    height: 449px;
    background: url(../images/calculatorBackground.jpg) no-repeat top center;
}
.standard-box {
    width: 784px;
    margin-right: auto;
    margin-left: auto;
    padding-top:100px;
}
.calc-head {
    padding-left: 326px;
    color: #fff;
}
.calc-head .calc-title {
    font-size: 58px;
    height: 60px;
    color: #fff;
    text-shadow: 3px 3px 3px #18b7fd;
}
.calc-head .calc-icon {
    width: 105px;
    height: 5px;
    background: linear-gradient(#77dbff,#5be1ff);
    background: -webkit-linear-gradient(#77dbff,#5be1ff);
    background: -o-linear-gradient(#77dbff,#5be1ff);
    background: -moz-linear-gradient(#77dbff,#5be1ff);
    background: -ms-linear-gradient(#77dbff,#5be1ff);
}
.calc-head .calc-sec-title {
    height: 49px;
    width: 464px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}
.calc-head .calc-sec-title p {
    color: #008ee8;
    font-size: 26px;
    letter-spacing: 4px;
    line-height: 49px;
    text-align: center;
}
.calc-counter-main {
    width: 882px;
    height: 502px;
    background: url(../images/calculBook.png) no-repeat center;
    margin-top: -95px;
    margin-right: auto;
    margin-left: auto;
}
.calc-counter-main .calc-left {
    width: 365px;
    height: 390px;
    float: left;
    padding-top: 60px;
    padding-left: 90px;
    position: relative;
}
.calc-counter-main .zl-title {
    font-size: 18px;
    color: #686868;
    font-weight: 700;
}
.calc-counter-main .zl-type-ul {
    overflow: hidden;
    margin-bottom: 15px;
}
ul, ol {
    padding: 0;
    margin: 0;
}
.calc-counter-main .zl-type-ul .zl-type-li {
    cursor: pointer;
    width: 114px;
    height: 41px;
    line-height: 41px;
    background: url(//as.zbjimg.com/static/as-ipr-www/20170814calculator/img/btn-bg_6b5f611.png) no-repeat center;
    float: left;
    font-size: 13px;
    color: #909090;
    text-align: center;
}
li {
    list-style: none;
}
.calc-counter-main .calc-left .free-type-position {
    position: relative;
}
.calc-counter-main .calc-left .apply-date-title, .calc-counter-main .calc-left .warrant-date-title {
    display: inline-block;
/*     margin-right: 20px;
    margin-bottom: 20px; */
}
.calc-counter-main .calc-left .apply-date {
    display: inline-block;
    width: 200px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #8ac6ff;
    border-radius: 20px;
    box-shadow: -2px -2px 2px #c3d8ed inset;
    padding-left: 20px;
    font-size: 16px;
    color: #909090;
    vertical-align: middle;
}
.calc-counter-main .calc-left .calc-btn {
    width: 190px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #fff;
    background: url(//as.zbjimg.com/static/as-ipr-www/20170814calculator/img/btn-calc_8b32e36.png) no-repeat;
    margin-top: 20px;
    text-align: center;
    margin-left: 80px;
    cursor: pointer;
}
.calc-counter-main .calc-left .warnning {
    position: absolute;
    width: 200px;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    background-color: #acd7f8;
    border-radius: 10px;
    z-index: 10;
    bottom: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    animation: move 1s forwards;
    -webkit-animation: move 1s forwards;
    -o-animation: move 1s forwards;
    -ms-animation: move 1s forwards;
    -moz-animation: move 1s forwards;
    display: none;
}
.calc-counter-main .calc-right .calc-noraml {
    display: block;
    width: 365px;
    height: 390px;
    float: left;
    padding-top: 60px;
}
.calc-counter-main .calc-right .calc-noraml .next-date-title, .calc-counter-main .calc-right .calc-noraml .price-date-title {
    font-size: 16px;
    color: #5e5e5e;
    clear: right;
    padding-left: 30px;
}
.calc-counter-main .calc-right .calc-noraml .icon-01 {
    background-position: 0 0;
}
.calc-counter-main .calc-right .calc-noraml .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/calculIcon.png) no-repeat;
    position: relative;
    top: 5px;
    left: -5px;
}
[class^=icon-], [class*=" icon-"] {
    font-family: iconfont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.calc-counter-main .calc-right .calc-noraml .next-date {
    font-size: 20px;
    color: #282828;
    float: right;
    position: relative;
    right: 30px;
    padding-left: 40px;
}
.calc-counter-main .calc-right .calc-noraml .price-date-init {
    color: #939393;
    font-size: 16px;
}
.calc-counter-main .calc-right .calc-noraml .for-normal {
    padding-top: 54px;
}
.calc-counter-main .calc-right .calc-noraml .price-date {
    color: #ff6946;
    float: right;
    font-size: 22px;
    position: relative;
    right: 30px;
    padding-left: 40px;
}
.calc-counter-main .calc-right .calc-noraml .price-date-init {
    color: #939393;
    font-size: 16px;
}
.calc-counter-main .calc-right .calc-noraml .price-date {
    color: #ff6946;
    float: right;
    font-size: 22px;
    position: relative;
    right: 30px;
    padding-left: 40px;
}
.calc-counter-main .calc-right .calc-noraml .more-msg {
    display: block;
    font-size: 16px;
    padding-top: 30px;
    clear: right;
    text-align: center;
}
.calc-counter-main .calc-right .calc-noraml .pay-btn {
    display: none;
    font-size: 18px;
    clear: right;
    text-align: center;
    color: #0fc890;
    cursor: pointer;
    text-decoration: underline;
}
.calc-counter-main .calc-right .calc-noraml .reminder-pannel {
    width: 306px;
    height: 137px;
    margin-left: 22px;
    margin-top: 15px;
    box-shadow: 3px 3px 3px #e0ecf7 inset;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: none;
}
.calc-counter-main .calc-right .calc-noraml .reminder-pannel .reminder-detail {
    font-size: 12px;
    letter-spacing: 1px;
    color: #828282;
    margin-top: 5px;
}
.calc-counter-main .calc-right .calc-noraml .reminder-pannel .reminder-detail {
    font-size: 12px;
    letter-spacing: 1px;
    color: #828282;
    margin-top: 5px;
}
.calc-counter-main .calc-right .calc-noraml .reminder-pannel .search-status {
    text-decoration: underline;
    cursor: pointer;
    color: #0fc890;
    font-size: 16px;
    padding-top: 7px;
}
.calc-counter-main .late-price-detail {
    box-shadow: 2px 2px 3px #efefef;
    font-size: 14px;
    color: #282828;
    position: absolute;
    top: -150px;
    left: 15px;
    background-color: #fff;
    width: 425px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    color: #777;
}
.calc-counter-main .calc-right .less-thrity-day {
    width: 365px;
    height: 390px;
    float: left;
    padding-top: 60px;
    display: none;
}
.calc-counter-main .calc-right .less-thrity-day .next-date-title, .calc-counter-main .calc-right .less-thrity-day .price-date-title {
    font-size: 16px;
    color: #5e5e5e;
    clear: right;
    padding-left: 30px;
}
.calc-counter-main .calc-right .less-thrity-day .next-date {
    font-size: 20px;
    color: #282828;
    float: right;
    position: relative;
    right: 30px;
    padding-left: 40px;
}
.calc-counter-main .calc-right .less-thrity-day .price-date-init {
    color: #282828;
    font-size: 20px;
}
.calc-counter-main .calc-right .less-thrity-day .quick-pay {
    color: #ff6946;
    display: inline-block;
    position: relative;
    left: 180px;
    font-size: 16px;
}
.calc-counter-main .calc-right .less-thrity-day .price-date-title {
    padding-top: 30px;
}
.calc-counter-main .calc-right .less-thrity-day .price-date {
    color: #ff6946;
    float: right;
    font-size: 22px;
    position: relative;
    right: 30px;
    padding-left: 40px;
}
.calc-counter-main .calc-right .less-thrity-day .more-msg {
    display: block;
    color: #0fc890;
    font-size: 18px;
    text-decoration: underline;
    clear: right;
    cursor: pointer;
    text-align: center;
}
.calc-counter-main .late-price-detail {
    box-shadow: 2px 2px 3px #efefef;
    font-size: 14px;
    color: #282828;
    position: absolute;
    top: -150px;
    left: 15px;
    background-color: #fff;
    width: 425px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    color: #777;
}
.calculator-li-background {
    background-image: url("../images/calcul_li_background.png");
}