﻿.container {
    width: 1200px;
    margin: 0 auto;
}
/***head****/
.header .top{height: 42px;background: #f2f2f8;line-height: 42px;}
.header .top h1{float:left;font-size:14px;}
.header .top h2{float:right;font-size:14px;}
.header .bottom{background:#ffffff;height:120px;}
.phc-search {margin-left: 105px;margin-top: 60px;position: relative;}
.phc-search .search-form {height: 32px;padding: 0;margin: 0;border: 2px solid #16a0d8;line-height: 32px;overflow: hidden;}
.phc-search .search-form .search-input {width: 370px;color: rgb(153, 153, 153);font-size: 12px;line-height: 12px;float: left;padding: 2px 0px 2px 10px;border-width: 0px;border-style: initial;border-color: initial;border-image: initial;margin: 8px 0px 0px;}
.phc-search .search-form .submit-btn {width: 80px;height: 37px;padding-top: 0px;padding-bottom: 5px;color: rgb(255, 255, 255);font-size: 14px;cursor: pointer;float: right;margin: 0px;border-width: 0px;border-style: initial;border-color: initial;border-image: initial;background: #16a0d8;}
.top-nav{background-color: #ffffff;height: 50px;}
input, button {
    border: 0;
    outline: none;
    background: none;
    filter: chroma(color=#000000);
}
.top-nav ul{}
.top-nav>.container>ul>li {
    height: 100%;
    float: left;
    
}
.top-nav>.container>ul>li:first-child {
    width: 198px;
    background-color: #d43c33;
    color:#ffffff;
}
.top-nav>.container>ul>li:first-child a {
    color:#ffffff;
}
.top-nav>.container>ul>li>a {
    height: 38px;
    font-family: "microsoft yahei", "å¾®è½¯é›…é»‘";
    line-height: 38px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: left;
    color: #343434;
}


.nav-container {
    width: 100%;
    position: relative;
    background-color: #fff;
}
.nav-container>.nav-header {
    width: 100%;
    height: 38px;
    
}
.nav-container>.nav-header>.nav-box {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
.nav-container>.nav-header>.nav-box>ul {
    height: 100%;
}
.nav-container>.nav-header>.nav-box>ul>.li-nav-title {
    margin-left: 40px;
    text-align: right;
}
.nav-container .nav-box>ul>li {
    list-style: none;
    height: 100%;
    float: left;
    line-height:38px;
}
.top .container  a{
    color:#989898;
}
.nav-box  ul li a:hover{
    color:red;
}
.li-nav-title{
    position: relative;
}
.li-nav-title .head_pull{
    display: none;
    position: absolute;
    background: #fff;
    top: 33px;

    left: -17px;
    width: 131px;
    padding: 0 23px;
    /* height: 20px; */
    z-index: 10;
    box-shadow: 0 0 5px #DEE6F8;
    -webkit-box-shadow: 0 0 5px #DEE6F8;
}
.li-nav-title .head_pull:after{
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -8.5px;
    content: '';
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url('/static/images/belong.png') no-repeat center;
}
.li-nav-title .head_pull .pull_sort{
    width: 100%;
    height: 44px;
    border-bottom: 1px dotted #ededed;
    text-align: center;
}
.li-nav-title .head_pull .pull_sort a{
    line-height: 44px;
    font-size: 14px;
    color: #666666;
    font-weight: normal;
}
.li-nav-title .head_pull .pull_sort:hover a{
    color: #ff6b1b;
}
.li-nav-title.head_pull .pull_sort:last-child{
    border-bottom:none;
}

.li-nav-title:hover .head_pull{
    display: block;
}
.nav-product-menu  ul{
    width:100%;
}
.nav-product-menu  ul li {
    background:#ffffff;
    line-height:50px;
    float:left;
    padding:10px;

}


 .search_frame {
	width: 670px;
	margin: auto;
	height: 45px;
	background: #ffffff;
	border-radius: 4px;
	position: relative;
	top: -18px;
	box-shadow: 0 1px 20px rgba(43, 47, 57, 0.13)
}

 .search_frame .r_icon,
 .search_frame .pull_down,
 .search_frame .input,
 .search_frame .free_check {
	float: left
}

 .search_frame .r_icon {
	height: 100%;
	width: 38px;
	background: #3382d4;
	text-align: center;
	line-height: 45px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.r_icon img {
	    max-width: 100%;
    border: 0;
	vertical-align: middle!important;
}
 .search_frame .pull_down {
	width: 66px;
	border-right: 1px solid #eaeaea;
	height: 100%;
	text-align: left;
	line-height: 45px;
	padding-left: 24px;
	cursor: pointer;
	position: relative;
	background: url("../images/icon5.png") no-repeat right 14px center
}

 .search_frame .pull_down .select_sort {
	font-size: 14px;
	color: #586071
}

 .search_frame .pull_down .all_sorts {
	position: absolute;
	top: 45px;
	left: 0;
	background: #fff;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	width: 90px;
	text-align: left;
	line-height: 28px;
	font-size: 14px;
	color: #586071;
	border-top: 1px solid #eaeaea;
	max-height: 0;
	overflow: hidden;
	z-index: 5;
	box-shadow: 0 1px 10px rgba(43, 47, 57, 0.13)
}

 .search_frame .pull_down .all_sorts li:last-child {
	margin-bottom: 5px
}

 .search_frame .pull_down .all_sorts li:first-child {
	margin-top: 5px
}

 .search_frame .pull_down .all_sorts li {
	padding-left: 24px
}

 .search_frame .input {
	width: 422px;
	height: 100%;
	text-align: left;
	padding-left: 16px
}

 .search_frame .input input {
	width: 100%;
	height: 100%
}

 .search_frame .free_check {
	width: 103px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	background: #3382d4;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
	cursor: pointer
}

 .search_frame .free_check span {
	display: inline-block;
	width: 183px;
	height: 48px;
	border: 1px dotted #ff9f7d;
	border-radius: 4px;
	text-align: center;
	margin-top: 4px;
	line-height: 48px
}

 .search_frame:after {
	content: '';
	display: block;
	clear: both
}
/***footer***/
.zgg-foot1 {
    width: 100%;
    min-width: 1200px;
}
.foot-special{height: 100px; background: #333333;}
.zgg-foot1 .zgg-footTop {
    background: #333333;
    width: 100%;
    min-width: 1200px;
}
.zgg-foot1 .zgg-footBottom {
    background: #2b2b2b;
    width: 100%;
    min-width: 1200px;
    height: 100px;
}
.fast-good-ul {
    padding: 28px 0px;
    height: 44px;
}
.commWith {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.fast-good-ul li {
    width: 295px;
    float: left;
}
.fast-good-ul li.first {
    margin-left: 20px;
}
.fast-good-ul .fast-good-icon {
    background: url(../images/fast-good-icon.png);
    display: block;
    width: 42px;
    height: 44px;
}
.fast-good-ul .fast {
    background-position: -50px 0;
}
.fast-good-comm {
    margin-left: 20px;
}
.fast-good-comm h2 {
    font-size: 16px;
    color: #FFFFFF;
    margin: 2px 0 11px 0;
    line-height: 16px;
    font-weight: bold;
}
.fast-good-comm p {
    font-size: 14px;
    color: #999999;
    line-height: 14px;
}
.bottfooter {
    border-top: 1px solid #4d4d4d;
}
.footLeft {
    padding: 30px 0px 0px 0px;
}
.foot-friend {
    padding-top: 16px;
}
.friend-left {
    font-size: 12px;
    color: #808080;
    line-height: 12px;
}
.friend-right {
    padding-bottom: 16px;
}
.friend-right a {
    font-size: 12px;
    color: #808080;
    line-height: 12px;
    margin-bottom: 14px;
    display: inline-block;
    margin-right: 20px;
}
.footUl {
    padding-right: 11px;
}
.footCode {
    margin-top: 14px;
    margin-bottom: 10px;
}
.footUl div {
    width: 84px;
    float: left;
    padding-right: 110px;
}
.footUl div h5 {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footUl div a {
    display: block;
    font-size: 12px;
    color: #808080;
    line-height: 12px;
    margin-bottom: 14px;
}
.footbot {
    text-align: center;
    padding: 30px 0px 0px 0px;
}
.footbot p {
    font-size: 12px;
    color: #808080;
    line-height: 12px;
    margin-bottom: 11px;
}
.footP {
    float: left;
    margin-left: 32px;
    margin-top: 20px;
    text-align: center;
}
.footP .week {
    font-size: 14px;
    color: #cccccc;
    line-height: 14px;
    margin-bottom: 30px;
}
.footP h3 {
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 22px;
    font-family: arial;
}
.footCode .code-img img {
    display: block;
    width: 104px;
    height: 104px;
}
.frend {
    background: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 11px 32px rgba(221,221,221,0.58);
    padding: 26px 0;
    width: 1200px;
    margin: 0 auto;
}