﻿@charset "utf-8";
/* CSS Document */

/* reset 部分样式重置 strat ===================================== */
/* 清除内外边距 ---------- */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}
/* 各种字体矫正 --------- */
body, button, input, select, textarea /* 用 ascii 字符表示，使得在任何编码下都无问题 */ {
    font: 14px/150% Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
body{
	 background:#FFFFFF;
    color: #535353;
    min-width: 1366px;
}
h1 /* 18px / 12px = 1.5 */ {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

button, input, select, textarea /* 使得表单元素在 ie 下能继承字体大小，且点击时去掉浏览器差异性边框 */ {
    font-size: 100%;
    outline: none;
}
button{ 
    outline: none;
    border: none;
    cursor: pointer;
}
address, cite, dfn, em, var /* 将斜体扶正 */ {
    font-style: normal;
}

code, kbd, pre, samp, tt /* 统一等宽字体 */ {
    font-family: "Courier New", Courier, monospace;
}

small /* 小于 12px 的中文很难阅读，让 small 正常化 */ {
    font-size: 12px;
}
/* 重置列表元素 --------- */
ul, ol {
    list-style: none;
}
/* 重置文本格式元素 ----- */
a {
    color: #333;
    text-decoration: none;
}
    a:focus {
        outline: none;
    }

abbr[title], acronym[title] /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */ {
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}
/* 重置表单元素 ------- */
legend /* 针对 ie6 */ {
    color: #000;
}

fieldset, img /* img 搭车：让链接里的 img 无边框 */ {
    border: none;
    outline: none;
}

/* 重置 hr --------- */
hr {
    border: none;
    height: 1px;
}

textarea {
    outline: none;
    resize: none;
}

i {
    font-style: normal;
}
/* 重置图片元素 --------- */
img {
    border: 0;
    vertical-align: top;
}
/* reset 部分样式重置 end ======================================= */
/* layout 框架样式布局 start =================================== */

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

.clear {
    clear: both;
}
/* layout 框架样式布局 end ===================================== */
/* margin类 */
.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mr20{
    margin-right: 20px!important;
}
.ml10{
    margin-left: 10px !important;
}
.ml20{
    margin-left: 20px !important;
}
.mlr20{
    margin-left: 20px!important;
    margin-right: 20px!important;
}
.mtb20{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.mb30{
    margin-bottom: 30px!important;
}
.mt15{
    margin-top: 15px!important;
}
.mb15{
    margin-bottom: 15px!important;
}
/* padding类 */
.p10 {
    padding: 10px !important;
}
.p20 {
    padding: 20px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pt20{
    padding-top: 20px !important;
}
/* 按钮 */
.btn-blue {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 0 30px;
    background-color: #50b4eb;
    color: #fff;
}
.btn-gray{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 0 30px;
    color: #333;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    background: -webkit-linear-gradient(#f5f4f4, #d5d2d2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#f5f4f4, #d5d2d2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#f5f4f4, #d5d2d2); /* Firefox 3.6 - 15 */
    background: linear-gradient(#f5f4f4, #d5d2d2); /* 标准的语法 */
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#fff5f4f4, endColorStr=#ffd5d2d2);
}
.btn-gray:hover{
    background: #DEDCDC;
}
.btn_group{
    text-align: center;
}
.btn_group a{
    margin: 0 5px;
}
/* 文本框\文本域 */
.txt {
	vertical-align:middle;
    width: 200px;
    height: 34px;
    line-height: 34px;
    padding-left: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}
input[type=text]:focus,select:focus,textarea:focus{
    border-color: #5caef6!important;
}
.textarea{
    width: 500px;
    height: 110px;
    line-height: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.w100{
    width: 100%;
}
/* 下拉框 */
select {
    width: 200px;
    padding-left: 8px;
    border: 1px solid #ccc;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.function select{
    width: 163px;
}
/* 图标 */
[class|=ico]{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat 0 0;
    margin:0 2px;
}
/* 边框 */
.border li{
    border: 1px solid #ccc;
}
.border li:hover{
    border-color: #50b4eb;
}
/* 字体颜色 */
.c_999{
    color: #999;
}
.c_blue{
    color: #0066dd;
}
.c_666{
    color: #666;
}
.c_red{
    color: red;
}
/*文字*/
.fwb{
    font-weight: bold;
}
.fsz14{
    font-size: 14px!important;
}
.fsz16{
    font-size: 16px!important;
}
.fsz18{
    font-size: 18px!important;
}
.fsz20{
    font-size: 20px!important;
}
.fsz36{
    font-size: 36px;
}
.t-indent{
    text-indent: 2rem;
}