﻿.ms-news-title h1 {
    width: 832px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 56px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e3e3e3;
}
.ms-news-title span {
    display: inline-block;
    line-height: 24px;
    width: 600px;
    padding-top: 30px;
}
.ms-news-title {
    background: #f3f3f3;
    text-align: center;
    padding: 80px 0;
    color: #515567;
}
.ms-news-doc {
    position: relative;
    padding-bottom: 80px;
    width: 750px;
    margin: auto;
}
.gq-doc:before, .gq-doc:after {
    content: " ";
    display: table;
}
.ms-news-txt {
    padding: 80px 0 40px;
}
.ms-news-txt p {
    font-size: 16px!important;
    color: #515567;
    line-height: 32px!important;
    text-indent: 2em;
    background: #FFF!important;
}