﻿.bannerf {
    height: 360px;
    margin-bottom: 20px;
}

.container .title {
    margin: 0 auto;
    font-size: 32px;
    color: #333;
    font-weight: bold;
    padding: 30px 0 25px 0; text-align: center;
}
.title .big {
    overflow: hidden;
    font-weight: normal;
}
.title .big span {
    font-size: 24px;
    text-align: center;
    color: #343434;
    position: relative;
    height: 30px;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
}
.title .big span i {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -5.5px;
    background: url(../images/sys_icon.png) no-repeat -159px 0;
}
.title .big span .i_l {
    left: 0;
}
.title .big span .i_r {
    right: 0;
}
.title_box {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.title_box span {
    font-size: 14px;
    color: #9B9B9B;
    width: 70px;
    height: 28px;
    text-align: center;
}

.conmain {
    width: 1200px;
    margin: 0 auto;
}
.left_area {
    float: left;
    width: 320px;
    height: 492px;
    background: url(../images/s3_bg2.png);
    padding: 37px 0 0 43px;
    font-size: 0;
    margin-top: 4px;
}
.domestic-2 ul {
    float: right;
    width: 836px;
}
.left_area .c_name {
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}
.left_area .e_name {
    font-size: 12px;
    color: #ffffff;
    margin: 5px 0 15px 0;
    text-transform: uppercase;
}
.left_area .yuzhua_stage {
    font-size: 14px;
    color: #ffffff;
    width: 226px;
    margin-top: 6px;
    line-height: 27px;
}
.domestic-2 ul { float: right; width: 836px;}
.domestic-2 ul li { width: 408px; height:255px; float: left; border-radius:2px;
    box-shadow:5px 0px 21px rgba(151,151,151,0.3); margin:5px; text-align: center;border-top:4px #FFFFFF solid;}
.domestic-2 ul li.br-c1 {background: url(../images/br-c1.png) no-repeat;}
.domestic-2 ul li.br-c2 {background: url(../images/br-c2.png) no-repeat;}
.domestic-2 ul li.br-c3 {background: url(../images/br-c3.png) no-repeat;}
.domestic-2 ul li.br-c4 {background: url(../images/br-c4.png) no-repeat;}
.domestic-2 dl dd.br-c5 {background: url(../images/br-c5.png) no-repeat;}
.domestic-2 dl dd.br-c6 {background: url(../images/br-c6.png) no-repeat;}
.domestic-2 dl dd.br-c7 {background: url(../images/br-c7.png) no-repeat;}
.domestic-2 ul li img { padding-top: 30px;}
.domestic-2 ul li h1 { font-size: 20px; color: #333333; line-height: 42px; padding-top: 15px;}
.domestic-2 ul li h4 { color: #999999; font-size: 12px;}
.domestic-2 ul li h3 { color: #333333; font-size: 14px; padding: 30px 0;}
.domestic-2 ul li h3 font {color: #BE2216;}
.domestic-2 ul li h3 font b {font-size: 18px;}
.domestic-2 ul li a { display: none; background:#BE2216; color: #FFFFFF;border-radius:2px; width: 168px; line-height: 40px; text-align: center;}
.domestic-2 ul li:hover {border-top: 4px #BE2216 solid; }
.domestic-2 ul li:hover a {display: inline-block;/* opacity:0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards ;
    animation-fill-mode: forwards ; */}
.domestic-2 ul li:hover h3 {padding: 15px 0;}
.domestic-2 ul li:hover img { padding-top: 15px;}
.domestic-2 dl {margin: 0 -8px; margin-top: 20px; margin-bottom: 30px;}
.domestic-2 dl dd { width: 292px; height:200px;border-radius:2px;
    box-shadow:5px 0px 21px rgba(151,151,151,0.3); text-align: center; float: left; margin: 0 5px;}
.domestic-2 dl dd img { padding-top: 25px;}
.domestic-2 dl dd h1 { font-size: 20px; color: #333333; line-height: 42px;padding-top: 20px;}
.domestic-2 dl dd h3 { color: #333333; font-size: 14px; padding-top: 25px;}
.domestic-2 dl dd h3 font {color: #BE2216;}
.domestic-2 dl dd h3 font b {font-size: 18px;}
.domestic-2 dl dd a { display: none; background:#BE2216; color: #FFFFFF;border-radius:2px; width: 168px; line-height: 40px; text-align: center;}
.domestic-2 dl dd:hover { border-top: 4px #BE2216 solid; height:196px;}
.domestic-2 dl dd:hover img { padding-top: 15px;}
.domestic-2 dl dd:hover h1 { padding-top: 10px; line-height: 30px;}
.domestic-2 dl dd:hover h3 { padding-top: 10px; padding-bottom: 5px;}
.domestic-2 dl dd:hover a { display: inline-block;opacity:0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards ;
    animation-fill-mode: forwards ;}

.domestic-2 dl dd.last { text-align: left; background: url(../images/shang.png) no-repeat center;}
.domestic-2 dl dd.last h2 { font-size: 20px; margin-top: 20px; margin-left: 20px;}
.domestic-2 dl dd.last h4 {color: #C5C5C5; padding-left: 20px;}
.domestic-2 dl dd.last a { border: none; width: 124px; height: 32px; display: inline-block; background: url(../images/youpiezi.png) no-repeat; margin-left: 150px; margin-top: 80px;}
.domestic-2 dl dd.last:hover {border-color:#FFFFFF;}
.domestic-2 dl dd.last:hover a { background: url(../images/youpiezired.png) no-repeat;}
.domestic-2 dl dd.last:hover h2 { color: #BE2216;}  
/** no left  six box**/
.domestic ul li { width: 390px; height:255px; float: left; border-radius:2px;
    box-shadow:5px 0px 21px rgba(151,151,151,0.3); margin:5px; text-align: center;border-top:4px #FFFFFF solid;}
.domestic ul li.br-c1 {background: url(../images/br-c1.png) no-repeat;}
.domestic ul li.br-c2 {background: url(../images/br-c2.png) no-repeat;}
.domestic ul li.br-c3 {background: url(../images/br-c3.png) no-repeat;}
.domestic ul li.br-c4 {background: url(../images/br-c4.png) no-repeat;}
.domestic dl dd.br-c5 {background: url(../images/br-c5.png) no-repeat;}
.domestic dl dd.br-c6 {background: url(../images/br-c6.png) no-repeat;}
.domestic dl dd.br-c7 {background: url(../images/br-c7.png) no-repeat;}
.domestic-b {padding-right:0;}
.domestic-t {margin-bottom:30px;}
.domestic-t ul li {width:282px;border-top:4px #FFFFFF solid;}
.domestic-t ul { width: 878px;}
.domestic-t ul li.last { text-align: left; background: url(../images/more7.png) no-repeat center;}
.domestic-t ul li.last h2 { font-size: 20px; margin-top: 20px; margin-left: 20px;}
.domestic-t ul li.last h4 {color: #C5C5C5; padding-left: 20px;}
.domestic-t ul li.last a { border: none; width: 124px; height: 32px; display: inline-block; background: url(../images/youpiezi.png) no-repeat; margin-left: 150px; margin-top: 120px;}
.domestic-t ul li.last:hover {border:none;height:255px;}
.domestic-t ul li.last:hover a { background: url(../images/youpiezired.png) no-repeat;}
.domestic-t ul li.last:hover h2 { color: #BE2216; marigin-top:16px;}
.domestic-t ul li{background: url(/static/images/falv_bg_01.png) no-repeat;}
.domestic-t ul li.br-c2 {background: url(../images/d-tong1.png) no-repeat;}
.domestic-t ul li.br-c4 {background: url(../images/d-tong2.png) no-repeat;}
.domestic-t ul li.br-c5 {background: url(../images/d-tong3.png) no-repeat;}
.domestic-t ul li.br-c6 {background: url(../images/d-tong4.png) no-repeat;}
.domestic-t ul li.br-c7 {background: url(../images/d-tong5.png) no-repeat;}

.domestic ul li img { padding-top: 30px;}
.domestic ul li h1 { font-size: 20px; color: #333333; line-height: 42px; padding-top: 15px;}
.domestic ul li h4 { color: #999999; font-size: 12px;height:20px;overflow: hidden;}
.domestic ul li h3 { color: #3382d4; font-size: 14px; padding: 30px 0;}
/*.domestic ul li h3 font {color: #BE2216;}*/
.domestic ul li h3 font b {font-size: 18px;}
.domestic ul li a { display: none; background:#3382d4; color: #FFFFFF;border-radius:2px; width: 168px; line-height: 40px; text-align: center;}
.domestic ul li:hover {border-top: 4px #3382d4 solid;}
.domestic ul li:hover a {display: inline-block;/* opacity:0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards ;
    animation-fill-mode: forwards ; */}
.domestic ul li:hover h3 {padding: 15px 0;}
.domestic ul li:hover img { padding-top: 15px;}

.zl-other-box{margin-top: 60px;}
.zl-other-box .comestic-title{width:748px;}
.fore-other-ul{height: 380px; }
.fore-other-ul li{height:380px; width: 270px; margin-right: 40px; overflow: hidden; box-shadow:0px 5px 15px rgba(0,0,0,0.14); float: left; position: relative;}
.fore-other-ul li:last-child{margin-right: 0px;}
.fore-other-ul li a{display: block;}
.fore-other-ul li .top{width:270px; height: 150px; overflow:hidden;}
.fore-other-ul li .top img{width:100%; transition: all 0.4s; -webkit-transition:all 0.4s; -ms-transition:all 0.4s; -moz-transition:all 0.4s;}
.fore-other-ul li:hover .top img{transform:scale(1.05);-ms-transform:scale(1.05); 	-moz-transform:scale(1.05); -webkit-transform:scale(1.05); -o-transform:scale(1.05);}
.fore-other-ul li .bottom{text-align: center;}
.fore-other-ul li .bottom h2{font-size: 24px; color: #333333; line-height: 24px; font-weight: bold; margin-top: 30px;}
.fore-other-ul li .bottom .border{width:36px; height: 3px; background: #3382d4; display: inline-block; margin: 24px 0;}
.fore-other-ul li .bottom .comm{font-size: 14px; color: #999999; line-height: 14px;}
.fore-other-ul li .bottom h3{font-size: 24px; color: #ff4040; line-height: 20px; font-weight: bold; margin-top: 26px; transition: all 0.3s ease; -webkit-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease; -moz-transition:all 0.3s ease;}
.fore-other-ul li .bottom h3 span{display: inline-block; vertical-align: middle;}
.fore-other-ul li .bottom h3 b{display: inline-block; font-size: 20px; vertical-align: middle;}
.fore-other-ul li .bottom .link-btn{position: absolute; bottom: -40px;  width:100%;  transition: all 0.3s ease; -webkit-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease; -moz-transition:all 0.3s ease;}
.fore-other-ul li .bottom .link{width:140px; height: 40px; line-height: 40px; font-size: 16px; margin: 0 auto;  color:#FFFFFF; font-weight: bold; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
    box-shadow:0px 5px 15px rgba(51,130,212,0.5); background: -webkit-linear-gradient(left,#85baf1, #3382d4);background: -moz-linear-gradient(right, #85baf1, #3382d4);background: -o-linear-gradient(right, #85baf1, #3382d4);background: linear-gradient(to right, #85baf1, #3382d4); }
.fore-other-ul li:hover .bottom .link-btn{bottom: 30px;}
.fore-other-ul li:hover h3{display: none;}
.fore-other-ul li .bottom h3.tg{font-size: 16px; line-height: 22px; margin-top: 39px;}  
/***国内商标**/  
.container .brand_know {
    border-radius: 2px;font-size: 16px;margin-top: 30px;
    color: #3382d4;border: solid 1px #3382d4;background: none;
    text-align: center;width: 136px;height: 36px;
    line-height: 36px;font-weight: bold;display: inline-block;
}
.domestic-list .fore-other-ul li:hover .img img{transform:scale(1.05);-ms-transform:scale(1.05); 	-moz-transform:scale(1.05); -webkit-transform:scale(1.05); -o-transform:scale(1.05);}
.domestic-list .fore-other-ul li .brand_know:hover{background: #3382d4; cursor: pointer; color: #FFFFFF; border: none; width:140px; height: 40px; line-height: 40px; box-shadow:0px 5px 15px rgba(51,130,212,0.5); background: -webkit-linear-gradient(left,#85baf1, #3382d4);background: -moz-linear-gradient(right, #85baf1, #3382d4);background: -o-linear-gradient(right, #85baf1, #3382d4);background: linear-gradient(to right, #85baf1, #3382d4); }
.index-rand-law{margin-top:60px;}
/***版权**/
.content_show {
    width: 100%;
    height: 422px;
    background: #e8eaf5;
    box-shadow: 0 0px 8px 1px rgba(43, 47, 57, 0.08);
}
.content_show .services li {
	float: left;
	width: 298.5px;
	height: 210px;
	margin: 0 1px 1px 0;
	background: #fff;
	text-align: center
}

.content_show .services li a {
	display: inline-block;
	transition: all .3s;
	width: 100%;
	height: 100%;
}

.content_show .services li a .enter {
	transition: all .3s;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../images/icon16.png") no-repeat center;
	margin: 36px 0 30px 0
}

.content_show .services li a .service_title {
	font-size: 20px;
	color: #0f2249;
	margin-bottom: 12px;
	padding: 0 68px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content_show .services li a .service_info {
	font-size: 14px;
	color: #6c6f78;
	padding: 0 54px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content_show .services li a .service_price {
	font-size: 13px;
	color: #2b3d63;
	margin-top: 30px
}

.content_show .services li a .service_price span {
	font-size: 16px;
	color: #fd661f
}

.content_show .services li a .service_price span:before {
	content: '';
	display: inline-block;
	width: 7px;
	height: 10px;
	background: url("../images/icon17.png") no-repeat center
}

.content_show .services li:hover {
	-moz-box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset;
	-webkit-box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset;
	box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset
}

.content_show .services li:hover .enter {
	background: url("../images/icon15.png") no-repeat center
}

.content_show .services li:hover a {
	transform: translateY(-2px)
}

.content_show .services .no_margin {
	margin-bottom: 0
}

.content_show .services .third_li {
	margin-right: 0
}

.content_show .services:after {
	content: '';
	display: block;
	clear: both
}

.content_show:after {
	content: '';
	display: block;
	clear: both
}
.more-copyright {
    margin-top: 20px;
    background: #3382d4;
    color: #FFFFFF;
    border-radius: 2px;
    width: 168px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
     
}
.bqflow {
    width: 913px;
    height: 245px;
    margin: 32px auto 0px;
}
.bqflow li {
    width: 129px;
    height: 100%;
    float: left;
}
.bqflow .bqflowbg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
}
.bqflow .bqflowtext {
    width: 100%;
    overflow: hidden;
}
.bqflow .bqflowtext .flowname {
    width: 100%;
    height: 60px;
    color: rgb(51, 51, 51);
    text-align: center;
    font: 18px/60px 微软雅黑;
}
.bqflow .bqflowtext .flowdir {
    width: 100%;
    color: rgb(153, 153, 153);
    text-align: center;
    overflow: hidden;
    font: 12px/22px 微软雅黑;
}
.bqflow .bqflowbg1 {
    background-image: url(../images/bgflow-icon1.png);
}
.bqflow .bqflowarrow {
    width: 100%;
    height: 110px;
    overflow: hidden;
    background: url(../images/bqflowarrow.png) center center no-repeat;
    background-size: 48px 30px;
}
.bqflowbg2 {
    background-image: url(../images/bgflow-icon2.png);
}
/**创新服务***/
.con-title {
    text-align: center;
    padding: 30px 0;
}
.con-title .d-ffur {
    background: url(../images/four.png) no-repeat center;
}
.con-title .title-two {
    font-size: 32px;
    color: #333333;
    line-height: 32px;
    margin-top: -30px;
    height: 31px;
}
.con-title span {
    display: block;
}
.con-title .title-three {
    line-height: 36px;
    color: #B7B7B7;
}
.d-innovate-top ul {
    margin: 0 -12px;
}
.d-innovate-top ul li {
    width: 286px;
    height: 372px;
    margin: 0 10px;
    float: left;
    background: url(../images/innovate22.png) no-repeat;
    text-align: center;
}
.d-innovate-top ul li h1 {
    font-size: 18px;
    color: #333333;
    margin-top: 110px;
    line-height: 50px;
}
.d-innovate-top ul li p {
    margin-bottom: 5px;
}
.d-innovate-top ul li a.ad1 {
    border: solid 1px #9C744B;
    color: #9C744B;
}
.d-innovate-top ul li a {
    width: 154px;
    line-height: 36px;
    display: inline-block;
    margin: 10px;
}
.d-innovate-top ul li a.ad2 {
    color: #5A3D03;
    background: linear-gradient(to left, #EFCA8C , #A0784C);
}
.con-title .d-ffur {
    background: url(../images/four.png) no-repeat center;
}
.d-innovate-mid {
    margin-bottom: 30px;
}
.d-innovate-mid li.midli1 {
    background: url(../images/qsd2.png) no-repeat center;
}
.d-innovate-mid li {
    text-align: center;
    color: #FFFFFF;
    width: 600px;
    height: 278px;
    float: left;
}
.d-innovate-mid li h3 {
    padding-top: 80px;
    font-size: 16px;
    line-height: 30px;
}
.d-innovate-mid li hr {
    background: #FFFFFF;
    width: 38px;
    height: 2px;
    opacity: 0.2;
    margin-top: 15px;
    margin-bottom: 30px;
}
hr {
    border: none;
    height: 1px;
}
.d-innovate-mid li a {
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    line-height: 30px;
    width: 126px;
    display: inline-block;
    text-align: center;
}
.d-innovate-mid li.midli2 {
    background: url(../images/qsd1.png) no-repeat center;
}
.d-innovatel {
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 296px;
    height: 400px;
    background: linear-gradient(to top, #3F87E8 , #73D2CF);
    padding-top: 40px;
    margin-top: 5px;
}
.d-innovatel h1 {
    font-size: 30px;
    line-height: 50px;
    margin-top: 30px;
}
.d-innovatel hr {
    background: #EEEEEE;
    width: 60px;
    height: 2px;
    opacity: 0.9;
    margin: 0 auto;
}
.d-innovatel h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 70px;
}
.d-innovatel a.ap1 {
    color: #FFFFFF;
}
.d-innovatel a {
    font-size: 16px;
    width: 140px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #FFFFFF;
    border-radius: 2px;
    display: inline-block;
    margin: 5px 0;
}
.d-innovatel a.ap2 {
    background: #FFFFFF;
    color: #204BBC;
}
.d-innovate-mid li {
    text-align: center;
    color: #FFFFFF;
    width: 600px;
    height: 278px;
    float: left;
}
.d-innovate-mid li a {
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    line-height: 30px;
    width: 126px;
    display: inline-block;
    text-align: center;
}
.d-innovate-mid ul li a:hover {
    background: #FFFFFF;
    color: #103EB7;
}

.d-copy ul {
    float: right;
    width: 900px;
}
.d-copy ul li {
    margin: 4px 5px;
    float: left;
    border: solid 1px #DDDDDD;
    width: 288px;
    height: 215px;
    text-align: center;
}
.d-copy ul li img {
    margin-top: 20px;
}
.d-copy ul li h1 {
    font-size: 20px;
    color: #333333;
    padding-top: 15px;
}
.d-copy ul li p {
    color: #999999;
    font-size: 12px;
    line-height: 28px;
}
.d-copy ul li span {
    color: #333333;
    font-size: 14px;
    padding: 25px 0;
    display: block;
}
.d-innovate ul li span font {
    font-size: 16px;
}
.d-copy ul li span font {
    color: #BE2216;
}
.d-copy ul li a.coa1 {
    color: #BE2216;
    background: #FFFFFF;
}
.d-copy ul li a {
    margin: 0 5px;
    display: none;
    border-radius: 2px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #BE2216;
}
.d-copy ul li a.coa2 {
    color: #FFFFFF;
    background: #BE2216;
}
.d-copy dl {
    margin: 0 -8px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.d-innovate dl dd {
    width: 292px;
    height: 180px;
    border-radius: 2px;
    box-shadow: 5px 5px 21px rgba(151,151,151,0.3);
    background: url(../images/chuang.png) no-repeat;
    text-align: center;
    float: left;
    margin: 0 5px;
}
.d-copy dl dd img {
    padding-top: 20px;
}
.d-copy dl dd h1 {
    font-size: 20px;
    color: #333333;
    line-height: 42px;
    padding-top: 10px;
}
.d-copy dl dd h3 {
    color: #333333;
    font-size: 14px;
    padding-top: 11px;
}
.d-innovate dl dd h3 font {
    font-size: 16px;
}
.d-copy dl dd h3 font {
    color: #BE2216;
}
.d-copy dl dd a.coa1 {
    color: #BE2216;
    background: #FFFFFF;
}
.d-copy dl dd a {
    margin: 0 5px;
    display: none;
    border-radius: 2px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #BE2216;
}
.d-copy dl dd a.coa2:hover {
    color: #FFFFFF;
    background: #BE2216;
}
.d-copy ul li.cr-li1 {background:url(../images/cr-1.png) no-repeat;}
.d-copy ul li.cr-li2 {background:url(../images/cr-2.png) no-repeat;}
.d-copy ul li.cr-li3 {background:url(../images/cr-3.png) no-repeat;}
.d-copy ul li.cr-li4 {background:url(../images/cr-4.png) no-repeat;}
.d-copy ul li.cr-li5 {background:url(../images/cr-5.png) no-repeat;}
.d-copy ul li.cr-li6 {background:url(../images/cr-6.png) no-repeat;}
.d-copy dl dd.cr-li7 {background:url(../images/cr-7.png) no-repeat;}
.d-copy dl dd.cr-li8 {background:url(../images/cr-8.png) no-repeat;}
.d-copy ul li a.coa1 { color: #BE2216; background: #FFFFFF;}
.d-copy ul li a.coa2 {color:#FFFFFF ; background: #BE2216;}
.d-copy ul li:hover a { display:inline-block;/* opacity:0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards ;
    animation-fill-mode: forwards ; */}
.d-copy ul li:hover img { margin-top: 10px;}
.d-copy ul li:hover span {display: none;}
.d-copy ul li:hover p { margin-bottom: 30px;}
.d-copy dl dd:hover h3 {display: none;}
.d-copy dl dd:hover a { display: inline-block;/* opacity:0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards ;
    animation-fill-mode: forwards ; */}
.d-copy dl dd:hover img {padding-top: 10px;}
.d-copy dl dd:hover h1 { padding-bottom: 10px;}
.d-copy dl dd.last { text-align: left; background: url(../images/morett.png) no-repeat right center;}
.d-copy dl dd.last h2 { font-size: 20px; margin-top: 20px; margin-left: 20px;}
.d-copy dl dd.last h4 {color: #C5C5C5; padding-left: 20px;}
.d-copy dl dd.last a { border: none; width: 124px; height: 32px; display: inline-block; background: url(../images/youpiezi.png) no-repeat; margin-left: 227px; margin-top: 55px;}
.d-copy dl dd.last:hover a { background: url(../images/youpiezired.png) no-repeat;}
.d-copy dl dd.last:hover h2 { color: #BE2216;}
/**国际服务***/
.d-ional-bots {
    overflow: hidden;
    display: none;
    padding-left: 29px;
}
.d-ional-bots ul li {
    width: 244px;padding-left: 19px;height: 154px;background: #F5F5F5;
    float: left;margin-left:50px;padding-top: 30px;margin-bottom: 10px;
}
.d-ional-bots ul li img {float: left;}
.d-ional-bots ul li span {
    display: block;
    float: left;
    width: 120px;
    margin-left: 13px;
}
.d-ional-bots ul li span h2 {
    font-size: 18px;
    color: #333333;
}
.d-ional-bots ul li span h2 font {
    display: inline-block;
    font-size: 12px;
    background: url(../images/hotlit.png) no-repeat left center;
    padding-left: 15px;
    color: #BE2216;
    margin-left: 19px;
    height: 15px;
}
.d-ional-bots ul li span p {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}
 
.d-ional-bots ul li a.d-zhu {
    color: #BE2216;
}
.d-ional-bots ul li a {
    border-radius: 2px;
    width: 90px;
    line-height: 26px;
    border: solid 1px #BE2216;
    display: inline-block;
    margin-top: 32px;
    text-align: center;
}
/* .zl-international-bg{background: url(../img/list/zl/zl-internation-bg.jpg) center 262px no-repeat #FFFFFF;} */
.internation-box{margin-top: 30px;}
.internation-box .international-comm{margin-top: 0px;}
.internation-box .international-comm .inter-same{width:580px; height: 300px; position: relative; text-align: center; float: left; box-shadow:0px 3px 20px rgba(0,0,0,0.2);  transition: all 0.4s ease; -webkit-transition:all 0.4s ease; -ms-transition:all 0.4s ease; -moz-transition:all 0.4s ease;}
.internation-box .international-comm .inter-same h2{font-size: 24px; color: #FFFFFF; line-height: 24px; padding: 60px 0 28px 0; }
.internation-box .international-comm .inter-same p{font-size: 16px; color: #FFFFFF; line-height: 24px;padding-left:40px;padding-right:40px;height:123px;overflow:hidden;}
.internation-box .international-comm .inter-same .know{width:156px; height: 38px; position: absolute; bottom: 40px; left: 210px; line-height: 38px; font-size: 16px; color: #FFFFFF; font-weight: bold; display: inline-block; border: 2px solid #e1e1e1; border-radius: 21px; -webkit-border-radius: 21px; -moz-border-radius: 21px;}
.internation-box .international-comm .inter-same:hover .know{width:160px; height:42px; line-height:42px; border:none;}
.internation-box .international-comm .inter-same .none{display: none;}
.internation-box .international-comm .inter-same .border{width:27px; height: 3px; background: #FFFFFF; display: block; margin: 40px auto 0px; }
.internation-box .international-comm .first{background: url(../images/zl-inter-img01.jpg) no-repeat; margin-right: 40px;}
.internation-box .international-comm .first:hover{background: url(../images/zl-inter-img01-hover.jpg) no-repeat;}
.internation-box .international-comm .second{background: url(../images/zl-inter-img02.jpg) no-repeat;}
.internation-box .international-comm .second:hover{background: url(../images/zl-inter-img02-hover.jpg) no-repeat;}
.internation-box .international-comm .inter-same:hover .know{background: #FFFFFF; color: #333333;}
.internation-box .international-comm .inter-same:hover h2{padding: 40px 0 26px 0;}
.internation-box .international-comm .inter-same:hover .none{display: block;}
.internation-box .international-comm .inter-same:hover .block{display: none;}
.internation-box .international-comm .inter-same:hover .border{display: none;}
.internation-tj-box{width:1144px; height: 420px; position: relative; margin-top: 100px; background: url(../img/list/zl/zl-inter-bg02.jpg) no-repeat; box-shadow:0px 3px 20px rgba(0,0,0,0.4);}
.internation-tj{position: absolute; top: 0; left: 0; height: 420px; width:1200px;}
.internation-tj .recomm-left{width:180px; text-align: center; padding:0px 60px ;}
.internation-tj .recomm-left h2{font-size: 40px; font-weight: bold; line-height: 56px; color: #FFFFFF; margin: 86px 0 9px 0;}
.internation-tj .recomm-left p{font-size:22px; color: #FFFFFF; line-height: 18px;}
.internation-tj .recomm-left .know{width:160px; height: 42px; line-height: 42px; display: inline-block; font-size: 16px; color: #FFFFFF;  margin-top: 60px; font-weight: bold; border-radius: 20px;-webkit-border-radius: 20px; -moz-border-radius: 20px; background: -webkit-linear-gradient(left,#20eb9a, #00c174);background: -moz-linear-gradient(right, #20eb9a, #00c174);background: -o-linear-gradient(right, #20eb9a, #00c174);background: linear-gradient(to right, #20eb9a, #00c174); }
.internation-tj .recomm-left .know:hover{background: -webkit-linear-gradient(left,#00c174, #20eb9a);background: -moz-linear-gradient(right, #00c174, #20eb9a);background: -o-linear-gradient(right, #00c174, #20eb9a);background: linear-gradient(to right, #00c174, #20eb9a); }
.internation-tj .recomm-right{background: #FFFFFF; height: 280px; margin-top: 70px; width:900px; position: relative; box-shadow:0px 3px 20px rgba(0,0,0,0.2); }
.internation-tj .recomm-right .recomm-img{width:460px; height: 320px; position: relative; top: -20px; box-shadow:0px 5px 15px rgba(0,0,0,0.4); }
.internation-tj .recomm-right .recomm-co{width:392px; height: 280px; background: url(../img/list/zl/icon/tj-icon.png) 190px 107px no-repeat;}
.internation-tj .recomm-right .recomm-co h2{font-size: 30px; color: #333333; line-height: 30px; font-weight: bold; margin: 50px 0 14px 0;}
.internation-tj .recomm-right .recomm-co p{font-size: 18px; color: #999999; line-height: 30px;}
.internation-tj .recomm-right .recomm-co h3{font-size: 30px; color: #ff4040; line-height: 24px; font-weight: bold; margin-top: 44px;}
.internation-tj .recomm-right .recomm-co b{font-size: 24px; display: inline-block; vertical-align: middle;}
.internation-tj .recomm-right .recomm-co span{line-height: 24px; display: inline-block; vertical-align: middle;}