﻿body {
    background: #EEF1F6;
    color: #333;
    min-width: 1280px;
}
.pl35{padding-left:35px;}
/*.p35{padding:0 35px 0 35px;}*/
.service-top{height:368px;}
.service-content{background: url(../images/service_bg.png) no-repeat;} 
.service-content .crumbs{height:35px;line-height: 35px;font-size:12px;}
.service-content .crumbs a {
    color: #555555;
    font-size: 12px;
}
.service-top .service-top-left{width:873px;height:290px;background:#ffffff;padding:43px 0px 35px 27px;}
.service-top .service-top-left img{width:206px;height:290px;}
.service-top .service-top-left .service-top-text{width:648px;margin-left:19px;}
.service-top .service-top-left .service-top-text h1{font-size: 22px;font-weight: bold;color:#333333;}
.service-top .service-top-left .service-top-text h2{font-size: 14px;color:#666666;margin-top:8px;}
.service-top .service-top-left .service-price-box{height:70px;margin-top:18px;padding:27px 0 0 23px;background: url(../images/service_bg03.png);position: relative;}
.service-top .service-top-left .service-price-box .service-price-one{color:#333333;font-size:16px;color:#BE2216;font-weight:bold;}
.service-top .service-top-left .service-price-box .service-price-two{color:#333333;font-size:24px;color:#BE2216;font-weight:bold;}
.service-top-left .deal-no{position: absolute;top:32px;right:90px;width:100px;text-align: center;}
.deal-no h3{font-size:18px;color:#BE9469;font-weight: bold;}
.deal-no h4{font-size: 12px;color:#666666;margin-top:7px;}
.service-top .service-top-left .service-select{margin-top:14px;}
.service-top .service-top-left .service-select p{font-size: 14px;color: #666666;float: left;line-height:40px;width: 70px;}
.service-top  .service-top-left .service-select ul li{position: relative;
    height: 40px;float: left;margin-right: 14px;border: 1px solid #DDDDDD;
    line-height: 38px;text-align: center;}
.service-top .service-top-left .service-select ul li.selected b {
    background: url(../images/gou.png) no-repeat;   
}    
.service-top .service-top-left .service-select ul li b {
    width: 17px;
    height: 16px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -1px;    
}    
.service-top .service-top-left .service-buy-button {
    background: #BE2216;
    height: 43px;
    width: 137px;
    text-align: center;
    color: #ffffff;
    line-height: 43px;
    border-radius: 2px;
    margin-top: 27px;
    display: inline-block;
}
.service-top .service-top-left .service-select ul li.selected {
    border: 1px solid #BE9469;
}
.service-top .service-top-left .service-select-button{background:#BE2216;height:43px;width:137px;text-align:center;color:#ffffff;line-height: 43px;border-radius:2px;margin-top:27px;display: block;}

.service-top-right{width:231px;height:301px;background:#ffffff;margin-left:1px;padding:36px 34px 31px 34px;text-align: center;}
.service-top-right h1{font-size: 16px;color:#333;font-weight: bold;margin-top:29px;}
.service-top-right h2{margin-top: 21px;font-size: 14px;color:#333;}
.service-top-right h3{margin-top: 13px;font-size: 14px;color:#333;}
.service-top-right .xing{margin-top:9px;}
.service-top-right .service-connect{height:27px;width:104px;background:#BE9469;color:#ffffff;margin-top:19px;display: inline-block;line-height: 27px;}

.service-bottom{margin:15px auto;}
.service-bottom-left{width:263px;}
.service-bottom-left .title{height:32px;background:#F1EDEA;padding-top:13px;}
.service-bottom-left .title h1{height:20px;border-left:5px solid #BE9469;color:#BE9469;font-size:16px;padding-left:13px;}
.service-bottom-left ul{background:#ffffff;padding:0 23px 0 23px;}
.service-bottom-left ul li{padding:24px 0 14px 0;height:80px;border-bottom: 1px solid #E9E9E9;}
.service-bottom-left ul li h1{width:120px;font-size:16px;color:#333;font-weight: bold;text-align: left;}
.service-bottom-left ul li h2{width:73px;color:#BE2216;text-align: right;}
.service-bottom-left ul li h2 span{font-size:12px;color:#BE2216;}
.service-bottom-left ul li h3{width:120px;font-size:12px;text-align: left;line-height: 23px;}
.service-bottom-left ul li h4{text-align: right;margin-top:6px;} 
.service-bottom-left ul li h4 a{width:73px;border:1px solid #BE9469;border-radius:2px;font-size:12px;display:inline-block;text-align: center;}
.service-bottom-left img{margin-top:1px;}
.service-bottom-right{margin-left:7px;width:900px;}
.service-right-nav{background:#F3F3F3;height:46px;line-height: 46px;width:900px;z-index:10;}
.service-right-content{background: #ffffff;min-height: 680px;position: relative;}
.service-right-nav ul li {width:66px;float:left;height:42px;margin-left:41px;font-size: 16px;color:#333333;}
.service-right-nav ul li.hover {border-bottom: 4px solid #BE9469;}
.service-right-nav ul li.hover a{color:#BE9469;}
.service-content-box{padding-top:20px;padding-bottom:48px;position: relative;}
.service-content-box-right{width:900px;}
.service-content-box-right h1.list-title{

    font-size: 30px;
    color: #333333;
    line-height: 30px;
    text-align: center;
    margin-top:10px;


}
.service-content-box-right h2.list-title{margin-top:32px;font-size:14px;color:#666666; text-align: center;}
.service-content-box-left{width:22px;height:22px;background: url(../images/no_bg.png);text-align: center;}
.service-content-box-right .service-benefit{margin-top: 53px;}
.service-content-box-right .service-benefit li{
    width:130px;height:100px;padding-top:26px;float:left;margin-left:30px;
    /*box-shadow:8px 0px 16px rgba(240,221,60,0.67);*/
    text-align: center;
}

.service-content-box-right .service-benefit li:first-child{

    background: url(../images/haochu1.png);
}
.service-content-box-right .service-benefit li:nth-child(2){

    background: url(../images/haochu2.png);
}
.service-content-box-right .service-benefit li:nth-child(3){

    background: url(../images/haochu3.png);
}
.service-content-box-right .service-benefit li:nth-child(4){

    background: url(../images/haochu4.png);
}
.service-content-box-right .service-benefit li:nth-child(5){

    background: url(../images/haochu5.png);
}
.service-benefit h1{color:#FFFFFF;font-size:14px;line-height: 14px;}
.service-benefit h2{font-size:12px;color:#FFFFFF;width:100px;margin:10px auto;}
.service-benefit li h2{height :50px; overflow: hidden}
.service-material{margin-top:26px;}
.service-material li{width:332px;height:98px;background: #FFFCF8;float:left;margin-right:16px;padding-top:14px;padding-left:20px;}
.service-material h1{font-size:14px;color:#333333;font-weight: bold;margin-bottom:14px;line-height: 14px;}
.service-material h2{font-size:12px;line-height:18px;color:#666666;}
.service-process{text-align: center;margin-top:57px;}
.service-process li{float:left;margin-left: 10px; margin-bottom: 30px;}
.service-process h1{font-size:18px;color:#FFFFFF;line-height: 16px;}
.service-process h2{font-size:12px;line-height:16px;color:#FFFFFF;width: 100px;margin:14px auto;}
.service-process .process-img{width:45px;height:22px;}
.service-process  .process-one{
    width:140px;color:#ffffff;
	padding-top:15px;
    background: -webkit-linear-gradient(left, #2d73bb , #5e9ee0);
    background: -o-linear-gradient(right, #2d73bb, #5e9ee0);
    background: -moz-linear-gradient(right, #2d73bb, #5e9ee0);
    background: linear-gradient(to right, #2d73bb , #5e9ee0);
    margin-left: 43px;
    min-height:87px;
}
.service-advantage-box{margin-left:40px;margin-top:44px;margin-bottom:100px;width:244px;float:left;position: relative;}
.service-advantage-box img{width:244px;height:193px;}
.service-advantage-bottom{width:220px;background:#ffffff;height:129px;overflow: hidden;transition:height 1s;color: #333333;position: absolute;bottom:-100px;left:10px;text-align: center;padding-bottom:10px;box-shadow:0px 0px 16px rgba(34,34,34,0.13);}
.service-advantage-bottom hr{margin:25px auto;background:#535353;height:5px;width:32px;}
.service-advantage-bottom h1{font-size:18px;font-weight: bold;margin-top:19px;line-height: 18px;color:#333333;}
.service-advantage-bottom h2{font-size:12px;line-height: 23px;margin-top:6px;margin-bottom:16px;color:#333333;}
.service-advantage-bottom button{display:none;background:#BE2216;width:110px;height:27px;color:#ffffff;margin:0 auto;margin-top:20px;margin-bottom:11px;}
.service-advantage-con{display:none;width:169px;height:67px;font-size:12px;margin:10px auto;color:#555555;line-height:18px;}
.service-advantage-box:hover .service-advantage-con{display:block;}
.service-advantage-box:hover hr{background:#BE2216;}
.service-advantage-box:hover .service-advantage-bottom{height:200px;}
.service-advantage-box:hover .service-advantage-bottom h1{color:#BE2216;}
.service-advantage-box:hover .service-advantage-bottom h2{color:#BE2216;}
.service-advantage-box:hover .service-advantage-bottom button{display:block;}
.publicblock img {
    max-width: 100%;
    border: 0;
    outline: none;
    vertical-align: middle!important;
}
.service-process li img{float:left;margin-top:30px;}
.zl-qualifications .items {
    margin-top: 67px;
}
.zl-qualifications .items li {
    width: 320px;
    height: 200px;
    float: left;
    background: url(../images/qualifi-bg.jpg) no-repeat;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.zl-qualifications .items li .box {
    position: absolute;
    width: 270px;
    height: 150px;
    background: #ffffff;
    top: -20px;
    left: -20px;
    padding: 25px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.14);
}
.zl-qualifications .items li .comm p {
    font-size: 14px;
    colro: #666666;
    line-height: 24px;
    width: 120px;
    height: 96px;
    overflow: hidden;
}
.zl-qualifications .items li .comm {
    margin-left: 30px;
}