﻿body {
    background: #EEF1F6;
    color: #333;
    min-width: 1280px;
}
.bannerf {
    height: 360px;
    margin-bottom: 20px;
}
.title .big span {
    font-size: 24px;
    text-align: center;
    color: #343434;
    position: relative;
    height: 30px;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
}
.title .big span i {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -5.5px;
    background: url(../images/sys_icon.png) no-repeat -159px 0;
}
.title .big span .i_l {
    left: 0;
}
.title .big span .i_r {
    right: 0;
}
.title_box {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.title_box span {
    font-size: 14px;
    color: #9B9B9B;
    width: 70px;
    height: 28px;
    text-align: center;
}
/*交易*/
.jiaoyi{height:590px;background:#fff;margin-bottom:50px;position:relative;z-index:1;}
.jiaoyi_title{height:64px;border-bottom:1px solid #E8EAED;}
.jiaoyi_title_left{float:left;position:relative;width:150.5px;float:left;overflow:hidden;height:64px;}
.jiaoyi_title_left span{font-weight:700;color:#202F4E;font-size:20px;height:45px;line-height:45px;display:block;padding:10px;padding-left:50px;border-right:1px solid #E8EAED;}
.jiaoyi_title_left i{width:22px;height:16px;border-radius:3px;background:#2B3D63;position:absolute;left:20px;top:50%;margin-top:-7px;font-size:12px;font-family:airal;text-align:center;line-height:16px;color:#FFEA00;}
.jiaoyi_hd{float:left;}
.jiaoyi_hd  li{height:64px;width:149.5px;border-right:1px solid #E8EAED;float:left;line-height:64px;text-align:center;color:#213151;font-size:16px;position:relative;}
.jiaoyi_hd  li a{color:#8C8C8C;display:block;height:100%;}
.jiaoyi_hd  li a:hover{color:#2B3D63;}
.jiaoyi_hd  li a{display:block;}
.jiaoyi_hd  li:after{content: "";display: block;position: absolute;width:152px;height:8px;top: -3px;right:0px;background:url(../images/business_index/on.png) no-repeat left center;display:none;}
.jiaoyi_hd  li.on:after{display:block;}
.jiaoyi_title .a{float:right;padding:10.5px 0 0 0;margin-right:20px;overflow:hidden;}
.jiaoyi_title .a a{display:inline-block;height: 46px;line-height: 46px;color: white;position: relative;background:url(../images/business_index/m2.png) no-repeat right center;cursor:pointer;letter-spacing:2px;z-index:1;padding-right:27px;font-size:14px;color:#2B3D63;}
.jiaoyi_title .a a i{display:inline-block;width:17px;height:12px;background:url(../images/business_index/m1.png) no-repeat left center;margin:0px 4px 0 12px;position:relative;top:0px;}
.jiaoyi_title .a a:hover{background:url(../images/business_index/m3.png) no-repeat right center;}
.jiaoyi_content{height:525px;position:relative;}
.jiaoyi_content ul{height:100%;width:1200px !important;overflow:hidden;}
.jiaoyi_content li{width:1204px;height:100%;overflow:hidden;}
.jiaoyi_content li .single{width:300px;height:50%;border-bottom:1px solid #E8EAED;border-right:1px solid #E8EAED;float:left;position:relative;}
.jiaoyi_content li .single a.box{display:block;height:100%;padding:10px 15px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.jiaoyi_content li .single:hover{-webkit-box-shadow: inset 0 0 38px rgba(0,0,0,.04);box-shadow: inset 0 0 38px rgba(0,0,0,.04);-webkit-transition: all .15s ease;transition: all .15s ease}
.jiaoyi .boxhover_box{height:50%;width:100%;}
.jiaoyi .boxhover_top{background:#707DB5  url(../images/business_index/s5.png) no-repeat;}
.jiaoyi .boxhover_bottom{background:#385798;}
.jiaoyi .boxhover_bottom .single2 a.box{padding:15px 24px;}
.jiaoyi .boxhover_bottom .single2 h2{color:#fff;font-size:18px;line-height:30px;font-weight:normal;padding-top:13px;}
.jiaoyi .boxhover_bottom .single2 .p1{height:21px;border:1px solid #798AB5;line-height:21px;text-align:center;color:#7687B3;margin:13px 0 15px 0;padding:0 15px;display:inline-block;max-width:200px;}
.jiaoyi .boxhover_bottom .single2 .p2{font-size:14px;color:#A6B3D5;line-height:20px;position:relative;padding:10px 0 5px 0;}
.jiaoyi .boxhover_bottom .single2 .p2:after{content: "";display: block;position: absolute;width:16px;height:1px;background:#9BA8C4;left:0;top:0;}
.jiaoyi .boxhover_bottom .single2 .p3{font-size:14px;color:#A6B3D5;line-height:20px;position:relative;padding-bottom:30px;position:relative;}
.jiaoyi .boxhover_bottom .single2 .p3 .money{color:#fff;font-size:13px;text-align:center;color:#fff;margin-top:10px;font-family: aiarl;}
.jiaoyi .boxhover_bottom .single2 .p3 .m{font-size:18px;font-weight:700;}
.jiaoyi .boxhover_bottom .single2 .p3:after{content: "";display: block;position: absolute;width:20px;height:21px;background:url(../images/business_index/m5.png) no-repeat right center !important;background-size:cover !important;left:0;bottom:0;}
.jiaoyi .boxhover_bottom .single2{width:300px;height:100%;float:left;}
.jiaoyi .boxhover_bottom .single2 a.box{display:block;height:100%;padding:15px 25px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.jiaoyi .boxhover_bottom .single2:hover{-webkit-box-shadow: inset 0 0 38px rgba(0,0,0,.04);box-shadow: inset 0 0 38px rgba(0,0,0,.04);-webkit-transition: all .15s ease;transition: all .15s ease}
.jiaoyi .boxhover_top{position:relative;}
.jiaoyi .boxhover_top .alink{overflow:hidden;width:260px;margin:0 auto;position:absolute;left:50%;margin-left:-130px;bottom:25px;}
.jiaoyi .boxhover_top a{display:block;color:#fff;float:left;width:120px;border:2px solid #fff;height:34px;line-height:34px;text-align:center;font-size:14px;margin:0 3px;}
.jiaoyi .boxhover_top a font{padding-left:25px;}
.jiaoyi .boxhover_top a.a1 font{background:url(../images/business_index/f1.png) no-repeat left center;}
.jiaoyi .boxhover_top a.a2 font{background:url(../images/business_index/f2.png) no-repeat 5px center;padding-left:18px;}
.jiaoyi .boxhover_top a:hover{background:#FF662B/*url(../images/business_index/m4.png)*/;}

/*shangbiaojiaoyi*/
.shangbiaojiaoyi .single{float:left;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;position:relative;overflow:hidden;}
.shangbiaojiaoyi .single .img{width:270px;height:120px;text-align:center;margin:0 15px;margin-bottom:20px;display: table-cell;vertical-align: middle;text-align: center;}
.shangbiaojiaoyi .single .img img{max-width:120px;max-height:120px;}
.shangbiaojiaoyi .single .txt{font-size:18px;text-align:center;color:#4C4C4C;line-height:27px;padding:5px 0 0 0;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.shangbiaojiaoyi .single:hover .txt{/* margin-top: -18px; */-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;}
.shangbiaojiaoyi .single:hover .intro{opacity: 0;z-index: -1;position: relative;margin-bottom: -24px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;}
.shangbiaojiaoyi .single .mores{height:1px;width:23px;background:#DEDEDE;margin:5px auto;}
.shangbiaojiaoyi .single .intro{font-size:12px;line-height:20px;color:#9F9F9F;text-align:center;padding:5px 0;}
.shangbiaojiaoyi .single .money{color:#fff;font-size:13px;text-align:center;color:#FF662B;margin-top:10px;font-family: aiarl;}
.shangbiaojiaoyi .single .money .m{font-size:18px;font-weight:700;}
.shangbiaojiaoyi .single .a{position:absolute;left:0;bottom:0;width:302px;height:0;overflow:hidden;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;opacity:0;}
.shangbiaojiaoyi .single .a a{border-top:1px solid #E8EAED;display:block;width:150px;border-right:1px solid #E8EAED;line-height:35px;float:left;text-align:center;color:#5E5E5E;font-size:14px;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.shangbiaojiaoyi .single:hover .a{height:35px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;opacity:1;}
.shangbiaojiaoyi .single .a a:hover{color:#fff;border-color:#2B3D63;background:#2B3D63;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
/*zhuanglijiaoyi*/
.zhuanglijiaoyi{height:535px;}
.zhuanglijiaoyi .jiaoyi_content{height:470px;}
.zhuanglijiaoyi li .single a.box{padding:15px 24px;}
.zhuanglijiaoyi li .single h2{color:#2B3D63;font-size:18px;line-height:30px;font-weight:normal;padding-top:13px;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.zhuanglijiaoyi li .single:hover h2{padding-top:5px;}
.zhuanglijiaoyi li .single .p1{height:21px;border:1px solid #D1D4DA;line-height:21px;text-align:center;color:#BBBFCB;margin:13px 0 15px 0;padding:0 15px;display:inline-block;max-width:200px;}
.zhuanglijiaoyi li .single .p2{font-size:14px;color:#8A8F9A;line-height:20px;position:relative;padding:10px 0 5px 0;}
.zhuanglijiaoyi li .single .p2:after{content: "";display: block;position: absolute;width:16px;height:1px;background:#D1D4DA;left:0;top:0;}
.zhuanglijiaoyi li .single .p3{font-size:14px;color:#8A8F9A;line-height:20px;position:relative;padding-bottom:30px;position:relative;}
.zhuanglijiaoyi li .single .p3 .money{color:#fff;font-size:13px;text-align:center;color:#FF662B;margin-top:10px;font-family: aiarl;}
.zhuanglijiaoyi li .single .p3 .m{font-size:18px;font-weight:700;}
.zhuanglijiaoyi li .single .p3:after{content: "";display: block;position: absolute;width:18px;height:18px;background:url(../images/business_index/go2.png) no-repeat left bottom;left:0;bottom:0;}
.bgboth{height:0;width:100%;min-width:1200px;margin:0 auto;}
.bgboth .bgbox{height:748px;background:red;position:relative;top:-400px;background:url(../images/business_index/bg.jpg) no-repeat center}
.zhuanglijiaoyi .boxhover{height:470px;width:300px;background:red;position:absolute;left:0;top:235px;z-index:3;background:#6D7BB3;}
.zhuanglijiaoyi .single1 .boxhover,.zhuanglijiaoyi .single2 .boxhover,.zhuanglijiaoyi .single3 .boxhover,.zhuanglijiaoyi .single4 .boxhover{top:-470px;-webkit-transition:all 0.6s linear 0s;transition:all 0.6s linear 0s;}
.zhuanglijiaoyi .single1 .boxhover .boxhover_top,.zhuanglijiaoyi .single2 .boxhover .boxhover_top,.zhuanglijiaoyi .single3 .boxhover .boxhover_top,.zhuanglijiaoyi .single4 .boxhover .boxhover_top{position:absolute;left:0;top:0;}
.zhuanglijiaoyi .single1 .boxhover .boxhover_bottom,.zhuanglijiaoyi .single2 .boxhover .boxhover_bottom,.zhuanglijiaoyi .single3 .boxhover .boxhover_bottom,.zhuanglijiaoyi .single4 .boxhover .boxhover_bottom{position:absolute;left:0;bottom:0;}
.zhuanglijiaoyi .single5 .boxhover,.zhuanglijiaoyi .single6 .boxhover,.zhuanglijiaoyi .single7 .boxhover,.zhuanglijiaoyi .single8 .boxhover{top:235px;-webkit-transition:all 0.6s linear 0s;transition:all 0.6s linear 0s;}
.zhuanglijiaoyi .single5 .boxhover .boxhover_top,.zhuanglijiaoyi .single6 .boxhover .boxhover_top,.zhuanglijiaoyi .single7 .boxhover .boxhover_top,.zhuanglijiaoyi .single8 .boxhover .boxhover_top{position:absolute;left:0;bottom:0;}
.zhuanglijiaoyi .single5 .boxhover .boxhover_bottom,.zhuanglijiaoyi .single6 .boxhover .boxhover_bottom,.zhuanglijiaoyi .single7 .boxhover .boxhover_bottom,.zhuanglijiaoyi .single8 .boxhover .boxhover_bottom{position:absolute;left:0;top:0;}
.zhuanglijiaoyi .single1:hover .boxhover,.zhuanglijiaoyi .single2:hover .boxhover,.zhuanglijiaoyi .single3:hover .boxhover,.zhuanglijiaoyi .single4:hover .boxhover{top:0px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;}
.zhuanglijiaoyi .single5:hover .boxhover,.zhuanglijiaoyi .single6:hover .boxhover,.zhuanglijiaoyi .single7:hover .boxhover,.zhuanglijiaoyi .single8:hover .boxhover{top:-235px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;}
/*专利修改*/
.zhuanglijiaoyi .single .a{position:absolute;left:0;bottom:0;width:302px;height:0;overflow:hidden;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;opacity:0;}
.zhuanglijiaoyi .single .a a{border-top:1px solid #E8EAED;display:block;width:150px;border-left:1px solid #E8EAED;line-height:35px;float:left;text-align:center;color:#5E5E5E;font-size:14px;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.zhuanglijiaoyi .single .a a:first-child{border-left:0px solid #E8EAED;}
.zhuanglijiaoyi .single:hover .a{height:35px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;opacity:1;}
.zhuanglijiaoyi .single .a a:hover{color:#fff;border-color:#2B3D63;background:#2B3D63;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}


/*banquanjiayi*/
.banquanjiayi{position:relative;z-index:1;}
.banquanjiayi .jiaoyi_content2{height:420px;background:#fff;}
.banquanjiayi .jiaoyi_content2 ul{height:100%;width:1200px !important;overflow:hidden;}
.banquanjiayi .jiaoyi_content2 li{width:1204px;height:100%;overflow:hidden;overflow:hidden;}
.banquanjiayi .jiaoyi_content2 li .single{width:300px;height:50%;border-bottom:1px solid #E8EAED;border-right:1px solid #E8EAED;float:left;}
.banquanjiayi .jiaoyi_content2 li .single:hover{-webkit-box-shadow: inset 0 0 38px rgba(0,0,0,.04);box-shadow: inset 0 0 38px rgba(0,0,0,.04);-webkit-transition: all .15s ease;transition: all .15s ease}
.banquanjiayi .jiaoyi_content2 li .single a.box{padding:15px 24px;display:block;height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;}
.banquanjiayi .jiaoyi_content2 li .single h2{color:#2B3D63;font-size:16px;line-height:30px;font-weight:normal;padding-top:3px;}
.banquanjiayi .jiaoyi_content2 li .single .p1{height:21px;border:1px solid #FF662B;line-height:21px;text-align:center;color:#FF662B;margin:13px 0 15px 0;padding:0 15px;display:inline-block;max-width:200px;}
.banquanjiayi .jiaoyi_content2 li .single .p2{font-size:14px;color:#8A8F9A;line-height:20px;position:relative;padding:10px 0 5px 0;}
.banquanjiayi .jiaoyi_content2 li .single .p2:after{content: "";display: block;position: absolute;width:16px;height:1px;background:#D1D4DA;left:0;top:0;}
.banquanjiayi .jiaoyi_content2 li .single .p3{font-size:14px;color:#8A8F9A;line-height:20px;position:relative;padding-bottom:30px;position:relative;}
.banquanjiayi .jiaoyi_content2 li .single .p3 .money{color:#fff;font-size:13px;text-align:center;color:#FF662B;margin-top:10px;font-family: aiarl;}
.banquanjiayi .jiaoyi_content2 li .single .p3 .m{font-size:16px;}
.banquanjiayi .jiaoyi_content2 li .single .p3:after{content: "";display: block;position: absolute;width:18px;height:18px;background:url(../images/business_index/go2.png) no-repeat left bottom;left:0;bottom:0;}
.banquanjiayi .mores{height:0;position:relative;}
.banquanjiayi .mores .hot{width:58px;height:24px;position:absolute;left:0;top:-60px;}
.banquanjiayi .mores .hot span{display:block;width:100%;height:100%;line-height:22px;font-size:12px;font-family:arial;background:url(../images/business_index/hot.png) no-repeat right center;color:#fff;text-align:center;}
.banquanjiayi .mores .a{position:absolute;right:0;top:-72px;}
.banquanjiayi .mores .a a{display:inline-block;height: 46px;line-height: 46px;color: white;position: relative;background:url(../images/business_index/m6.png) no-repeat right center;cursor:pointer;letter-spacing:2px;z-index:1;padding-right:27px;font-size:14px;color:#fff;}
.banquanjiayi .mores .a a i{display:inline-block;width:17px;height:12px;background:url(../images/business_index/q1.png) no-repeat left center;margin:0px 4px 0 12px;position:relative;top:0px;}
.banquanjiayi .mores .a a:hover{background:url(../images/business_index/m8.png) no-repeat right center;}
.banquanjiayi .img{width:100%;height:100%;border-bottom:1px solid #385798 !important;}
.banquanjiayi .img img{width:100%;height:100%;}
.banquanjiayi .single.on{background:#385798;}
.banquanjiayi .single.on h2{color:#fff !important;}
.banquanjiayi .single.on .p1{color:#fff !important;border-color:#8196C1 !important;}
.banquanjiayi .single.on .p2{color:#B2BACB !important;}
.banquanjiayi .single.on .p3{color:#B2BACB !important;}
.banquanjiayi .single.on .p3 .m,.banquanjiayi .single.on .p3 .s{color:#fff !important;}
.banquanjiayi .single.on .p3:after{background:url(../images/business_index/m5.png) no-repeat right center !important;background-size:cover !important;}
