﻿body {
    background: #EEF1F6;
    color: #333;
    min-width: 1280px;
}
/*.p35{padding:0 35px 0 35px;}*/
.service-top{height:368px;}
.service-content{background: url(../images/service_bg.png) no-repeat;} 
.service-content .crumbs{height:35px;line-height: 35px;color:#ffffff;font-size:12px;}
.service-content .crumbs a{color:#ffffff;}

.service-top-left{width:873px;height:290px;background:#ffffff;padding:43px 0px 35px 27px;}
.service-top-left img{width:206px;height:290px;}
.service-top-text{width:648px;margin-left:19px;}
.service-top-text h1{font-size: 22px;font-weight: bold;color:#333333;}
.service-top-text h2{font-size: 14px;color:#666666;margin-top:8px;}
.service-price-box{height:70px;margin-top:18px;padding:27px 0 0 23px;background: url(../images/service_bg03.png);position: relative;}
.service-price-box h1{text-decoration:line-through;color:#999999;font-size:12px;}
.service-price-box h2{color:#333333;font-size:14px;}
.service-price-box .service-price-one{color:#333333;font-size:16px;color:#BE2216;font-weight:bold;}
.service-price-box .service-price-two{color:#333333;font-size:24px;color:#BE2216;font-weight:bold;}
.deal-no{position: absolute;top:32px;right:90px;width:100px;text-align: center;}
.deal-no h3{font-size:18px;color:#BE9469;font-weight: bold;}
.deal-no h4{font-size: 12px;color:#666666;margin-top:7px;}
.service-select{margin-top:14px;}
.service-select p{    font-size: 14px;
    color: #666666;
    float: left;
    line-height:40px;
    width: 70px;}
.service-select ul li{position: relative;
    height: 40px;
    float: left;
    margin-right: 14px;
    width: 115px;
    /*border: 1px solid #DDDDDD;*/
    line-height: 38px;text-align: center;}
.service-select ul li b {
    background: url(../images/gou_gray.png) no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -1px;    
}    
.service-select ul li.selected b {
    background: url(../images/gou.png) no-repeat;   
}
.service-select-button{background:#BE2216;height:43px;width:137px;text-align:center;color:#ffffff;line-height: 43px;border-radius:2px;margin-top:27px;display: block;}
.service-top-right{width:231px;height:301px;background:#ffffff;margin-left:1px;padding:36px 34px 31px 34px;text-align: center;}
.service-top-right h1{font-size: 16px;color:#333;font-weight: bold;margin-top:29px;}
.service-top-right h2{margin-top: 21px;font-size: 14px;color:#333;}
.service-top-right h3{margin-top: 13px;font-size: 14px;color:#333;}
.service-top-right .xing{margin-top:9px;}
.service-top-right .service-connect{height:27px;width:104px;background:#BE9469;color:#ffffff;margin-top:19px;display: inline-block;line-height: 27px;}
.service-bottom{margin:15px auto;}
.service-bottom-left{width:263px;}
.service-bottom-left .title{height:32px;background:#F1EDEA;padding-top:13px;}
.service-bottom-left .title h1{height:20px;border-left:5px solid #BE9469;color:#BE9469;font-size:16px;padding-left:13px;}
.service-bottom-left ul{background:#ffffff;padding:0 23px 0 23px;}
.service-bottom-left ul li{padding:24px 0 14px 0;height:80px;border-bottom: 1px solid #E9E9E9;}
.service-bottom-left ul li h1{width:120px;font-size:16px;color:#333;font-weight: bold;text-align: left;}
.service-bottom-left ul li h2{width:73px;color:#BE2216;text-align: right;}
.service-bottom-left ul li h2 span{font-size:12px;color:#BE2216;}
.service-bottom-left ul li h3{width:120px;font-size:12px;text-align: left;line-height: 23px;}
.service-bottom-left ul li h4{text-align: right;margin-top:6px;} 
.service-bottom-left ul li h4 a{width:73px;border:1px solid #BE9469;border-radius:2px;font-size:12px;display:inline-block;text-align: center;}
.service-bottom-left img{margin-top:1px;}
.service-bottom-right{margin-left:7px;width:900px;}
.service-right-nav{background:#F3F3F3;height:46px;line-height: 46px;width:900px;z-index:10;}
.service-right-content{background: #ffffff;min-height: 680px;position: relative;}
.service-right-nav ul li {width:66px;float:left;height:42px;margin-left:41px;font-size: 16px;color:#333333;}
.service-right-nav ul li.hover {border-bottom: 4px solid #BE9469;}
.service-right-nav ul li.hover a{color:#BE9469;}

.service-content-box{padding-top:20px;padding-bottom:58px;position: relative;}
.service-content-box-right{width:900px;}
.service-content-box-right h1.list-title{

    font-size: 30px;
    color: #333333;
    line-height: 30px;
    text-align: center;
    margin-top:10px;


}
.service-content-box-right h2.list-title{margin-top:32px;font-size:14px;color:#666666; text-align: center;}
.service-content-box-left{width:22px;height:22px;background: url(../images/no_bg.png);text-align: center;}
.service-content-box-right .service-benefit{margin-top: 53px;}
.service-content-box-right .service-benefit li{
    width:130px;height:100px;padding-top:26px;float:left;margin-left:30px;
    /*box-shadow:8px 0px 16px rgba(240,221,60,0.67);*/
    text-align: center;
}

.service-content-box-right .service-benefit li:first-child{

    background: url(../images/haochu1.png);
}
.service-content-box-right .service-benefit li:nth-child(2){

    background: url(../images/haochu2.png);
}
.service-content-box-right .service-benefit li:nth-child(3){

    background: url(../images/haochu3.png);
}
.service-content-box-right .service-benefit li:nth-child(4){

    background: url(../images/haochu4.png);
}
.service-content-box-right .service-benefit li:nth-child(5){

    background: url(../images/haochu5.png);
}
.service-benefit h1{color:#FFFFFF;font-size:14px;line-height: 14px;}
.service-benefit h2{font-size:12px;color:#FFFFFF;width:100px;margin:10px auto;}
.service-material{margin-top:26px;}
.service-material li{width:332px;height:98px;background: #FFFCF8;float:left;margin-right:16px;padding-top:14px;padding-left:20px;}
.service-material h1{font-size:14px;color:#333333;font-weight: bold;margin-bottom:14px;line-height: 14px;}
.service-material h2{font-size:12px;line-height:18px;color:#666666;}
.service-process{text-align: center;margin-top:57px;}
.service-process li{float:left;margin-left: 10px; margin-bottom: 30px;}
.service-process h1{font-size:18px;color:#FFFFFF;line-height: 16px;margin-top:15px;}
.service-process h2{font-size:12px;line-height:16px;color:#FFFFFF;width: 100px;margin:14px auto;}
.service-process .process-img{width:45px;height:22px;}
.service-process  .process-one{
    width:140px;color:#ffffff;

    background: -webkit-linear-gradient(left, #2d73bb , #5e9ee0);
    background: -o-linear-gradient(right, #2d73bb, #5e9ee0);
    background: -moz-linear-gradient(right, #2d73bb, #5e9ee0);
    background: linear-gradient(to right, #2d73bb , #5e9ee0);
    margin-left: 43px;
    min-height:107px;
}

.banner .filterBox {
    margin-top: 31px
}

.banner .filterBoxL_btn {
    /* margin-right: 2px;
    margin-bottom: 12px; */
    overflow: hidden
}