@charset "utf-8";
body{background:#EAEEF5;}
.publicblock{width:1200px;margin:0 auto;clear: both; zoom: 1;}
.publicblock:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.publicblock{*+height:1%;}
.oe{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.shadow{box-shadow:0 0 4px #ddd;}
.shadow:hover{box-shadow:0 0 8px #ddd !important;}
.shadow2{box-shadow:rgba(0,0,0,0.15) 1px 1px 10px;}
/*顶部统计*/
.topslide{width: 100%;height: 60px;background: linear-gradient(90deg, #f4f5f7, #ffffff);box-shadow: 0 3px 20px #dfe0e5;}
.topslide .publicblock{height: 60px;}
.topslide .img{width: 250px;height: 60px;float:left;}
.topslide .img a{display:block;width: 250px;height: 60px;vertical-align:middle;line-height:60px;}
.topslide .libox{width:700px;height: 60px;line-height: 60px;overflow: hidden;text-align: center;float:left;}
.topslide .li{float:left;}
.topslide .li1{width: 33.33%;height: 60px;font-size: 12px;color: #878787;position: relative;}
.topslide .li1 span{font-size: 18px;color: #ff580e;font-weight: bold;}
.topslide .li1 span i{font-size: 12px;color: #ff5708;font-weight: normal;}
.topslide .li1 span{font-size: 24px;font-weight: normal;}
.topslide .li1:before{position: absolute;top: 25px;left: 48px;content: '';display: block;width: 15px;height: 15px;background: url(../images/icon_zan.png) no-repeat left;}
.topslide .li2{width: 33.33%;height: 60px;font-size: 12px;color: #878787;}
.topslide .li2 span{font-size: 18px;color: #ff580e;font-weight: bold;}
.topslide .li2 span i{font-size: 12px;color: #ff5708;font-weight: normal;}
.topslide .li3{width: 33.33%;height: 60px;font-size: 12px;color: #878787;}
.topslide .li3 span{font-size: 18px;color: #ff580e;font-weight: bold;}
.topslide .li3 span i{font-size: 12px;color: #ff5708;font-weight: normal;}
.topslide .kefu{display: block;width: 230px;height: 60px;text-align: center;line-height: 60px;font-size: 13px;color: #878787;position: relative;float:right;}
.topslide .kefu span{color: #ff580e;font-weight: bold;}
.topslide .kefu:before{content: '';display: block;width: 1px;height: 12px;background: #dbdbdb;position: absolute;top: 50%;left: 0;margin-top: -6px;}
/*条件筛选区*/
.service_choose{margin-top:15px;}
.screen{background:#fff;position:relative;width: 1200px;margin: auto;}
.screen dl{border-bottom:1px dashed #E8E5F1;width:960px;zoom:1;position:relative;*+height:1%;background:#F9FAFE;}
.screen dl dt{width:110px;}
.screen dl dt .samename{color: #ff580e;cursor:pointer;}
.screen dl dt .orangecolor{color: #ff580e;}
.screen dl dt .on_off{z-index:1;color:#999;width: 43px; height: 28px; line-height:28px;background: url(../images/i1.png) no-repeat  right center; appearance: none; -moz-appearance: none; -webkit-appearance: none; box-sizing: border-box; padding-left: 5px; cursor: pointer; font-size: 12px; color: #666666; position:absolute;right:10px;top:10px;}
.screen dl dt .on_off font{display:none;}
.screen dl dt .on_off font.f1{display:block;color:#909090;}
.screen dl dt h2{width:110px;font-weight:700;line-height:26px;text-indent:20px;font-size:14px;color:#464646;position:absolute;height:26px;left:0;top:11px;}
.screen dl dt h2.hr{background:#F9FAFE;}
.screen dl dt h2 span{display: block;font-size: 14px;height: 30px;color: #3d5794;line-height: 30px;padding-left: 2px;}
.screen dl dd{line-height:27px;padding:10px 0;background:#fff;margin-left:110px;position:relative;border-left:1px solid #E8E5F1;}
.screen dl dd .abox{overflow:hidden;}
.screen dl dd .abox a{font-size:13px;color:#63666C;padding:0 9px;white-space:nowrap;display:block;float:left;margin:0 0 0 6px;}
/*.screen dl dd .abox a:hover,.screen dl dd .abox a.on{}*/
.screen dl dd .abox a.on{position:relative;}
/*.screen dl dd .abox a.on:before{display:block;content:"";width:12px;height:12px;position:absolute;left:19px;top:50%;margin-top:-6px;background: url(../images/i2.png) no-repeat  center}*/
.screen dl dd .abox a.head{font-weight:700;padding-right:0 !important;}
.screen dl dd .abox a.head:hover{color:#63666C;}
.screen .result{width:960px;}
.screen .result .dt{width:110px;background:none;line-height:26px;padding:17px 0 17px 0;text-indent:20px;float:left;font-size:14px;color:#464646;font-weight:700;}
.screen .result .dd{overflow:hidden;float:left;}
.screen .result .dd a{display:block;float:left;border:1px solid #CED4DD;font-size:12px;height:22px;line-height:22px;margin:18px 10px 18px 0;font-family:arial;position:relative;padding:0 10px 0 3px;color:#666666;width:107px;text-align:center;}
.screen .result .dd label{ white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block;}
.screen .result .dd a i{display:block;width:12px;height:11px;position:absolute;position:absolute;right:-5px;top:-5px;background:#F57349 url(../images/icon7.png) no-repeat center;border-radius:2px;}
.screen .result .dd .searchBlock {height: 32px;border: solid 1px #ddd;background-color: #ffffff;position: relative;width:275px;margin:13px 0;}
.screen .result .dd .searchBlock label {width: 32px;text-align: center;position: absolute;left: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.screen .result .dd .searchBlock span {display:block;}
.screen .result .dd .searchBlock .searchText {padding-left:35px !important;background:#F4F4F4 url(../images/i10.png) no-repeat 12px center;border: none;height: 32px;width:206px;padding:0 10px;outline: 0 none;font-size: 12px;font-weight: normal;font-stretch: normal;line-height: 40px;letter-spacing: 0px;color: #676767;}
.screen .result .dd .searchBlock .searchText:hover{background-color:#fff;}
.screen .result .dd .searchBlock .searchText:focus{background-color:#fff;}
.screen .result .dd .searchBlock .searchBtn {border: none;width: 76px;height: 34px;color: white;font-size: 14px;cursor: pointer;float: right;background:#3D5794;position:absolute;top:-1px;right:-1px;font-weight:700;}
.screen .result .dd .searchBlock .searchBtn:hover {background:#174BB8;}
.screen .result .bd{width:792px;height:60px;}
.screen .result .bd li{float:left;}
.screen .result .fanye{display:none;width:17px;height:22px;border:1px solid #e2e2e2;background:#eef2f7;text-align:center;line-height:22px;cursor:pointer;top:50%;margin-top:-12px;}
.screen .result .fanye span{display: inline-block;-webkit-transform: scale(0.6, 1.4);transform: scale(0.6, 1.4);}
.screen .result .fanye:hover{background:#3D5794;border-color:#3D5794;color:#fff;}
.screen .result .dd1{width:792px;position:relative;overflow:visible;}
.screen .result .dd1 .bd{overflow:hidden;height:60px;}
.screen .result .dd1 .prev{position:absolute;left:-20px;}
.screen .result .dd1 .next{position:absolute;right:-20px;}
.screen .result .dd2{float:right;}
.screen dl dd.somore{padding-right:50px;height:27px;}
.screen dl dd.somore .abox{max-height:27px;overflow:hidden;max-width:636px;float:left;}
.screen dl dd .abox.width a{width:82px;margin:0 0 4px 6px;}
.screen dl dd .abox.width a span{padding: 0 9px;display: block;margin: 0 -9px;width: 45px;}

.screen .screen_right{width:220px;height:100%;right:0;top:0px;position:absolute;border-left:10px solid #EAEFF5;}
.screen .screen_right_1{height:154px;background:#2656B2;position:relative;}
.screen .screen_right_1 .a{height:40px;width:220px;overflow:hidden;position:absolute;left:0;bottom:0;}
.screen .screen_right_1 .a a{border-top:1px solid #43557B;display:block;width:109.5px;border-right:1px solid #43557B;line-height:40px;float:left;text-align:center;color:#fff;font-size:13px;}
.screen .screen_right_1 .a a.a2{border-right:none;}
.screen .screen_right_1 .a span{padding-left:20px;}
.screen .screen_right_1 .a a.a1 span{}
.screen .screen_right_1 .a a.a2 span{}
.screen .screen_right_1 .a a:hover{background:#ff580e;transition: all .35s ease}
.screen .screen_right_1 .title_s{text-align:center;padding:35px  0;}
.screen .screen_right_1 .title_s .t{position:relative;}
.screen .screen_right_1 .title_s .t span{position:relative;color:#fff;font-size:18px;font-weight:700;}
.screen .screen_right_1 .title_s .t:after{content: '';width:24px;height:1px;display:block;position:absolute;left:50%;top:35px;margin-left:-22px;opacity:0.3;}
.screen .screen_right_1 .title_s p{color:#9096A6;font-size:14px;margin-top:14px;font-weight:700;}
.screen .screen_right_1 .title_s p span{position:relative;}
.screen .screen_right_1 .title_s p span:after{content:"";display:block;width:30px;height:10px;position:absolute;left:-35px;top:50%;margin-top:-4px;}
.screen .screen_right_1 .title_s p span:before{content:"";display:block;width:30px;height:10px;position:absolute;right:-35px;top:50%;margin-top:-4px;}
.screen .screen_right_2{height:228px;overflow:hidden;}
.screen .screen_right_2 .hd{height:190px;}
.screen .screen_right_2 h2{height:45px;font-weight:normal;line-height:45px;font-size:14px;position:relative;border-bottom: 1px dashed #E8E5F1;}
.screen .screen_right_2 h2 span{display:block;height:100%;margin:0 14px;position:relative;font-weight:700;color:#2B3D63;padding-left:15px;}
.screen .screen_right_2 h2 span:before {content: '';position: absolute;left:0;top:16.5px;width:8px;height: 8px;}
.screen .screen_right_2 h2 span:after {content: '';position: absolute;right:0px;top:19px;width:8px;height:5px;}
.screen .screen_right_2 ul li{line-height:20px;height:60px;font-size:12px;position:relative;border-bottom: 1px dashed #E8E5F1;}
.screen .screen_right_2 ul li .p1{color:#6A6A6B;font-family:arial;}
.screen .screen_right_2 ul li:before{content: '';position: absolute;left:15px;top:21px;width:4px;height: 8px;}
.screen .screen_right_2 ul li .p1 i{font-weight:700;color:#2B3D63;}
.screen .screen_right_2 ul li .p2{color:#aaa;}
.screen .screen_right_2 ul li a{height:60px;display:block;overflow:hidden;padding:10px 15px 10px 25px;}
.screen .screen_right_2 ul li a:hover .p2{color:#999;}
.screen_right_3{height:68px;border-top: 1px dashed #E8E5F1;}
.screen_right_3 a{display:block;width:220px;height:69px;vertical-align:middle;line-height:60px;text-align:center;}
/*模拟select*/
.dlselect dd{padding:0 !important;}
.select{position:relative;margin:0 0 0 20px;display: inline-block;}
.select input{background: url(../images/jt.png) no-repeat right center;text-indent:7px;cursor:pointer;width:82px;height: 40px;border-right:1px solid #E8E5F1;padding-right: 53px;}
.select .optgroup{right:0;position:absolute;left:0;top:40px;border:1px solid #eee;background:#fff;display:none;}
.select .optgroup a{height:28px;line-height:28px;display:block;padding:0 5px;font-size:12px;color:#888;}
.select .optgroup a:hover{background:#f5f5f5;color:#3B5791;}
.select:hover .optgroup{display:block;}
.select input::-webkit-input-placeholder{color: #888;}

/*模拟地区选择*/
.select:hover .selectaddress{display:block;}
.selectaddress{display:none;position:absolute;background:#fff;left:0;border:1px solid #ddd;z-index:10;width:320px;box-shadow:0 0 2px #eee;}
.selectaddress{top:30px;}
.selectaddress .tabbtnbox{border-bottom:1px solid #eee;margin:0 10px 10px 10px;height:29px;}
.selectaddress .tabbtnbox span{color:#888;padding:5px 31px;float:left;display:block;cursor:pointer;line-height: 18px;}
.selectaddress .tabbtnbox span:hover{color:#000;}
.selectaddress .tabbtnbox span{background:#F8F8F8;border-left:1px solid #EEEEEE;border-top:1px solid #eee;}
.selectaddress .tabbtnbox span.end{border-right:1px solid #eee;}
.selectaddress .tabbtnbox span.on2{background:#fff;border-top:1px solid #0172FF;border-bottom:1px solid #fff;}
.selectaddress .tabcontent2{margin:2px 0px 10px 7px;overflow:hidden;min-height:148px;height:18px;display:none;}
.selectaddress .tabcontent2 span{padding:3px 5px;float:left;display:block;cursor:pointer;color:#888;}
.selectaddress .tabcontent2 span:hover{color:#000;}
.selectaddress .selected{color:#0172FF !important;border-radius:4px;}
.selectaddress h2{font-size:12px;color:#888;font-weight:normal;padding:10px 10px 5px 10px;line-height:20px;}
.selectaddress h2 span{color:#145FBC;cursor:pointer;}
.selectaddress .mCSB_container{margin-right:15px !important;}
.selectaddress .mCSB_dragger_bar{width: 8px !important;}
.selectaddress .mCSB_draggerRail{width:3px !important;}
.selectaddress .mCSB_dragger_bar{background-color: rgba(0,0,0,1) !important;opacity:.4!important; filter:"alpha(opacity=40)" !important;-ms-filter:"alpha(opacity=40)" !important;}
.selectaddress .mCustomScrollBox:hover .mCSB_dragger_bar{opacity:.4!important; filter:"alpha(opacity=40)" !important;-ms-filter:"alpha(opacity=40)" !important;} 

/*筛选区*/
.numsection{height:22px;float:right;position:absolute;right:10px;position:absolute;top:50%;margin-top:-11px;}
.numsection .input{border:1px solid #EAEAEA;height:20px;width:50px;padding:0 3px;font-size:12px;font-family:arial;float:left;margin-right:30px;}
.numsection span{border: none;width: 40px;height: 22px;line-height:22px;color: white;background:#3D5794;font-size:12px;display:block;text-align:center;float:left;cursor:pointer;}
.numsection span:hover{background:#FF902A;border-color:#FF902A;}
.numsection:after{content:'元'; position: absolute; left: 63px; font-size: 14px; color: #858585; width:14px;height:25px;display:block;}
.numsection:before{content:'元'; position: absolute; left: 164px; font-size: 14px; color: #858585; width:14px;height:25px;display:block; }
.numsection .input2{margin-left:13px;}
.numsection span:after{content:'';width:8px;height:1px;background:#ddd;position:absolute;left:86px;top:12px;}

/*筛选区*/
.numsection1{height:22px;float:right;position:absolute;right:10px;position:absolute;top:50%;margin-top:-11px;}
.numsection1 .input{border:1px solid #EAEAEA;height:20px;width:50px;padding:0 3px;font-size:12px;font-family:arial;float:left;margin-right:30px;}
.numsection1 span{border: none;width: 40px;height: 22px;line-height:22px;color: white;background:#3D5794;font-size:12px;display:block;text-align:center;float:left;cursor:pointer;}
.numsection1 span:hover{background:#FF902A;border-color:#FF902A;}
.numsection1:after{content:'字'; position: absolute; left: 63px; font-size: 14px; color: #858585; width:14px;height:25px;display:block;}
.numsection1:before{content:'字'; position: absolute; left: 164px; font-size: 14px; color: #858585; width:14px;height:25px;display:block; }
.numsection1 .input2{margin-left:13px;}
.numsection1 span:after{content:'';width:8px;height:1px;background:#ddd;position:absolute;left:86px;top:12px;}

/*排序触发区*/
.listsorting{width:1200px;height:50px;background: #fff;margin:20px auto 10px auto;overflow: hidden;}
.listsorting .sortleft{float:left;}
.listsorting .sortleft a{display:block;float: left;font-size: 14px;color: #666666;line-height: 50px;border-right: 1px solid #edecf4;width: 130px;text-align: center;}
.listsorting .sortleft a font{padding-right:10px;}
.listsorting .sortleft a.desc font{color:#5d8cd3;}
.listsorting .sortleft a.asc font{color:#5d8cd3;}
.listsorting .sortright{float:right;}
.listsorting .sortright a{display:block;float:right;}
.listsorting .rightbox{float:left;height:50px;}
.listsorting .right_1{line-height:50px;color:#979797;font-size:14px;}
.listsorting .right_1 span{font-family:arial;font-weight:700;padding:0 3px;color:#FD7918;}
.listsorting .right_2{border-left:1px solid #eee;margin-left:10px;}
.listsorting .right_2 a{display:block;width:90px;display:block;height:50px;border-right:1px solid #eee;float:left;}
.listsorting .right_2 .li1{background:url(../images/i11.png) no-repeat center;}
.listsorting .right_2 .li1.on{background:url(../images/i11_on.png) no-repeat center;}
.listsorting .right_2 .li2{background:url(../images/i12.png) no-repeat center;}
.listsorting .right_2 .li2.on{background:url(../images/i12_on.png) no-repeat center;}
.listsorting .right_3{padding:0 10px;}
.listsorting .right_3 .fanye{color:#999;display:block;width:22px;height:22px;border:1px solid #e2e2e2;background:#fff;text-align:center;line-height:22px;cursor:pointer;margin:13px  2.5px;float:left;}
.listsorting .right_3 .fanye span{display: inline-block;-webkit-transform: scale(0.6, 1.4);transform: scale(0.6, 1.4);}
.listsorting .right_3 .fanye:hover{border-color:#3D5794;color:#3D5794;}


/*列表头部区*/
.listhead{height:130px;position:relative;}
.listhead .imgbg{height:245px;background:url(../images/list/banner.png) no-repeat center;position:absolute;left:0;top:0;width:100%;z-index:0;}
.listhead .map{height:25px;width:1200px;margin:0 auto;line-height:25px;font-size:12px;color:#85AAD7;text-indent:20px;background:url(../images/list/mapf.png) no-repeat left center;padding:10px 0;position:relative;z-index:1;}
.listhead .map a{padding:0 3px;font-size: 12px;color:#85AAD7;}
.listhead .map a{padding-left:20px;background:url(../images/list/maps.png) no-repeat 5px center;}
.listhead .map a:hover{color:#fff;}
.listhead .map .index{padding-left:3px !important;background:none !important;}
.listhead .need{margin-top:24px;}
.listhead .need .btnbox{display:block;overflow:hidden;margin-right:220px;position:relative;z-index:1;}
.listhead .need .btnbox .a{display:block;width: 136px;height: 42px;float:right;border: 1px solid #3174c8;line-height:42px;text-align:center;font-size: 14px;color: #ffffff;margin-right:15px;}
.listhead .need .btnbox .a span{padding-left:18px;background:url(../images/list/maps.png) no-repeat left center;}
.listhead .need .btnbox .a:hover{background:#3174c8;}
.listhead .need .btnbox .a1 span{background:url(../images/list/a1.png) no-repeat left center;}
.listhead .need .btnbox .a2 span{background:url(../images/list/a2.png) no-repeat left center;}


/*数据分页区 */
.list-page{background: #fff;padding: 20px 30px;text-align:left;width:1200px;margin:auto;line-height: 29px;font-size: 14px;color: #999;}
.list-page a{position: relative;padding:0 10px;border: 1px solid #f0f0f0;background: #fff;color: #999999;font-size: 14px;float:left;display:block;margin-right:8px;}
.list-page a:hover{border: 1px solid #3B5791;color: #3B5791}
.list-page span{color: #666;font-size: 14px;padding-right: 8px;float:left;height: 31px;line-height: 31px;}
.list-page span font{color:#3B5791;font-family:arial;}
.list-page .active{background: #3B5791;border: 1px solid #3B5791;color: #fff !important;}
.list-page .list-page-input{*vertical-align: middle;border: 1px solid #f0f0f0;background: #fff;padding:4px 0;width: 40px;text-align: center;font-size: 14px;float:left;display:block;}
.list-page .page_change{background:#3B5791 !important;border-color:#3B5791 !important;color:#fff !important;cursor:pointer;}
.list-page:after{ content: ''; display: block; clear: both; }
.list-page .rightbox{overflow:hidden;float:right;}
.list-page input{border: 1px solid #f0f0f0;width: 40px; height: 29px; line-height: 29px; text-align: center; color: #999; margin: 0 8px;}
.list-page a.disabled{cursor: not-allowed;}
/*列表区*/
.listul{width:1220px;margin:0 auto;}
.listul .listBox_list{display:none;}
.listul .listBox_list li{
	height:100px;background:#fff;border-radius:2px;margin-bottom:10px;
	padding-left:10px;position:relative;
	width:595px;
	margin-left:10px;
}
.listul .listBox_list li .img{position:absolute;width:100px;height:100px;left:30px;top:30px;border-radius:50%;-webkit-border-radius:50%;background-color:#ccc;overflow: hidden;}
.listul .listBox_list li .img span{display:block;width:100px;height:100px;vertical-align:middle;line-height:100%;text-align:center;}
.listul .listBox_list li .img span img{max-width:90%;max-width:90%;}
.listul .listBox_list li .text{height:20px;position:absolute;left:0;bottom:0;width:100%;line-height:20px;text-align:center;}
.listul .listBox_list li .text em{background:#5370CF;display:inline-block;padding:0 10px;color:#fff;border-radius:10px;}
.listul .listBox_list li:hover{box-shadow:0 0 1px 2px rgba(13,86,176,0.04)}
.listul .listBox_list .lileft{float:left;padding:12px 10px 15px 0;width:470px;}
.listul .listBox_list .lileft h2{
	font-size: 16px;font-weight: 700;line-height: 24px;margin-bottom:5px;
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:720px;
	 
	}
.listul .listBox_list .lileft .patent-type{
	width:30px;position:absolute;left:0;top:0;
	font-size:12px;
	background:#5370CF;
	text-align:center;
	color:#ffffff;
	
}
.listul .listBox_list .lileft .title{
height:24px;width: 470px;position:relative;padding-left:34px;    display: block;
	
}		
.listul .listBox_list .lileft h2 span{font-weight:normal;font-size:14px;color:#999;margin-left:10px;}
.listul .listBox_list .lileft .intro .single{float:left;border-right:1px solid #e5e5e5;min-width:90px;margin-right:20px;padding-right:10px;}
.listul .listBox_list .lileft .intro .single:last-child{border:none;}
.listul .listBox_list .lileft .single1 em{color: #fb6514;font-size: 16px;font-weight: bold;}
.listul .listBox_list .lileft .intro span{display:block;font-size: 12px;color: #bebebe;margin-bottom: 12px;line-height:14px;}
.listul .listBox_list .lileft .intro em{font-size:16px;line-height:18px;}




.listul .listBox_list .liright{float:right;height:100%;margin-right:10px;}
.listul .listBox_list .liright .sharebox{margin-right: 32px;text-align: right}
.listul .listBox_list .liright .sharebox .time{font-size: 12px;color: #8c8c8c;margin-top: 38px}
.listul .listBox_list .liright .sharebox .share{margin: 6px 0;overflow: hidden}
.listul .listBox_list .liright .sharebox .btn a{display: inline-block;padding: 0 14px;border: 1px solid #dfdfdf;border-radius: 4px;font-size: 14px;color: #9f9fa0;-webkit-transition: all .3s;transition: all .3s;line-height: 30px;}
.listul .listBox_list .liright .sharebox .btn a.s1{margin-right: 4px}
.listul .listBox_list .liright .sharebox .btn a.s1:hover{background-color: #5075c6;color: #fff;border-color: #5075c6}
.listul .listBox_list .liright .sharebox .btn a.s3 i{width: 15px;height: 15px;display: inline-block;background: url(../images/i14.png) center center no-repeat;-webkit-transition: all .3s;transition: all .3s;position: relative;top: 3px;margin-right:5px;}
.listul .listBox_list .liright .sharebox .btn a.s3:hover{border-color: #5075c6;color: #5075c6}
.listul .listBox_list .liright .sharebox .btn a.s3:hover i{background: url(../images/i14_h.png) center center no-repeat}
.listul .listBox_list .liright .sharebox .btn a.s2{width:20px;text-indent:-99999px;background:url(../images/xin.png) no-repeat center;background-size:20px 20px;color:rgba(225,225,225,0);}
.listul .listBox_list .liright .sharebox .btn a.s2.on,.listul .listBox_list .liright .sharebox .btn a.s2:hover{background:url(../images/xin_on.png) no-repeat center;background-size:20px 20px;border-color:red;}
.listul .listBox_list .liright .bdshare{float:right;position:relative;}
.listul .listBox_list .liright .bdshare .bdsharebuttonbox{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;opacity:0;}
.listul .listBox_list .liright .bdshare .bdsharebuttonbox .bds_more{display:block;position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;margin:0 !important;}
.listul .listBox_list .liright .bdshare span.bds_more{width: 37px;background: url(../images/i13.png) no-repeat right center !important;color: #c8c8c8;padding-right:15px;cursor:pointer;}
.listul .listBox_list .liright .bdshare:hover .bds_more{background: url(../images/i13_h.png) no-repeat right center !important;color: #5075c6}
.listul .listBox_list .liright .btn {}
.listul .listBox_list .liright .btn a{
    display: inline-block;
    padding: 0 14px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    font-size: 14px;
    color: #9f9fa0;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 30px;
    display:block;
    margin-top:13px;
	
}
.listul .listBox_list .liright .btn a:hover{
background-color: #5075c6;color: #fff;border-color: #5075c6
}
.listul .listBox_card{overflow:hidden;width:1220px;}
.listul .listBox_card li{margin: 0 0 12px 12px;width: 230px;height: 350px;background: #fff;float: left;overflow: hidden;-webkit-transition: all .3s;transition: all .3s;position: relative;}
.listul .listBox_card li>a:first-child{display: block;width: 100%;-webkit-transition: all .3s;transition: all .3s;overflow: hidden;}
.listul .listBox_card li>a.listBox_kefu{width: 210px;height: 36px;display: inline-block;background-color: #2b3d63;border-radius: 4px;color: #fff;font-size: 15px;line-height: 36px;text-align: center;margin: 0px 10px;-webkit-transition: all .3s;transition: all .3s;} 
.listul .listBox_card li>a.listBox_card_a2 {width: 210px;height: 36px;display: inline-block;background-color: #2b3d63;border-radius: 4px;color: #fff;font-size: 15px;line-height: 36px;text-align: center;margin: 0px 10px;-webkit-transition: all .3s;transition: all .3s;}
.listul .listBox_card li>a.listBox_card_a2:hover{opacity: .9;}
.listul .listBox_card li:hover{-webkit-box-shadow: 0 0 20px 1px #e6e7eb;box-shadow: 0 0 20px 1px #e6e7eb;}
.listul .listBox_card li:hover a:first-child{/* margin-top: -46px;*/}
.listul .listBox_card li:hover .listBox_card_p2{opacity: 0;margin-bottom: -48px;z-index: -1;position: relative;}
.listul .listBox_card_logo{width: 210px;height: 210px;margin: 10px;text-align: center;position: relative;background:#ccc;}
.listul .listBox_card_logo img{max-width: 210px;max-height: 210px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;-o-object-fit: contain;object-fit: contain}
.listul .listBox_card_logo .pic_tag,.listBox .pic_tag{position: absolute;top: 0;left: 0;right: auto;bottom: auto;z-index: 9;}
.listul .listBox_card_p1{padding-left: 10px;padding-right: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.listul .listBox_card_p1 span{font-size: 15px;color: #464545;white-space: nowrap;vertical-align: middle;}
.listul .listBox_card_p1 label{width: 20px;height: 20px;display: inline-block;border-radius: 3px;color: #ffffff;font-size: 12px;text-align: center;line-height: 20px;vertical-align: middle;}
.listul .listBox_card_p1 label.jp{background-image: linear-gradient(225deg, #5eafef 0%, #1188e7 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(7, 85, 148, 0.2);box-shadow: 0px 1px 0px 0pxrgba(7, 85, 148, 0.2);}
.listul .listBox_card_p1 label.tj{background-image: linear-gradient(225deg,#ff8a8a 0%, #fa3c3c 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(147, 7, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(147, 7, 7, 0.2);}
.listul .listBox_card_p2{font-size: 12px;color: #b8b8b8;padding: 8px 10px 20px 10px;height: 48px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;border-bottom: 1px solid #ebecee;-webkit-transition: all .3s;transition: all .3s;}
.listul .listBox_card_p3{line-height: 50px;padding: 0 10px;}
.listul .listBox_card_p3{}
.listul .listBox_card_p3 span{font-size: 14px;color: #a5a5a5;vertical-align: middle}
.listul .listBox_card_price{color: #fb6514 !important;font-size: 16px !important;font-weight: bold;}
.listul .listBox_card_price label{margin:0 -2px;}
.listul .listBox_card_tag{position: absolute;top: 10px;left:10px;font-size: 0;}
.listul .listBox_card_tag label{width: 43px;height: 20px;display: inline-block;font-size: 12px;color: #fff;line-height: 20px;text-align: center;margin-right: 1px;}
.listul .listBox_card_tag label.bgh{background-image: linear-gradient(225deg,#ffc885 0%, #ffa438 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);}
.listul .listBox_card_tag label.shouquan{background-image: linear-gradient(225deg,#5bc8e7 0%, #5ca2ea 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);margin-right: 3px;}
.listul .listBox_card_tag label.dlb{background:#ff3dc5;background-image: linear-gradient(225deg,#ff8adc 0%,#ff3dc5 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 7, 106, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 7, 106, 0.2);}
.listul .listBox_card_p4{width:20px;height:20px;position:absolute;right:10px;top:232px;text-indent:-99999px;background:url(../images/xin.png) no-repeat center;background-size:16px 16px;cursor: pointer;}
.listul .listBox_card_p4.on{background:url(../images/xin_on.png) no-repeat center;background-size:16px 16px;}.listBox_card .color1 .listBox_card_logo{background: url(../images/brandbg/brand_bg1.jpg) no-repeat center;}
.listBox_card .color2 .listBox_card_logo{background: url(../images/brandbg/brand_bg2.jpg) no-repeat center;}
.listBox_card .color3 .listBox_card_logo{background: url(../images/brandbg/brand_bg3.jpg) no-repeat center;}
.listBox_card .color4 .listBox_card_logo{background: url(../images/brandbg/brand_bg4.jpg) no-repeat center;}
.listBox_card .color5 .listBox_card_logo{background: url(../images/brandbg/brand_bg5.jpg) no-repeat center;}
.listBox_card .color6 .listBox_card_logo{background: url(../images/brandbg/brand_bg6.jpg) no-repeat center;}
.listBox_card .color7 .listBox_card_logo{background: url(../images/brandbg/brand_bg7.jpg) no-repeat center;}
.listBox_card .color8 .listBox_card_logo{background: url(../images/brandbg/brand_bg8.jpg) no-repeat center;}
.listBox_card .color9 .listBox_card_logo{background: url(../images/brandbg/brand_bg9.jpg) no-repeat center;}
.listBox_card .color10 .listBox_card_logo{background: url(../images/brandbg/brand_bg10.jpg) no-repeat center;}
.listBox_card .color11 .listBox_card_logo{background: url(../images/brandbg/brand_bg11.jpg) no-repeat center;}
.listBox_card .color12 .listBox_card_logo{background: url(../images/brandbg/brand_bg12.jpg) no-repeat center;}
.listBox_card .color13 .listBox_card_logo{background: url(../images/brandbg/brand_bg13.jpg) no-repeat center;}
.listBox_card .color14 .listBox_card_logo{background: url(../images/brandbg/brand_bg14.jpg) no-repeat center;}
.listBox_card .color15 .listBox_card_logo{background: url(../images/brandbg/brand_bg15.jpg) no-repeat center;}
.listBox_card .color16 .listBox_card_logo{background: url(../images/brandbg/brand_bg16.jpg) no-repeat center;}
.listBox_card .color17 .listBox_card_logo{background: url(../images/brandbg/brand_bg17.jpg) no-repeat center;}
.listBox_card .color18 .listBox_card_logo{background: url(../images/brandbg/brand_bg18.jpg) no-repeat center;}
.listBox_card .color19 .listBox_card_logo{background: url(../images/brandbg/brand_bg19.jpg) no-repeat center;}
.listBox_card .color20 .listBox_card_logo{background: url(../images/brandbg/brand_bg20.jpg) no-repeat center;}
.listBox_card .color21 .listBox_card_logo{background: url(../images/brandbg/brand_bg21.jpg) no-repeat center;}
.listBox_card .color22 .listBox_card_logo{background: url(../images/brandbg/brand_bg22.jpg) no-repeat center;}
.listBox_list .color1 .img{background: url(../images/brandbg/brand_bg1.jpg) no-repeat center;}
.listBox_list .color2 .img{background: url(../images/brandbg/brand_bg2.jpg) no-repeat center;}
.listBox_list .color3 .img{background: url(../images/brandbg/brand_bg3.jpg) no-repeat center;}
.listBox_list .color4 .img{background: url(../images/brandbg/brand_bg4.jpg) no-repeat center;}
.listBox_list .color5 .img{background: url(../images/brandbg/brand_bg5.jpg) no-repeat center;}
.listBox_list .color6 .img{background: url(../images/brandbg/brand_bg6.jpg) no-repeat center;}
.listBox_list .color7 .img{background: url(../images/brandbg/brand_bg7.jpg) no-repeat center;}
.listBox_list .color8 .img{background: url(../images/brandbg/brand_bg8.jpg) no-repeat center;}
.listBox_list .color9 .img{background: url(../images/brandbg/brand_bg9.jpg) no-repeat center;}
.listBox_list .color10 .img{background: url(../images/brandbg/brand_bg10.jpg) no-repeat center;}
.listBox_list .color11 .img{background: url(../images/brandbg/brand_bg11.jpg) no-repeat center;}
.listBox_list .color12 .img{background: url(../images/brandbg/brand_bg12.jpg) no-repeat center;}
.listBox_list .color13 .img{background: url(../images/brandbg/brand_bg13.jpg) no-repeat center;}
.listBox_list .color14 .img{background: url(../images/brandbg/brand_bg14.jpg) no-repeat center;}
.listBox_list .color15 .img{background: url(../images/brandbg/brand_bg15.jpg) no-repeat center;}
.listBox_list .color16 .img{background: url(../images/brandbg/brand_bg16.jpg) no-repeat center;}
.listBox_list .color17 .img{background: url(../images/brandbg/brand_bg17.jpg) no-repeat center;}
.listBox_list .color18 .img{background: url(../images/brandbg/brand_bg18.jpg) no-repeat center;}
.listBox_list .color19 .img{background: url(../images/brandbg/brand_bg19.jpg) no-repeat center;}
.listBox_list .color20 .img{background: url(../images/brandbg/brand_bg20.jpg) no-repeat center;}
.listBox_list .color21 .img{background: url(../images/brandbg/brand_bg21.jpg) no-repeat center;}
.listBox_list .color22 .img{background: url(../images/brandbg/brand_bg22.jpg) no-repeat center;}

/*推荐*/
.tj_head{height:70px;width:526px;background:red;margin:0 auto;padding-left:90px;background:url(../images/tj.png) no-repeat left center;}
.tj_head .head_right{float:right;overflow:hidden;}
.tj_head_box{padding:30px 0 10px 0;}
.tj_head_box .box1{height:26px;border-bottom:1px dashed #D4D4D4;padding:9px 0;line-height:26px;}
.tj_head_box .box1 span{float:left;}
.tj_head_box .box1 .s{background:#FF7135;display:block;height:26px;line-height:26px;border-radius:3px;padding:0 5px;color:#fff;float:left;font-size:14px;padding:0 10px;}
.tj_head_box .box1 .s1{font-size:24px;}
.tj_head_box .box1 .s2{background:#FF7135;}
.tj_head_box .box1 .s3{background:#3B5791;}
.tj_head_box .box1 .s4{background:#159BC6;}
.tj_head_box .box1 em{color:#5E5E5E;font-size:14px;float:left;padding:0 10px;}
.tj_head_box .box2{height:30px;color:#949494;line-height:30px;}
.tj_head_box .box3{line-height:24px;text-align:center;font-size:14px;color:#A0A0A0;margin-top:10px;}
.tj_head_box .box3 span{position:relative;}
.tj_head_box .box3 span:after{content:"";display:block;width:20px;height:1px;position:absolute;left:-24px;top:50%;background:#ccc;}
.tj_head_box .box3 span:before{content:"";display:block;width:20px;height:1px;position:absolute;right:-24px;top:50%;background:#ccc;}
.tuijianbox{background:#fff;margin-top:30px;margin-bottom:30px;}
.tuijianbox .listBox_card{width:1220px;}
.tuijianbox .listBox_card li{margin:10px 0 10px 10px;width: 228px;height: 350px;background: #fff;float: left;overflow: hidden;-webkit-transition: all .3s;transition: all .3s;position: relative;background:#f5f5f5;}
.tuijianbox .listBox_card li>a:first-child{display: block;width: 100%;-webkit-transition: all .3s;transition: all .3s;overflow: hidden;}
.tuijianbox .listBox_card li>a.listBox_kefu{width: 210px;height: 36px;display: inline-block;background-color: #2b3d63;border-radius: 4px;color: #fff;font-size: 15px;line-height: 36px;text-align: center;margin: 0px 10px;-webkit-transition: all .3s;transition: all .3s;}
.tuijianbox .listBox_card li>a.listBox_kefu:hover{opacity: .9;}
.tuijianbox .listBox_card li>a.listBox_card_a2{width: 210px;height: 36px;display: inline-block;background-color: #2b3d63;border-radius: 4px;color: #fff;font-size: 15px;line-height: 36px;text-align: center;margin: 0px 10px;-webkit-transition: all .3s;transition: all .3s;}
.tuijianbox .listBox_card li>a.listBox_card_a2:hover{opacity: .9;}
.tuijianbox .listBox_card li:hover a:first-child{/* margin-top: -46px;*/}
.tuijianbox .listBox_card li:hover .listBox_card_p2{opacity: 0;margin-bottom: -48px;z-index: -1;position: relative;}
.tuijianbox .listBox_card_logo{width: 210px;height: 210px;margin: 10px;text-align: center;position: relative;background:#ccc;}
.tuijianbox .listBox_card_logo img{max-width: 210px;max-height: 210px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;-o-object-fit: contain;object-fit: contain}
.tuijianbox .listBox_card_logo .pic_tag,.listBox .pic_tag{position: absolute;top: 0;left: 0;right: auto;bottom: auto;z-index: 9;}
.tuijianbox .listBox_card_p1{padding-left: 10px;padding-right: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tuijianbox .listBox_card_p1 span{font-size: 15px;color: #464545;white-space: nowrap;vertical-align: middle;}
.tuijianbox .listBox_card_p1 label{width: 20px;height: 20px;display: inline-block;border-radius: 3px;color: #ffffff;font-size: 12px;text-align: center;line-height: 20px;vertical-align: middle;}
.tuijianbox .listBox_card_p1 label.jp{background-image: linear-gradient(225deg, #5eafef 0%, #1188e7 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(7, 85, 148, 0.2);box-shadow: 0px 1px 0px 0pxrgba(7, 85, 148, 0.2);}
.tuijianbox .listBox_card_p1 label.tj{background-image: linear-gradient(225deg,#ff8a8a 0%, #fa3c3c 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(147, 7, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(147, 7, 7, 0.2);}
.tuijianbox .listBox_card_p2{font-size: 12px;color: #b8b8b8;padding: 8px 10px 20px 10px;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;border-bottom: 1px solid #ebecee;-webkit-transition: all .3s;transition: all .3s;-webkit-box-sizing: border-box;box-sizing: border-box;}
.tuijianbox .listBox_card_p3{line-height: 50px;padding: 0 10px;}
.tuijianbox .listBox_card_p3{}
.tuijianbox .listBox_card_p3 span{font-size: 14px;color: #a5a5a5;vertical-align: middle}
.tuijianbox .listBox_card_price{color: #fb6514 !important;font-size: 16px !important;font-weight: bold;}
.tuijianbox .listBox_card_price label{margin:0 -2px;}
.tuijianbox .listBox_card_tag{position: absolute;top: 10px;left:10px;font-size: 0;}
.tuijianbox .listBox_card_tag label{width: 43px;height: 20px;display: inline-block;font-size: 12px;color: #fff;line-height: 20px;text-align: center;margin-right: 1px;}
.tuijianbox .listBox_card_tag label.bgh{background-image: linear-gradient(225deg,#ffc885 0%, #ffa438 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);}
.tuijianbox .listBox_card_tag label.dlb{background:#ff3dc5;background-image: linear-gradient(225deg,#ff8adc 0%,#ff3dc5 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 7, 106, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 7, 106, 0.2);}
.tuijianbox .listBox_card_p4{width:20px;height:20px;position:absolute;right:10px;top:232px;text-indent:-99999px;background:url(../images/xin.png) no-repeat center;background-size:16px 16px;cursor: pointer;}
.tuijianbox .listBox_card_p4.on{background:url(../images/xin_on.png) no-repeat center;background-size:16px 16px;}
.tuijianbox .color1 .listBox_card_logo{background: url(../images/brandbg/brand_bg1.jpg) no-repeat center;}
.tuijianbox .color2 .listBox_card_logo{background: url(../images/brandbg/brand_bg2.jpg) no-repeat center;}
.tuijianbox .color3 .listBox_card_logo{background: url(../images/brandbg/brand_bg3.jpg) no-repeat center;}
.tuijianbox .color4 .listBox_card_logo{background: url(../images/brandbg/brand_bg4.jpg) no-repeat center;}
.tuijianbox .color5 .listBox_card_logo{background: url(../images/brandbg/brand_bg5.jpg) no-repeat center;}


/*maybelove*/
.maybelove{padding:0 0 30px 0;}
.maybelove .maybelove_title{height:20px;line-height:20px;padding:10px 0;}
.maybelove .maybelove_title span{font-weight:700;color:#323741;font-size:16px;background:url(../images/time.png) no-repeat left center;padding-left:22px;}
.maybelove .maybelove_title a{float:right;font-size:12px;color:#848484;}
.maybelove .listBox_card{width:1220px;overflow:hidden;width:1280px;}
.maybelove .listBox_card li{width:394px;height:120px;background: #fff;float: left;overflow: hidden;-webkit-transition: all .3s;transition: all .3s;position: relative;background:#f5f5f5;margin-right:10px;}
.maybelove .listBox_card li>a:first-child{display: block;width: 100%;height: 100%;-webkit-transition: all .3s;transition: all .3s;overflow: hidden;}
.maybelove .listBox_card li>a.listBox_kefu{width: 192px;height: 36px;display: inline-block;background-color: #2b3d63;border-radius: 4px;color: #fff;font-size: 15px;line-height: 36px;text-align: center;margin: 0px 20px;-webkit-transition: all .3s;transition: all .3s;}
.maybelove .listBox_card li>a.listBox_kefu:hover{opacity: .9;}
.maybelove .listBox_card .listBox_card_logo{width:100px;height:100px;margin: 10px;text-align: center;position: relative;float:left;}
.maybelove .listBox_card .listBox_card_logo img{max-width: 100px;max-height: 100px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;-o-object-fit: contain;object-fit: contain}
.maybelove .listBox_card .listBox_card_logo .pic_tag,.listBox .pic_tag{position: absolute;top: 0;left: 0;right: auto;bottom: auto;z-index: 9;}
.maybelove .listBox_card .txt{float:left;margin:10px 0;width:270px;height:100px;overflow:hidden;}
.maybelove .listBox_card .listBox_card_p1{padding-right: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.maybelove .listBox_card .listBox_card_p1 span{font-size: 15px;color: #464545;white-space: nowrap;vertical-align: middle;}
.maybelove .listBox_card .listBox_card_p1 label{width: 20px;height: 20px;display: inline-block;border-radius: 3px;color: #ffffff;font-size: 12px;text-align: center;line-height: 20px;vertical-align: middle;}
.maybelove .listBox_card .listBox_card_p1 label.jp{background-image: linear-gradient(225deg, #5eafef 0%, #1188e7 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(7, 85, 148, 0.2);box-shadow: 0px 1px 0px 0pxrgba(7, 85, 148, 0.2);}
.maybelove .listBox_card .listBox_card_p1 label.tj{background-image: linear-gradient(225deg,#ff8a8a 0%, #fa3c3c 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(147, 7, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(147, 7, 7, 0.2);}
.maybelove .listBox_card .listBox_card_p2{font-size: 12px;color:#999DA5;padding:5px 10px 5px 0;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;border-bottom: 1px dashed #ddd;-webkit-transition: all .3s;transition: all .3s;-webkit-box-sizing: border-box;box-sizing: border-box;}
.maybelove .listBox_card .listBox_card_p3{line-height: 24px;height:24px;}
.maybelove .listBox_card .listBox_card_p3{padding-bottom:20px;}
.maybelove .listBox_card .listBox_card_p3 span{font-size: 14px;color: #a5a5a5;vertical-align: middle}
.maybelove .listBox_card .listBox_card_price{color: #fb6514 !important;font-size: 16px !important;font-weight: bold;}
.maybelove .listBox_card .listBox_card_price label{margin:0 -2px;}
.maybelove .listBox_card .listBox_card_tag{position: absolute;top: 10px;left: 10px;font-size: 0;}
.maybelove .listBox_card .listBox_card_tag label{width: 43px;height: 20px;display: inline-block;font-size: 12px;color: #fff;line-height: 20px;text-align: center;margin-right: 1px;}
.maybelove .listBox_card .listBox_card_tag label.bgh{background-image: linear-gradient(225deg,#ffc885 0%, #ffa438 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 85, 7, 0.2);}
.maybelove .listBox_card .listBox_card_tag label.dlb{background:#ff3dc5;background-image: linear-gradient(225deg,#ff8adc 0%,#ff3dc5 100%);-webkit-box-shadow: 0px 1px 0px 0pxrgba(148, 7, 106, 0.2);box-shadow: 0px 1px 0px 0pxrgba(148, 7, 106, 0.2);}
.maybelove .listBox_card .listBox_card_p4{width:20px;height:20px;position:absolute;right:8px;top:12px;text-indent:-99999px;background:url(../images/xin.png) no-repeat center;background-size:100% 100%;cursor:pointer;}
.maybelove .listBox_card .listBox_card_p4.on{background:url(../images/xin_on.png) no-repeat center;background-size:18px 18px;}
.maybelove .color1 .listBox_card_logo{background: url(../images/brandbg/brand_bg1.jpg) no-repeat center;}
.maybelove .color2 .listBox_card_logo{background: url(../images/brandbg/brand_bg2.jpg) no-repeat center;}
.maybelove .color3 .listBox_card_logo{background: url(../images/brandbg/brand_bg3.jpg) no-repeat center;}
.maybelove .color4 .listBox_card_logo{background: url(../images/brandbg/brand_bg4.jpg) no-repeat center;}
.maybelove .color5 .listBox_card_logo{background: url(../images/brandbg/brand_bg5.jpg) no-repeat center;}

/* 同名多类弹窗 */
.qlist_mask{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 3;background: rgba(0, 0, 0, 0.6);display:none;z-index:99;}
.qlist_mask .qlist_table{position: absolute;top: 50%;left: 50%;width: 848px;margin: -262px 0 0 -424px;background: #fff;border-radius: 4px;}
.qlist_mask .qlist_table_head{width: 848px;height: 45px;border-bottom: 1px dashed #d0d0d0;}
.qlist_mask .qlist_table_head:after{display: block;content: '';clear: both;}
.qlist_mask .qlist_table_choose{width: 112px;height: 45px;line-height: 45px;text-align: center;float: left;position: relative;}
.qlist_mask .qlist_table_choose .qlist_name{font-size: 13px;color: #344980;font-weight: bold;cursor: pointer;}
.qlist_mask .qlist_table_choose .qlist_name i{display: inline-block;height: 45px;width: 7px;background: url(../images/i9.png) no-repeat center;vertical-align: middle;margin: -3px 0 0 8px;}
.qlist_mask .qlist_table_choose .qlist_options{position: absolute;width: 100%;top: 45px;left: 0;background: #fff;border: 1px solid #dedede;user-select: none;text-align: left;display: none;}
.qlist_mask .qlist_table_choose .qlist_options span{display: block;padding: 0 5px;font-size: 12px;color: #888;height: 28px;line-height: 28px;cursor:pointer;text-indent:12px;}
.qlist_mask .qlist_table_choose .qlist_options span:hover{background:#eee;}
.qlist_mask .qlist_table_choose:hover .qlist_options{display:block;}
.qlist_mask .qlist_table_btn{width: 75px;height: 45px;cursor: pointer;float: right;text-align: center;}
.qlist_mask .qlist_table_btn i{font-size: 14px;color: #787878;display: inline-block;width: 7px;height: 45px;background: url(../images/close_button.png) no-repeat center;vertical-align: middle;margin: -3px 5px 0 0;}
.qlist_mask .qlist_table_detail{width: 848px;padding: 12px 0;border-bottom: 1px dashed #d0d0d0;}
.qlist_mask .qlist_table_detail span{display: inline-block;width: 105px;height: 30px;line-height: 30px;text-align: center;font-size: 13px;color: #7e8084;cursor: pointer;user-select: none;}
.qlist_mask .qlist_table_detail span:hover{color:#6275a2;}
.qlist_mask .qlist_table_detail .on{color: #6275a2;font-weight: bold;}
.qlist_mask .qlist_buttons{width: 848px;height: 40px;}
.qlist_mask .qlist_buttons span{display: inline-block;user-select: none;cursor: pointer;border-right: 1px solid #dadada;height: 40px;line-height: 40px;text-align: center;}
.qlist_mask .qlist_buttons .qlist_buttons_all{width: 90px;}
.qlist_mask .qlist_buttons .qlist_buttons_all_in{display: inline-block;width: 60px;height: 25px;border-radius: 2px;text-align: center;background: #486094;line-height: 25px;font-size: 14px;color: #fff;}
.qlist_mask .qlist_buttons .qlist_buttons_all i{display: inline-block;width: 14px;margin-right: 3px;height: 25px;background: url(../images/icon8.png) no-repeat center;vertical-align: top;}
.qlist_mask .qlist_buttons .qlist_buttons_reset{padding: 0 27px;color: #757575;}
.qlist_mask .qlist_buttons .qlist_buttons_sure{padding: 0 23px;color: #757575;}

/*同名多类多选时*/
.moreTmdl{width:860px;height:298px;position:absolute;left:111px;top:0px;z-index:3;background:#fff;border-bottom:1px solid #E8E5F1;overflow-y:auto;display:none;}
.moreTmdl .classify_more li{min-height:38px;border:1px solid #eee;background:#f9f9f9;margin:15px 20px 0 15px;position:relative;overflow:hidden;}
.moreTmdl .classify_more li span.btns{text-align:center;display:block;width:100px;line-height:100px;height:100px;font-size:14px;color:#FF580E;cursor:pointer;padding-left:10px;float:left;position:absolute;left:0;top:50%;margin-top:-50px;}
.moreTmdl .classify_more li .box{float:right;width:683px;border-left:1px solid #eee;background:#fff;padding:5px 0;padding-right:26px;}
.moreTmdl .classify_more li .box a{line-height:20px;border:1px solid #FFF;display:block;float:left;margin:3px 0 3px 8px;padding:0 5px;font-size:12px;font-family:arial;color:#999;position:relative;}
.moreTmdl .classify_more li .box a.on{border:1px solid #2c6cc7;color:#2c6cc7;padding-right:15px;}
.moreTmdl .classify_more li .box i{position:absolute;width:10px;height:10px;position:absolute;top:50%;margin-top:-5px;right:3px;background:url(../images/i17.png) no-repeat center;display:none;}
.moreTmdl .classify_more li .box a.on.all{padding-right:5px !important;}
.moreTmdl .classify_more li .box a.on i{display:block !important;}
.moreTmdl .classify_more li a.close{width:38px;height:38px;position:absolute;position:absolute;right:0;top:0;background:url(../images/i18.png) no-repeat center;}
.moreTmdl .classify_more li span.btns2{background:#3c5791;display:block;width:100px;line-height:32px;height:32px;font-size:14px;color:#fff;cursor:pointer;border-right:1px solid #3c5791;padding-left:10px;float:left;}
.moreTmdl .classify_more li.null{border:none;background:#fff;}
.moreTmdl .classify_more li.null span:after{content: '^';display: inline-block;margin-left: 12px;-webkit-transform: rotateX(180deg) scale(1, 0.6);transform: rotateX(180deg) scale(1, 0.6)}
.moreTmdl{display:none;}
.moreTmdl.on{display:block !important;}

.moreTmd2{width: 860px;height: 25px;position: absolute;left: 111px;top: 298px;z-index: 3;border-bottom: 1px solid #E8E5F1;overflow-y: auto;padding-top:10px;background-color:#fff;}
.moreTmd2{display:none;}
.moreTmd2 .moreA{width: 20%;margin: 0 auto;}
.moreTmd2 .moreA .more_check{color:#fff;background-color:#3B5791}
.moreTmd2 .moreA .more_clear{margin-left:20px;}
.moreTmd2 .moreA a{width: 35%;display: inline-block;text-align: center;border: 1px solid #ccc;}
.moreTmd2.on{display:block !important;}

/*同名多类多选时*/
.moreTmd3{width:860px;height:298px;position:absolute;left:111px;top:0px;z-index:3;background:#fff;border-bottom:1px solid #E8E5F1;overflow-y:auto;display:none;}
.moreTmd3 .classify_more li{min-height:38px;border:1px solid #eee;background:#f9f9f9;margin:15px 20px 0 15px;position:relative;overflow:hidden;}
.moreTmd3 .classify_more li span.btns{text-align:center;display:block;width:100px;line-height:100px;height:100px;font-size:14px;color:#FF580E;cursor:pointer;padding-left:10px;float:left;position:absolute;left:0;top:50%;margin-top:-50px;}
.moreTmd3 .classify_more li .box{float:right;width:683px;border-left:1px solid #eee;background:#fff;padding:5px 0;padding-right:26px;}
.moreTmd3 .classify_more li .box a{line-height:20px;border:1px solid #FFF;display:block;float:left;margin:3px 0 3px 8px;padding:0 5px;font-size:12px;font-family:arial;color:#999;position:relative;}
.moreTmd3 .classify_more li .box a.on{border:1px solid #2c6cc7;color:#2c6cc7;padding-right:15px;}
.moreTmd3 .classify_more li .box i{position:absolute;width:10px;height:10px;position:absolute;top:50%;margin-top:-5px;right:3px;background:url(../images/i17.png) no-repeat center;display:none;}
.moreTmd3 .classify_more li .box a.on.all{padding-right:5px !important;}
.moreTmd3 .classify_more li .box a.on i{display:block !important;}
.moreTmd3 .classify_more li a.close{width:38px;height:38px;position:absolute;position:absolute;right:0;top:0;background:url(../images/i18.png) no-repeat center;}
.moreTmd3 .classify_more li span.btns2{background:#3c5791;display:block;width:100px;line-height:32px;height:32px;font-size:14px;color:#fff;cursor:pointer;border-right:1px solid #3c5791;padding-left:10px;float:left;}
.moreTmd3 .classify_more li.null{border:none;background:#fff;}
.moreTmd3 .classify_more li.null span:after{content: '^';display: inline-block;margin-left: 12px;-webkit-transform: rotateX(180deg) scale(1, 0.6);transform: rotateX(180deg) scale(1, 0.6)}
.moreTmd3{display:none;}
.moreTmd3.on{display:block !important;}

.moreTmd4{width: 860px;height: 25px;position: absolute;left: 111px;top: 298px;z-index: 3;border-bottom: 1px solid #E8E5F1;overflow-y: auto;padding-top:10px;background-color:#fff;}
.moreTmd4{display:none;}
.moreTmd4 .moreA{width: 20%;margin: 0 auto;}
.moreTmd4 .moreA .more_check{color:#fff;background-color:#3B5791}
.moreTmd4 .moreA .more_clear{margin-left:20px;}
.moreTmd4 .moreA a{width: 35%;display: inline-block;text-align: center;border: 1px solid #ccc;}
.moreTmd4.on{display:block !important;}

/*moreboxopen*/
.moreboxopen{position:absolute;right:0;top:0;z-index:2;padding:5px 45px 5px 10px;width:795px;background:#fff;box-shadow:0 0 4px #ccc;z-index:20;display:none;}
.moreboxopen.open{display:block;}
.moreboxopen a{font-size:13px;color:#63666C;padding:0 6px 0 6px;display:block;float:left;min-width:45px;min-height:24px;line-height:24px;}
.moreboxopen a:hover,.screen dl dd .abox a.on{color:#fff;background-color:#4c84f9;border-radius: 3px;-webkit-border-radius: 3px;}
.screen dl dd .abox a.cao.on{color:inherit;background-color:transparent;}
.moreboxopen a.cao:hover span,.screen dl dd .abox a.cao.on span{color:#fff;background-color:#4c84f9;border-radius: 3px;-webkit-border-radius: 3px;}
.moreboxopen a.cao.checkall:hover span,.screen dl dd .abox a.cao.checkall.on span{border: 1px solid #3B5791;height: 25px;line-height: 25px;color: #3B5791;background-color: transparent;}
.screen dl dd .abox a.cao.cancel span{border: 1px solid #ff580e;height: 25px;line-height: 25px;color: #ff580e;border-radius: 3px;-webkit-border-radius: 3px;}
.screen dl dd .abox a.cao span{margin: 0 auto;}
.moreboxopen a.on{text-indent:16px;position:relative;}
.moreboxopen a.on:before{display:block;content:"";width:12px;height:12px;position:absolute;top:50%;margin-top:-6px;background: url(../images/i2.png) no-repeat  center}
.moreboxopen .on_off{top:4px !important;}








/* 求购弹窗，出售弹窗，看累了弹窗 */
.mask_box00 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2147483647;
  display: none;
}

.mask_box00 input:-moz-placeholder,
.mask_box00 textarea:-moz-placeholder {
  color: #999999;
}

.mask_box00 input:-ms-input-placeholder,
.mask_box00 textarea:-ms-input-placeholder {
  color: #999999;
}

.mask_box00 input::-webkit-input-placeholder,
.mask_box00 textarea::-webkit-input-placeholder {
  color: #999999;
}

.mask_box00 .mask_detail {
  width: 650px;
  height: 500px;
  background-color: #fff;
  border-radius: 16px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
}

.mask_box00 .mask_detailt {
  width: 650px;
height: 62px;
  background:url(../images/pop/pop_tbg.png) no-repeat;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 62px;
}

.mask_box00 .mask_detailt span {
  font-size: 20px;
  color: #fff;
  margin-left: 7px;
}

.mask_box00 .mask_detailt img {
  position: relative;
  top: 18px;
}
.mask_box00 .mask_detailt span+img {
  position: relative;
  top: 26px;
}
.mask_box00 .mask_detailt .close01,
.mask_box00 .mask_detailt .close02 {
  cursor: pointer;
}

.mask_box00 .mask_detail .mask_detailh {
  padding: 42px 0 20px;
  font-size: 30px;
  color: #4d4d4d;
  text-align: center;
  line-height: 32px;
}

.mask_box00 .mask_detail02 .mask_detailh2 {
  color: #999;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.mask_box00 .mask_detail01 .mask_form {
  padding-left: 90px;
  padding-bottom: 18px;
}
.mask_box00 .mask_detail02{
  height: 510px;
}
.mask_box00 .mask_detail02 .mask_form {
  padding-left: 105px;
  padding-bottom: 10px;
}

.mask_box00 .mask_detail01 .mask_form>p {
  margin-bottom: 12px;
}

.mask_box00 .mask_detail02 .mask_form>* {
  margin-bottom: 23px;
}

.mask_box00 label {
  width: 80px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  color: #4d4d4d;
  margin-right: 11px;
  vertical-align: top;
  margin-top: 13px;
}

.mask_box00 .mask_form input,
.mask_detail02_select {
  width: 364px;
  height: 50px;
  border: solid 1px #eeeeee;
  padding: 14px 11px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

.mask_detail02_select span {
  color: #999;
}
.mask_detail02_select i {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: #fafafa;
  position: absolute;
  right: 1px;
  top: 1px;
  text-align: center;
  line-height: 38px;
}

.mask_box00 .mask_detail02 .mask_form input,
.mask_detail02_select {
  width: 312px;
  height: 40px;
}

.mask_detail02_select {
  line-height: 10px;
}

.mask_box00 .mask_form textarea {
  width: 364px;
  height: 100px;
  border: solid 1px #eeeeee;
  padding: 14px 11px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
}

.mask_box00 .mask_btn {
  padding-left: 90px;
}

.mask_box00 .mask_detail02 .mask_btn {
  padding-left: 105px;
}

.mask_box00 .mask_btn a {
  width: 144px;
  height: 34px;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 3px;
}

.mask_box00 .mask_btn a:hover {
  opacity: .8;
}

.mask_box00 .mask_btn a:first-of-type {
  background-color: #2b3d63;
  color: #fff;
  border: solid 1px #2b3d63;;
}

.mask_box00 .mask_btn a:last-child {
  border: solid 1px #fd8c27;
  margin-left: 6px;
  color: #fd8c27;
}

.mask_detail02_select_box {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.mask_detail02_lists {
  border: 1px solid #eee;
  border-top: none;
  overflow: auto;
  max-height: 140px;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 9;
  display: none;
}

.mask_detail02_lists li {
  line-height: 20px;
  color: #999;
  font-size: 14px;
  padding: 0 11px;
}

.mask_detail02_lists li:hover {
  background-color: #2b3d63;;
  color: #fff;
}

.mask_detailh:after{
  content: "";
  width: 34px;
  height: 1px;
  margin: 11px auto 0;
  display: block;
  background: url(../images/pop/pop_icon16.png);
}
.mask_tired{
  width: 554px;
height: 292px;
background-color: #ffffff;
  border-radius: 12px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  overflow: hidden;
  display: none;
}
.close3{
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 0px 0px 0px 46px;
  background-color: #f5f5f5;
  cursor: pointer;
}
.close3 img{
  position: absolute;
  top: 19px;
  right: 18px;
}
.mask_tiredi{
  margin:49px 0 16px;
}
.mask_tiredp1{
  font-size: 24px;
  color: #333;
}
.mask_tiredp2{
  height: 33px;
  line-height: 33px;
  font-size: 18px;
  color: #828282;
  margin:14px 0 28px;
  background: url(../images/pop/pop_icon11.png) center center no-repeat;
}
.mask_tired>a{
  display: inline-block;
  width: 136px;
height: 34px;
  background: #2b3d63;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  font-size: 16px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.mask_tired>a:hover{
  opacity: .9;
}
#k_s_ol_floatWin_fl{overflow:hidden !important;}
.layui-layer{
  z-index:2147483647!important;
}
/* 知产官网首页搜索优化 2019.10.06 Add By LiGang */
.smore_feature_custom {
  float:left;
  width:150px;
  height:25px;
  border-radius:3px;
  border:1px solid #d2d5e6;
}
.smore_feature {
  float:left;
  width:104px;
  display:block;
  padding:0 8px;
  font-size:12px;
  color:#63666C;
  line-height:25px;
}
.smore_feature_search {
  width:29px;
  height:25px;
  float: left;
  display: block;
  cursor: pointer;
  line-height:25px;
  border-left:1px solid #d2d5e6;
	background:url(../images/r_search.png) no-repeat center;
}
.sother_filter_custom {
  width:175px;
  line-height:40px;
  position: relative;
  display: inline-block;
  border-right:1px solid #E8E5F1;
}
.sbrand_name {
  width:96px;
  color:#333;
  font-size:12px;
  line-height:14px;
  padding:0 8px 0 30px;
  display:inline-block;
}
.sbrand_name::-webkit-input-placeholder,.smore_feature::-webkit-input-placeholder{color:#847e7e}
.sbrand_name::-moz-placeholder.smore_feature::-moz-placeholder{color:#847e7e}
.sbrand_name:-moz-placeholder,.smore_feature:-moz-placeholder{color:#847e7e}
.sbrand_name:-ms-input-placeholder,.smore_feature:-ms-input-placeholder{color:#847e7e}
.sbrand_name_search {
  right:0;
  top:13px;
  width:39px;
  height:14px;
  cursor:pointer;
  position:absolute;
  border-left:1px solid #dbdbdb;
	background:url(../images/r_search.png) no-repeat center;
}
.list_original_price,.listul .listBox_list .lileft .intro em.single_original_price {
	font-size: 14px;
	color: #b3b3b3;
  font-weight: 400;
  margin-left: 6px;
  position: relative;
}
.list_original_price_unit,.single_original_unit  {
  font-size: 12px;
  font-style: normal;
}
.list_original_price::after,
.listul .listBox_list .lileft .intro em.single_original_price::after {
  left: 0;
  top: 50%;
  right: -2px;
  content: '';
  position: absolute;
  border-top: 1px solid #b3b3b3;
}
.select input::-webkit-input-placeholder,
.sbrand_name::-webkit-input-placeholder{
  color: #000;
}

/*  */
.sale_list{margin-top: 89px;}
.sale_list .screen dl{width: 1200px;}
/* 新增微信客服 */
.newadd{font-size: 0;}
.newadd a{text-align: center;}
.newadd a.s2{width: 12px!important;margin-right: 6px;}
.newadd a.s3{width: 117px!important;border-color: #5075c6!important;color: #5075c6!important;}
.newadd a.s3 i{background: url(../images/i14_h.png) center center no-repeat!important;}
.newadd > span{display: inline-block;vertical-align: top;width: 72px;height: 32px;position: relative;}
.newadd > span a{border: 1px solid #5076c7!important;color: #5076c7!important;padding: 0!important;width: 70px;}
.newadd .sty1{margin-right: 3px;}
.newadd .sty2 a{border: 1px solid #f95910!important;color: #f95910!important;}
.newadd > span a:hover{border: 1px solid #2b3c62!important;background: #2b3c62;color: #fff!important;}
.newadd .sty2 a:hover{border: 1px solid #f95910!important;background: #f95910;}
.newadd > span b{display: none;width: 147px;height: 173px;border: 1px solid #e6e6e6;background: #f7f7f7;border-radius: 4px;-webkit-border-radius: 4px;text-align: center;position: absolute;left: -155px;top: -70px;z-index: 9;}
.newadd > span img{width: 120px;height: 120px;border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;padding: 14px 13.5px 7px;background: #fff;}
.newadd > span i{display: block;font-size: 12px;color: #b5b5b5;height: 32px;line-height: 32px;font-weight: normal;}
.newadd > span i em{display: inline-block;vertical-align: top;margin-top: 9px;height: 15px;width: 15px;margin-right: 4px;background: url(../images/i14.png) center center no-repeat;}
.newadd > span em::after{content: "";display: block;border-left: 7px solid #e6e6e6;border-top: 7px solid transparent;border-bottom: 7px solid transparent;position: absolute;right: -7px;top: 77px;}
.newadd > span b::after{content: "";display: block;border-left: 6px solid #fff;border-top: 6px solid transparent;border-bottom: 6px solid transparent;position: absolute;right: -6px;top: 78px;}
.newadd > span.sty2:hover b{display: block;}
