﻿
/*按钮  */
.button-box{width:190px;height:42px;line-height:42px;text-align:center;color:#fff;font-size:16px;display:block;margin:0px auto 10px auto;background:#FF734D;}
.button-box:hover{background:#FD6721;}
/**共用块头部标题**/
.common_title {text-align: center;font:12px/1.5 "Microsoft YaHei","Helvetica Neue","Hiragino Sans GB",arial,helvetica,sans-serif;}	
.common_title .common_title_t1 i{display: inline-block;width: 10px;height: 10px;border: 1px solid #cacddb;border-radius: 50%;vertical-align: middle;position: relative;}
.common_title .common_title_t1 i:first-child:before {left: -68px;}
.common_title .common_title_t1 i:before{
    content: '';width: 68px;height: 1px;background-color: #cacddb;display: inline-block;position: absolute;top: 4px;
}
.common_title .common_title_t1 span{font-size: 30px;color: #2f2f2f;vertical-align: middle;margin: 0 30px;}
.common_title .common_title_t1 span +i:before {left: 10px;}
.common_title .common_title_t2{font-size: 14px;color: #bababa;}

.blue-box .common_title .common_title_t1 span{color:#ffffff;}
.blue-box .common_title .common_title_t2{color:#e1dede;}
/* 一行显示5条记录  */
/* 	<ul class="box1200 clearfix register_l">
        <li class="register_l1">
          <div class="register_l_t">
                        <div class="register_l_tc">
              <img src="https://style.yuzhua.com/public/mark/3.0/images/brandSpecial/registered_icon1.png" alt="">
            </div>
          </div>
          <p class="register_l_m">商标普通注册</p>
          <p class="register_l_m2" title="1个工作日内递交商标局，资深顾问全程专业服务">1个工作日内递交商标局，资深顾问全程专业服务</p>
          <p class="register_l_p">
            <span>998</span> <label for="">元</label>
          </p>
          <div class="register_l_b">
            <a href="https://r.yuzhua.com/ipr/sbptzc.html" target="_blank">立即办理</a>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2355871777&amp;site=qq&amp;menu=yes" onclick="save_access_information('2355871777','4','2','7','2','0');_hmt.push(['_trackEvent', 'connect', 'qq','r']);">在线咨询</a>
          </div>
        </li>
       </ul> */
.register .common_title {
  padding-top: 30px;
  margin-bottom: -68px;
}

.register_l {
  /* position: relative; */
  z-index: 2;
}

.register_l li {
  width: 230px;
  height: 284px;
  float: left;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.02);
  margin-left: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-top: 2px solid #8c94ab;
  text-align: center;
  padding-top: 18px;
}

.register_l li:first-child {
  margin-left: 0;
}
.register_l_t {
    width: 98px;
    height: 98px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px #e3e7f7;
    padding: 10px;
    position: relative;
}
.register_l_tc {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px #e3e7f7;
    text-align: center;
    line-height: 68px;
}
img {
    max-width: 100%;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.register_l_m {
    font-size: 18px;
    color: #3e4b73;
    font-weight: bold;
    margin-top: 12px;
}
.register_l_m2 {
    font-size: 14px;
    color: #acadb2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 20px;
    margin-top:5px;
}
.register_l_p{margin-top:10px;}
.register_l_p span {
    font-size: 30px;
    font-weight: bold;
    color: #ff580e;
}
.register_l_p label {
    font-size: 12px;
    color: #ff580e;
    margin-left: -2px;
    position: relative;
    top: -2px;
}
.register_l_b {
    height: 44px;
    width: 100%;
    margin-top: 12px;
    border-top: 1px solid #ebecef;
}
.register_l_b a {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 44px;
    font-size: 14px;
    color: #9e9fa6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.register_l_b a:first-child {
    border-right: 1px solid #ebecef;
}
.register_l_b a:hover {
    color: #fd5b1a;
}
/* 背景块*/
.white-box{
	padding: 0 0 60px 0;background:#ffffff;
}
.grey-box{padding: 0 0 60px 0;background:#eef1f6;}
.blue-box{padding: 60px 0 60px 0;background: #135FBB;}
/*  搜索提交 */
.banner-search{
    height: 216px;
    background: #ffffff;
    margin-top: -85px;
    padding-top: 22px;
    overflow: hidden;
    position: relative;	
    box-shadow: rgba(45, 39, 57, 0.14) 0px 3px 10px 0px;
	
}
.banner-search .search_input{
    width: 860px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(45, 39, 57, 0.14) 0px 3px 10px 0px;
    position: relative;
    margin: 14px auto 20px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 88, 14);
    border-image: initial;
	
	
}
.banner-search .search_input input {
    width: 620px;
    height: 100%;
    padding-left:10px;
    font-size: 14px;
}
.banner-search .search_input_button {
    width: 174px;
    height: 60px;
    background-color: rgb(255, 88, 14);
    line-height: 58px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: -2px;
    right: 0px;
    transition: all 0.4s;
}
.banner-search  .search_slide {
    margin-top: 18px;
    height: 56px;
    line-height: 54px;
    position: relative;
    border-top: 1px dashed rgb(221, 221, 221);
    border-bottom: 1px dashed rgb(221, 221, 221);
    overflow: hidden;
}
.banner-search  .search_slide_l {
    margin-left: 15px;
}
.banner-search .search_slide_l span {
    font-size: 14px;
    color: rgb(92, 92, 92);
    vertical-align: middle;
    font-weight: bold;
    margin-left: 5px;
}
.banner-search .search_slide_r {
    width: 1034px;
    height: 100%;
    position: relative;
}


.banner-search .search_slide_r li{margin:0;}
.banner-search .search_slide_r li span {
    display: inline-block;
    font-size:12px;
    width: 343px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5;
    vertical-align: middle;
    overflow: hidden;
}
/* 一行显示3条记录 */
.list-box-3 ul li {
    width: 390px;
    height: 118px;
    margin-left: 8px;
    margin-top: 8px;
    text-align: left;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
    box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
 
}
.list-box-3 .team_list_pic{
    width: 60px;
    height: 60px;
    float: left;
    overflow: hidden;
	
}
.list-box-3 li a{
	height:90px;
    padding: 30px 26px 0;
    display: inline-block;
}
.list-box-3 .team_content {
	width: 260px;
    float: right;
}
.list-box-3 .team_list_title{
	font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #404040;
    margin-top: 9px;
}
.list-box-3 .team_list_text{
    font-size: 12px;
    color: #b2b2b2;
    line-height: 12px;
    float: left;
    margin-top:10px;
}
/* 一行显示3条记录  带按钮*/
.list-box-3-2 ul li {
    width: 390px;
    height: 128px;
    margin-left: 8px;
    margin-top: 8px;
    text-align: left;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
    box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
    padding:10px 20px 0;
 
}

.list-box-3-2 .team_content {
	height:54px;
	overflow: hidden;
}
.list-box-3-2 .team_list_title{
	font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #404040;
    margin-top: 9px;
}
.list-box-3-2 .team_list_text{
    font-size: 12px;
    color: #b2b2b2;
    line-height: 20px;
    float: left;
    margin-top:10px;
}
.list-box-3-2 .list-box-p{float:right;color: #ff580e;}
.list-box-3-2 .list-box-b{margin-top:20px;}
.list-box-3-2 .list-box-b a{
    display: inline-block;
    width: 110px;
    height: 30px;
    margin-left:10px;
    overflow: hidden;
    color: #000000;
    border:1px solid #135FBB;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.list-box-3-2 .list-box-b a:first-child {
	margin-left:0;
    border-color: #fa6b32;
}	

/* 一行显示4条记录 */
/* 		<ul class="team_list clearfix">
                <li class="fl wow fadeIn animated" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
            <div class="team_list_pic">
              <img src="https://style.yuzhua.com/public/qy/3.0/images/business/team_pic1.png" alt="">
            </div>
            <p class="team_list_title">专业管理团队</p>

            <i class="sprite accounting_line"></i>
            <p class="team_list_text">开放式聚合国内财税金融专家助企业<br>健康、持续发展</p>
          </li>    
		</ul> */
 
.list-box-4 ul li {
    width: 294px;
    height: 280px;
    margin-left: 8px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
    box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
 
}

.list-box-4 ul li:first-child {
    margin-left: 0;
    background:#3C8AEC;
    color:#ffffff;
}
.list-box-4 ul li:first-child .list-box-b a{
	color:#ffffff;
}

.list-box-4 ul li .team_list_title {
    margin-top: 14px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
}

.list-box-4 ul .team_list_text {
	font-size: 14px;
    color: #acadb2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 20px;
    margin-top:10px;
}
.list-box-4  .team_list_pic{
    width: 98px;
    height: 98px;
    margin: auto;
    border-radius: 50%;
    /* border: solid 1px #e3e7f7; */
    padding-top: 30px;
    position: relative;	
}
.list-box-4  .team_list_pic img {
    max-width: 100%;
    height:70px;
    width:70px;
    display:inline;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.list-box-4 ul li:first-child .team_list_title{
	color:#ffffff;
}
.list-box-4 ul li:first-child .team_list_text{
	color:rgba(255,255,255,0.9);
}
.list-box-4 ul .list-box-p {margin-top:20px;}
.list-box-4 ul .list-box-p span {
    font-size: 30px;
    font-weight: bold;
    color: #ff580e;
}
.list-box-4 ul .list-box-p label {
    font-size: 12px;
    color: #ff580e;
    margin-left: -2px;
    position: relative;
    top: -2px;
}
.list-box-4 ul .list-box-b {
    height: 44px;
    width: 100%;
    margin-top: 12px;
    border-top: 1px solid #ebecef;
}
.list-box-4 ul .list-box-b a {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 44px;
    font-size: 14px;
    color: #9e9fa6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.list-box-4 ul .list-box-b a:first-child {
    border-right: 1px solid #ebecef;
}
.list-box-4 ul li:hover{
	cursor: pointer;
    box-shadow: 0 3px 10px rgba(68,66,154,0.15);
    -webkit-box-shadow: 0 3px 10px rgba(68,66,154,0.15);
    transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
}

.list-box-4.cyan ul li:first-child {
    background:#c6e0d7;
}
.list-box-4.cyan ul li:first-child .team_list_title {
    color:#000000;
}
.list-box-4.cyan ul li:first-child .team_list_text {
    color:#000000;
}
.list-box-4.blue ul li:first-child {
    background:#2a53c9;
}
.list-box-4.blue ul li:first-child .team_list_title {
    color: #fff;
}
.list-box-4.blue ul li:first-child .list-box-p span{
    color: #fff;
}
.list-box-4.blue ul li:first-child .list-box-p label{
    color: #fff;
}
.list-box-4.blue ul li:first-child  .list-box-p {
    color: #fff;
}
.list-box-4.blue ul li:first-child .list-box-b a{
    color: #fff;
}
.blue-box .list-box-4 ul li{box-shadow: none;}
.blue-box .list-box-4 ul li:first-child .list-box-b a{
    color: #fff;box-shadow:none;
}
.list-box-4.purple ul li:first-child {
    background:#7b5cff ;
}
.list-box-4.purple ul li:first-child .team_list_title {
    color: #fff;
}
.list-box-4.purple ul li:first-child .list-box-p span{
    color: #fff;
}
.list-box-4.purple ul li:first-child .list-box-p label{
    color: #fff;
}
.list-box-4.purple ul li:first-child  .list-box-p {
    color: #fff;
}
.list-box-4.purple ul li:first-child .list-box-b a{
    color: #fff;
}

.color-box-4{
	
	
}
.color-box-4 .team_list{
	float:right;
	width:1068px;
 
}
.color-box-4 .team_list .typetool{
	height:42px;
 
}
.color-box-4 li{
    float: Left;
    width:267px;
    transition: all .3s ease-in-out;
    position: relative;
}
.color-box-4 li a {
    padding: 20px 16px;
    display: block;
    height: 100%;
    border-right:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
}
.banquan .color-box-4 .team_list{
	border-top:1px solid #EBEBEB;
}
.color-box-4 li a .left{
	width:160px;
}
.color-box-4 li a .left h2{
	font-size:16px;
}
.color-box-4 li a .left p{
font-size: 12px;
}
.color-box-4 li a .logo img {
    position: absolute;
    bottom: 20px;
    right: 16px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.color-box-4 .menu{
background: #00d5cb;float:left;width:130px;height:208px;visibility: visible; animation-delay: 0s; animation-name: fadeIn;	
}
.color-box-4 .menu h2{
	background: #05cac1;    
	font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 84px;
    height: 84px;
    text-align:center;
	
}
.color-box-4 .menu a.more-box{
border:1px solid #ffffff;display:block;border-radius: 10px;width:80px;margin:20px auto;
color:#ffffff;text-align:center;
font-size:12px;
padding:0;
}
.color-box-4 .menu a.more-box:hover{
color:#ff6a00 !important; 

}

.color-box-4 li a:hover h2{
	color:#ff6a00;
}
/*新增蓝色、红色、紫色    #c6e0d7*/
/* 一行7条，第一条加高 带颜色  */
.list-box-7 .list-left{
    width: 270px;
    height: 278px;
    background: #fe5c1b;
    text-align: center;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.list-box-7 .list-left .topic{
	margin-top:10px;
}
.list-box-7 .list-left h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
}
.list-box-7 .list-left p{
    font-size: 14px;
    line-height: 20px;
    height:40px;
    color: rgba(255,255,255,0.7);
    margin: 20px 20px 20px 20px;
}
.list-box-7 .list-left .money{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin: 30px 20px 20px 20px;
}
.list-box-7 .list-left .list-box-b{margin-top:24px;}
.list-box-7 .list-left .list-box-b a {
    display: inline-block;
    width: 110px;
    height: 30px;
    overflow: hidden;
    background-color: #135FBB;
    color:#FFFFFF;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.list-box-7 .list-left .list-box-b a:first-child {

    background-color: #FFFFFF;
    color:#000000;

}
.list-box-7 .list-right {
    width: 930px;
}
.list-box-7 ul li{
    width: 294px;
    height: 140px;
    margin-left: 8px;
    text-align: left;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
    box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);	
	padding: 18px 0 0 22px;
	overflow: hidden;
}
.list-box-7 ul li .team_list_title{
	font-size: 18px;
    color: #393f52;
    font-weight: bold;
}
.list-box-7 ul li .team_list_text{
	margin-top: 10px;
    font-size: 14px;
    height: 36px;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #acadb2;
	
}
.list-box-7 ul li .team_list_text:after{
  content: '';
  display: block;
  width: 21px;
  height: 1px;
  margin: 10px 0;
}
.list-box-7 ul li .list-box-p{
	color: #ff580e;
	margin-top:10px;
}
.list-box-7 .list-right .list-box-b a {
    display: inline-block;
    width: 110px;
    height: 30px;
    overflow: hidden;
    color:#ffffff;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background:#135FBB;
}
.list-box-7 .list-right .list-box-b a:first-child{
	background:#fa6b32;
}
.list-box-7 ul li .list-box-b{margin-top:24px;}
.list-box-7 ul li:hover .team_list_text {
  height: 0;
  opacity: 0;
} 
.list-box-7 ul li:hover .list-box-b {
	margin-top:14px;
} 
/*流程  */ 
/* 	<ul class="process_l">
        <li>
          <p class="process_l_n">01</p>
          <p class="process_l_t">查询商标</p>
          <p class="process_l_d">顾问免费查询商标并出注册方案</p>
        </li>
    </ul>    */ 
.process_l {
    margin-top: 12px;
}
.process_l li {
    width: 220px;
    height: 140px;
    float: left;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    margin-left: 15px;
    text-align: center;
}
.process_l li:first-child {
    margin-left: 0;
}
.process_l li:hover .process_l_t,
.process_l li:hover .process_l_d {
  color: #fe6b2a;
}

.process_l_n {
    width: 33px;
    height: 33px;
    margin: auto;
    border: solid 1px rgba(252, 160, 130, 0.4);
    border-radius: 50%;
    font-size: 16px;
    color: #fe6b2a;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    margin: 24px auto 10px;
}
.process_l_t {
    font-size: 16px;
    color: #424a66;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.process_l_d {
    font-size: 14px;
    color: #9b9da8;
    margin-top: 2px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

 
.bannerf {
    height: 360px;
} 
.team_list_pic{
	margin-right:10px;
}
.team_list_pic img{
width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right:6px;
}
}