﻿body {
    background: #EEF1F6;
    color: #333;
    min-width: 1280px;
}
.container .title {
    margin: 0 auto;
    font-size: 32px;
    color: #333;
    font-weight: bold;
    padding: 30px 0 25px 0; text-align: center;
}
.title .big {
    overflow: hidden;
    font-weight: normal;
}
.title .big span {
    font-size: 24px;
    text-align: center;
    color: #343434;
    position: relative;
    height: 30px;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
}
.title .big span i {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -5.5px;
    background: url(../images/sys_icon.png) no-repeat -159px 0;
}
.title .big span .i_l {
    left: 0;
}
.title .big span .i_r {
    right: 0;
}
.title_box {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.title_box span {
    font-size: 14px;
    color: #9B9B9B;
    width: 70px;
    height: 28px;
    text-align: center;
}
/***公用层**/
.content_show {
    width: 100%;
    height: 422px;
    background: #e8eaf5;
    box-shadow: 0 0px 8px 1px rgba(43, 47, 57, 0.08);
}
.jiazhi .content_show{
	height: 622px;
}
.content_show .left_area {
	float: left;
	width: 259px;
	height: 385px;
	padding: 37px 0 0 43px;
	font-size: 0
}
.content_show .services li {
    float: left;
    width: 298.5px;
    height: 210px;
    margin: 0 1px 1px 0;
    background: #fff;
    text-align: center;
}
.content_show .services li {
	float: left;
	width: 298px;
	height: 210px;
	margin: 0 1px 1px 0;
	background: #fff;
	text-align: center
}

.content_show .services li a {
	display: inline-block;
	transition: all .3s;
	width: 100%;
	height: 100%;
}

.content_show .services li a .enter {
	transition: all .3s;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../images/icon16.png") no-repeat center;
	margin: 36px 0 30px 0
}

.content_show .services li a .service_title {
	font-size: 20px;
	color: #0f2249;
	margin-bottom: 12px;
	padding: 0 68px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content_show .services li a .service_info {
	font-size: 14px;
	color: #6c6f78;
	padding: 0 54px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content_show .services li a .service_price {
	font-size: 13px;
	color: #2b3d63;
	margin-top: 30px
}

.content_show .services li a .service_price span {
	font-size: 16px;
	color: #fd661f
}

.content_show .services li a .service_price span:before {
	content: '';
	display: inline-block;
	width: 7px;
	height: 10px;
	background: url("../images/icon17.png") no-repeat center
}

.content_show .services li:hover {
	-moz-box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset;
	-webkit-box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset;
	box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset
}

.content_show .services li:hover .enter {
	background: url("../images/icon15.png") no-repeat center
}

.content_show .services li:hover a {
	transform: translateY(-2px)
}

.content_show .services .no_margin {
	margin-bottom: 0
}

.content_show .services .third_li {
	margin-right: 0
}

.content_show .services:after {
	content: '';
	display: block;
	clear: both
}
.index-tuijian .content_show .left_area {
	background: url("../images/s3_bg1.png") no-repeat center;
}
.index-patent .content_show .left_area {
	background: url("../images/s3_bg2.png") no-repeat center;
}
.index-brand .content_show .left_area {
	background: url("../images/s3_bg3.png") no-repeat center;
}
.index-guoji .content_show .left_area {
	background: url("../images/s3_bg4.png") no-repeat center;
}
.content_show .left_area .c_name {
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 10px
}

.content_show .left_area .e_name {
	font-size: 12px;
	color: #ffffff;
	margin: 5px 0 15px 0;
	text-transform: uppercase
}

.content_show .left_area .yuzhua_stage {
	font-size: 14px;
	color: #ffffff;
	width: 226px;
	margin-top: 6px;
	line-height: 27px
}
/***专利价值**/
.icons{background: url(../images/icons_03.png) no-repeat;}
.dib {
    display: inline-block;
}
.cost-fl{
    width: 593px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(191,191,172,0.24);
    border:1px solid transparent;
    -webkit-transition: all .45s;
    transition: all .45s;
}
.cost-fl:hover{
    border-color: #3382d4;
    -webkittransform: translateY(10px);
    transform: translateY(10px);
}
.cost-fl h3{
    width: 100%;
    font-size: 30px;
    color: #5690e8;
    height: 93px;
    line-height: 93px;
    text-align: center;
}
.cost-fl:hover h3{background: #3382d4;color: #fff;}
.cost-list{
    width: 100%;
    overflow:hidden;
}
.cost-list li{
    width: 50%;
    float: left;
    text-align: center;
}
.cost-list li a{
    display: block;
    line-height: 1;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    height: 259px;
}
.cost-list li:first-child a,.cost-list li:nth-child(3) a{border-left: none !important;}
.cost-list li i{
    width: 111px;
    height: 111px;
    margin-top: 20px;
}
.cost-list li .cost-icon2{background-position: -111px 0;}
.cost-list li .cost-icon3{background-position: -222px 0;}
.cost-list li .cost-icon5{background-position: -333px 0;}
.cost-list li .cost-icon6{background-position: -444px 0;}
.cost-list li .cost-icon7{background-position: -555px 0;}
.cost-list li .cost-icon4{
    width: 88px;
    height: 25px;
    background-position: 0 -223px;
    margin-top: 105px;
}
.cost-list li:hover i{
    background-position: 0 -111px;
    -webkit-animation: fadeInDown ease-in .45s;
    animation: fadeInDown ease-in .45s;

}
.cost-list li:hover .icons0{background-color:#5690e8;border-radius: 50%;}

.cost-list li:hover .cost-icon2{background-position: -111px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon3{background-position: -222px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon5{background-position: -333px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon6{background-position: -444px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon7{background-position: -555px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon4{background-position: 0 -223px;}
.cost-list li p{
    font-size: 24px;
    color: #333;
    padding: 15px 0 13px;
}
.cost-list li:hover p{color: #5690e8;;}
.cost-list li span{
    font-size: 18px;
    line-height: 24px;
    color: #666;
}
.news-box {
    width: 370px;
    background: #fff;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    color: #747C8B;
}
.news-box ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.news-con{height:240px;}
.news-box ul li {
    line-height: 35px;
}
.zixun {
    width: 156px;
    height: 38px;
    margin-left: 60px;
    margin-top: 20px;
    line-height: 38px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #e1e1e1;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
}
.hezuopingpai table {
	width: 1200px;
	margin: 0 auto;
	text-align: center
}

.hezuopingpai tr {
	height: 104px;
	line-height: 104px;
	border: 1px solid #eeeeee
}

.hezuopingpai tr td {
	overflow: hidden;
	width: 17.142%;
	border-right: 1px solid #eeeeee
}

.hezuopingpai tr td a {
	cursor: inherit
}

.hezuopingpai tr td:hover img {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-webkit-transition: all 1.5s ease-in-out 0s;
	transition: all 1.5s ease-in-out 0s;
}

.hezuopingpai_bd {
	height: 316px;
	overflow: hidden
}

.hezuopingpai_bd ul li {
	height: 316px;
	width: 100%;
	transition: all .3s
}

.hezuopingpai_hd {
	text-align: center;
	margin-top: 15px
}

.hezuopingpai_hd li {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 5px;
	background: #D3D6DC;
	text-indent: -999999px;
	border-radius: 50%
}

.hezuopingpai_hd li.on {
	background: #21304F
}
.frend {
    background: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 11px 32px rgba(221,221,221,0.58);
    padding: 26px 0;
    width: 1200px;
    margin: 0 auto;
}