﻿body {
    background: #EEF1F6;
    color: #333;
    min-width: 1280px;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, span {
    margin: 0;
    padding: 0;
}
.container .title {
    margin: 0 auto;
    font-size: 32px;
    color: #333;
    font-weight: bold;
    padding: 30px 0 25px 0; text-align: center;
}
.title .big {
    overflow: hidden;
    font-weight: normal;
}
.title .big span {
    font-size: 24px;
    text-align: center;
    color: #343434;
    position: relative;
    height: 30px;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
}
.title .big span i {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -5.5px;
    background: url(../images/sys_icon.png) no-repeat -159px 0;
}
.title .big span .i_l {
    left: 0;
}
.title .big span .i_r {
    right: 0;
}
.title_box {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.title_box span {
    font-size: 14px;
    color: #9B9B9B;
    width: 70px;
    height: 28px;
    text-align: center;
}
/***公用层**/
.content_show {
    width: 100%;
    height: 422px;
    background: #e8eaf5;
    box-shadow: 0 0px 8px 1px rgba(43, 47, 57, 0.08);
}
.jiazhi .content_show{
	height: 622px;
}
.content_show .left_area {
	float: left;
	width: 259px;
	height: 385px;
	padding: 37px 0 0 43px;
	font-size: 0
}
.content_show .services li {
    float: left;
    width: 298.5px;
    height: 210px;
    margin: 0 1px 1px 0;
    background: #fff;
    text-align: center;
}
.content_show .services li {
	float: left;
	width: 298px;
	height: 210px;
	margin: 0 1px 1px 0;
	background: #fff;
	text-align: center
}

.content_show .services li a {
	display: inline-block;
	transition: all .3s;
	width: 100%;
	height: 100%;
}

.content_show .services li a .enter {
	transition: all .3s;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../images/icon16.png") no-repeat center;
	margin: 36px 0 30px 0
}

.content_show .services li a .service_title {
	font-size: 20px;
	color: #0f2249;
	margin-bottom: 12px;
	padding: 0 68px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content_show .services li a .service_info {
	font-size: 14px;
	color: #6c6f78;
	padding: 0 54px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content_show .services li a .service_price {
	font-size: 13px;
	color: #2b3d63;
	margin-top: 30px
}

.content_show .services li a .service_price span {
	font-size: 16px;
	color: #fd661f
}

.content_show .services li a .service_price span:before {
	content: '';
	display: inline-block;
	width: 7px;
	height: 10px;
	background: url("../images/icon17.png") no-repeat center
}

.content_show .services li:hover {
	-moz-box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset;
	-webkit-box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset;
	box-shadow: 0px 0px 5px rgba(43, 47, 57, 0.08) inset
}

.content_show .services li:hover .enter {
	background: url("../images/icon15.png") no-repeat center
}

.content_show .services li:hover a {
	transform: translateY(-2px)
}

.content_show .services .no_margin {
	margin-bottom: 0
}

.content_show .services .third_li {
	margin-right: 0
}

.content_show .services:after {
	content: '';
	display: block;
	clear: both
}
.index-tuijian .content_show .left_area {
	background: url("../images/s3_bg1.png") no-repeat center;
}
.index-patent .content_show .left_area {
	background: url("../images/s3_bg2.png") no-repeat center;
}
.index-brand .content_show .left_area {
	background: url("../images/s3_bg3.png") no-repeat center;
}
.index-guoji .content_show .left_area {
	background: url("../images/s3_bg4.png") no-repeat center;
}
.content_show .left_area .c_name {
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 10px
}

.content_show .left_area .e_name {
	font-size: 12px;
	color: #ffffff;
	margin: 5px 0 15px 0;
	text-transform: uppercase
}

.content_show .left_area .yuzhua_stage {
	font-size: 14px;
	color: #ffffff;
	width: 226px;
	margin-top: 6px;
	line-height: 27px
}
/***专利价值**/
.icons{background: url(../images/icons_03.png) no-repeat;}
.dib {
    display: inline-block;
}
.cost-fl{
    width: 593px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(191,191,172,0.24);
    border:1px solid transparent;
    -webkit-transition: all .45s;
    transition: all .45s;
}
.cost-fl:hover{
    border-color: #3382d4;
    -webkittransform: translateY(10px);
    transform: translateY(10px);
}
.cost-fl h3{
    width: 100%;
    font-size: 30px;
    color: #5690e8;
    height: 93px;
    line-height: 93px;
    text-align: center;
}
.cost-fl:hover h3{background: #3382d4;color: #fff;}
.cost-list{
    width: 100%;
    overflow:hidden;
}
.cost-list li{
    width: 50%;
    float: left;
    text-align: center;
}
.cost-list li a{
    display: block;
    line-height: 1;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    height: 259px;
}
.cost-list li:first-child a,.cost-list li:nth-child(3) a{border-left: none !important;}
.cost-list li i{
    width: 111px;
    height: 111px;
    margin-top: 20px;
}
.cost-list li .cost-icon2{background-position: -111px 0;}
.cost-list li .cost-icon3{background-position: -222px 0;}
.cost-list li .cost-icon5{background-position: -333px 0;}
.cost-list li .cost-icon6{background-position: -444px 0;}
.cost-list li .cost-icon7{background-position: -555px 0;}
.cost-list li .cost-icon4{
    width: 88px;
    height: 25px;
    background-position: 0 -223px;
    margin-top: 105px;
}
.cost-list li:hover i{
    background-position: 0 -111px;
    -webkit-animation: fadeInDown ease-in .45s;
    animation: fadeInDown ease-in .45s;

}
.cost-list li:hover .icons0{background-color:#5690e8;border-radius: 50%;}

.cost-list li:hover .cost-icon2{background-position: -111px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon3{background-position: -222px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon5{background-position: -333px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon6{background-position: -444px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon7{background-position: -555px -111px;background-color:#5690e8;border-radius: 50%;}
.cost-list li:hover .cost-icon4{background-position: 0 -223px;}
.cost-list li p{
    font-size: 24px;
    color: #333;
    padding: 15px 0 13px;
}
.cost-list li:hover p{color: #5690e8;;}
.cost-list li span{
    font-size: 18px;
    line-height: 24px;
    color: #666;
}
.news-box {
    width: 370px;
    background: #fff;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    color: #747C8B;
}
.news-box ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.news-con{height:240px;}
.news-box ul li {
    line-height: 35px;
}
.zixun {
    width: 156px;
    height: 38px;
    margin-left: 60px;
    margin-top: 20px;
    line-height: 38px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #e1e1e1;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
}
.hezuopingpai table {
	width: 1200px;
	margin: 0 auto;
	text-align: center
}

.hezuopingpai tr {
	height: 104px;
	line-height: 104px;
	border: 1px solid #eeeeee
}

.hezuopingpai tr td {
	overflow: hidden;
	width: 17.142%;
	border-right: 1px solid #eeeeee
}

.hezuopingpai tr td a {
	cursor: inherit
}

.hezuopingpai tr td:hover img {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-webkit-transition: all 1.5s ease-in-out 0s;
	transition: all 1.5s ease-in-out 0s;
}

.hezuopingpai_bd {
	height: 316px;
	overflow: hidden
}

.hezuopingpai_bd ul li {
	height: 316px;
	width: 100%;
	transition: all .3s
}

.hezuopingpai_hd {
	text-align: center;
	margin-top: 15px
}

.hezuopingpai_hd li {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 5px;
	background: #D3D6DC;
	text-indent: -999999px;
	border-radius: 50%
}

.hezuopingpai_hd li.on {
	background: #21304F
}
.frend {
    background: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 11px 32px rgba(221,221,221,0.58);
    padding: 26px 0;
    width: 1200px;
    margin: 0 auto;
}

.index-box-6{
	
	
}
.index-box-6 .left_area {
    float: left;
    width: 259px;
    height: 385px;
    padding: 37px 0 0 43px;
    font-size: 0;
}
/*banner  */
.header{background:#ffffff;}
.swiper-slide .banner_pic {height: 290px;display: block;background-position: center;
}
.banner-img{
	background:url(/style/tp01/images/banner.png);
	background-color: rgb(132, 138, 248);
	height:100%;
background-repeat: no-repeat;
    background-position: 50%;
/*     line-height: 0; */
    background-size: 1440px 470px;
    transition: all 1s;	
	}
.market-banner-bgcolor{
	width:100%;
	    height: 470px;
}
.banner-right{
    width: 230px;
    height: 460px;
    background: #fff;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 8px;
 
}
.container{
	width:1200px;
	    margin: 0 auto;
	    position: relative;
}
.banner-left{
    width: 720px;
    height: 460px;
    
    z-index: 3;
    position: absolute;
    right: 243px;
    top: 8px;
}
.banner-left-top{height:285px;background: #fff;}
.banner-left-bottom{height:150px;margin-top:20px;}
/*  侧边导航样式 */
.sidebar{
	width: 1200px;
    height: 0;
    margin: 0 auto;
    position: relative;
    z-index: 10;
	
}
.sidebar .sidebarbox {
    width: 85px;
    height: 460px;
    background: #fff;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 8px;
 
}
.banner-sell{
	background:#f5f5f5;
	height:40px;
	line-height:40px;
	font-size:18px;
	padding-left:10px;
	font-weight:bold;
}
.banner-right ul li {height:30px;line-height: 30px;}
.roll-box{
padding-left:10px;padding-top:15px;
overflow:hidden; position:relative; height:420px
}
.roll-box .bd{height:200px;}
.sidebar .single{
width: 85px;
    height: 92px;
    background: #3160ec;
    float: left;
    cursor: pointer;
    border-bottom: 1px solid #848af8;
    color: #fff;
}
.sidebar .single .txt {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
 
.sidebar .sidebarbox .single .head{
	padding:0;margin:0;height:85px;
	line-height:85px;
}
.single.on .pop{

}
.sidebar .popone{width:975px;height:460px;background:#f3f8fa;position:absolute;left:226px;top:0;display:none;}
/*鼠标交互效果*/
.sidebar .single:hover .pop{transition: all .35s ease;display:block;}
.sidebar .single.on{background:#fff;transition: all .35s ease}
.sidebar .single.on dt{color:#FF570D;transition: all .35s ease}
.sidebar .single6{background-color:#1C202C !important;}
.sidebar .single6 a{color:#fff;}
.sidebar .single6:hover a{color:#ff580e;}

/*sidebar-poptwo*/
.sidebar .poptwo{width:1115px;height:462px;background:#f3f8fa;position:absolute;left:85px;top:0;display:none;}
.sidebar .poptwo_left{height:462px;width:1115px;float:left;background:#fff;padding:20px 30px;}
.sidebar .popone .poptwo_left{width:975px;}
.sidebar .poptwo_left .box1 h2{font-size:14px;color:#585858;padding-left:20px;background:url(../images/search.png) no-repeat left center;}
.sidebar .poptwo_left .box1 .searchBlock {margin-top:10px;width: 702px;height: 44px;border: solid 1px #E7EAEE;background-color: #ffffff;position: relative;border-radius:3px;z-index:1;}
.sidebar .poptwo_left .box1 .searchBlock span {width: 499px;display: inline-block;}
.sidebar .poptwo_left .box1 .searchBlock .searchText {border: none;width:603px;height:44px;outline: 0 none;font-size: 14px;font-weight: normal;font-stretch: normal;line-height: 44px;letter-spacing: 0px;color: #676767;padding:0 10px;}
.sidebar .poptwo_left .box1 .searchBlock .searchBtn {border: none;width:180px;height:45px;color: white;font-size: 16px;cursor: pointer;float: right;background:#ff580e;position:absolute;top:-1px;right:-1px;border-radius:0 3px 3px 0;transition: all .35s ease}
.sidebar .poptwo_left .box1 .searchBlock .searchBtn:hover{background:#de4907;transition: all .35s ease}
.sidebar .poptwo_left .box1 .searchBlock .search_box p {font-size: 12px; color:#2B3D63;margin-top: 5px;}
.sidebar .poptwo_left .box1 .searchBlock .search_box p a {color: #a7a7a7;margin-right: 10px;}
.sidebar .poptwo_left .box1 .searchBlock .search_box p a:hover {text-decoration: underline;color:#2B3D63;}
/*sidebar-abox*/
.sidebar  .abox{border-bottom:1px dashed #e1e1e1;padding:15px 0;}
.sidebar  .abox h3{color:#ff580e;font-weight:700;font-size:16px;position:relative;line-height:20px;}
.sidebar  .abox .a_li{overflow:hidden;padding-top:5px;}
.sidebar  .abox .a_li a{font-size:13px;color:#868994;display:block;line-height:22px;float:left;margin:2px 0;padding-right:21px;position:relative;}
.sidebar  .abox .a_li a:after{content: '';position: absolute;right: 10px;top: 50%;width: 1px;height: 8px;background-color: #C4D0EA;top:50%;margin-top:-3px;}
.sidebar  .abox .a_li a:hover{color:#F47349;}
.sidebar  .abox .a_li font{position:relative;}
.sidebar  .abox .a_li a.hot font:before{content:"";width:20px;height:20px;position:absolute;display:block;left:50%;top:-13px;background:url(../images/hot2.png) no-repeat left center;margin-left:-10px;}
.sidebar  .abox .a_li a.hot{color:#ff580e;}
.sidebar  .abox:last-child,.sidebar .abox.bdnone{border:none;}
.sidebar  .abox .a_li a:last-child:after{display:none;}

/* 商标交易 */
.index-recommend{background: #fff;margin-top: 30px;position: relative;z-index: 1;}
.recommend-title {
    height: 64px;
    border-bottom: 1px solid #E8EAED;

}
.recommend-title ul{width:1010px;float:left;}
.recommend-title ul li {height: 64px;width: 149.5px;border-right: 1px solid #E8EAED;float: left;line-height: 64px;text-align: center;color: #213151;font-size: 16px;position: relative;}
.recommend-title .a {float: right;padding: 10.5px 0 0 0;margin-right: 20px;overflow: hidden;}
.recommend-title .hover{background: url(/static/images/hover.png) no-repeat left top;}
.recommend-list{height: 525px;}
.recommend-list ul{height: 525px;position: relative;overflow:hidden;display: none;}
.recommend-list ul.hover{display: block;}


.recommend-list li{width:299px;height:50%;border-bottom:1px solid #E8EAED;border-right:1px solid #E8EAED;float:left;position:relative;}
.recommend-list li a.box{display:block;height:100%;padding:10px 15px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.recommend-list li:hover{-webkit-box-shadow: inset 0 0 38px rgba(0,0,0,.04);box-shadow: inset 0 0 38px rgba(0,0,0,.04);-webkit-transition: all .15s ease;transition: all .15s ease}
.recommend-list li .img{text-align: center;}
.recommend-list li .img{width:270px;height:120px;text-align:center;margin:0 15px;margin-bottom:20px;display: table-cell;vertical-align: middle;text-align: center;}
.recommend-list li .img img {max-width: 120px;max-height: 120px;}
.recommend-list li .text{font-size: 18px;text-align: center;color: #4C4C4C;line-height: 27px;padding: 5px 0 0 0;}
.recommend-list .intro{    font-size: 12px;line-height: 20px;color: #9F9F9F;text-align: center;padding: 5px 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.recommend-list .line{    height: 1px;width: 23px;background: #DEDEDE;margin: 5px auto;}
.recommend-list .money{    font-size: 13px;text-align: center;color: #FF662B;margin-top: 10px;font-family: aiarl;}
.recommend-list .money .m{font-size: 18px;font-weight: 700;}
.recommend-list li .a{position:absolute;left:0;bottom:0;width:302px;height:0;overflow:hidden;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;opacity:0;}
.recommend-list li .a a{border-top:1px solid #E8EAED;display:block;width:150px;border-right:1px solid #E8EAED;line-height:35px;float:left;text-align:center;color:#5E5E5E;font-size:14px;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}

.recommend-list li:hover .text{margin-top: -18px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;}
.recommend-list li:hover .a{height:35px;-webkit-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s;opacity:1;}
.recommend-list li .a a:hover{color:#fff;border-color:#2B3D63;background:#2B3D63;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
 
/**左侧 content**/
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
a {
    cursor: pointer;
    color: #333;
}
.sidebar .content{width:140px;height:460px;background:#fff;position:absolute;right:-140px;top:0;padding-left:10px;overflow:hidden;display:block;}
.sidebar .content .li{padding-top:10px;}
.sidebar .content .li h2{font-size:15px;height:22px;line-height:22px;}
.sidebar .content .li h2 a{position:relative;}
.sidebar .content .li h2 a.hot:after{content:"";display:block;width:23px;height:11px;position:absolute;right:-25px;top:50%;margin-top:-5.5px;}
.sidebar .content .li .li_li{border-bottom:1px dotted #ccc;padding:7px 0;}
.sidebar .content .li .li_li_head{color:#4B4B4B;line-height:20px;height:20px;overflow:hidden;position:relative;padding-left:22px;}
.sidebar .content .li .li_li_head i{width:20px;height:20px;display:block;position:absolute;left:0;top:0;font-size:16px;text-align:center;line-height:20px;color:#888;}
.sidebar .content .li .li_li_coentent{line-height:20px;height:20px;overflow:hidden;}
.sidebar .content .li .li_li_coentent a{color:#ADADAD;padding-right:2px;}
.sidebar .content .li .li_li_coentent a:hover{color:#000;text-decoration:underline;}
.sidebar .content .li .li_li_head:hover{color:#F47349;}
.banner-left-bottom ul li .box {
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    height: 70px;
    margin-top: 20px;
    transition: .3s;
}
.banner-left-bottom ul li .box h3 {
    padding: 33px 40px 0 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
.banner-left-bottom ul li .box *{
    color: #fff;
}
.banner-left-bottom ul li .box p {
    margin: 0 40px 0 20px;
    font-size: 14px;
    line-height: 20px;
}
/*交易选项*/
.brand-box{
	float:left;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;
	position:relative;overflow:hidden;border-right:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;
	width:200px;height:204px;
	padding:10px 0 15px 10px;
	text-align:left;
	position: relative;
}
.brand-box:hover{
box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
	
}
.brand-box .text {
    font-size: 18px;
    text-align: center;
    color: #4C4C4C;
    line-height: 27px;
    padding: 5px 0 0 0;
}
.brand-box .intro {
    font-size: 12px;
    line-height: 20px;
    color: #9F9F9F;
    text-align: center;
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.brand-box .money {
    font-size: 13px;
    text-align: center;
    color: #FF662B;
    margin-top: 10px;
    font-family: aiarl;
}
.brand-box a.box {
    display: block;
    height: 100%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.brand-box .img {
    width: 270px;
    height: 70px;
    text-align: center;
    margin: 0 15px;
    margin-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.brand-box .img img {
    max-width: 70px;
    max-height: 70px;
}

.patent-box .type_btn{
	display:block;
	float:left;
	font-size:9px;
	border:solid 1px #DDDDDd;
	padding:2px;
	line-height:16px;
	border-radius:3px;
}
.patent-box{
	float:left;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;
	position:relative;overflow:hidden;border-right:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;
	width:300px;height:102px;
	padding:10px 0 15px 10px;
	text-align:left;
	position: relative;
}
.patent-box:hover{
box-shadow: 0px 1px 10px 0px rgba(216, 216, 216, 0.6);
	
}
.patent-box h1{
height:20px;
}
.patent-box h2{
font-size:14px;
font-weight:400;
color:rgba(102,102,102,1);
margin-top:4px;
}
.patent-box h3{
font-size:14px;
font-weight:400;
color:rgba(102,102,102,1);
margin-top:0px;
}
.patent-box h4{
font-size:14px;
font-weight:400;
color:rgba(102,102,102,1);
margin-top:2px;
}
.patent-box .detail-button{
	display:block;
width:100px;
height:32px;
line-height:32px;
background:rgba(199,21,34,1);
box-shadow:0px 2px 8px 0px rgba(198,21,33,0.38);
border-radius:4px;
font-size:16px;
font-weight:400;
color:rgba(255,255,255,1);
margin:0 auto;
text-align:center;
margin-top:12px;
display:none;
}
 
 
 
.patent-title{
float:left;
margin-left:0;
font-size:16px;
font-weight:bold;
color:rgba(51,51,51,1);
width:236px;
height:22px;
overflow : hidden;  
 text-overflow: ellipsis;  
 display: -webkit-box;   
 -webkit-line-clamp: 1;  
 -webkit-box-orient: vertical;  
 word-break: break-all; 
}
.patent-box a:hover .patent-title{color:#ff6a00;}
/* 交易头部  */
.publicblock {
    width: 1200px;
    margin: 0 auto;
    clear: both;
    zoom: 1;
 
}
/*block1*/
.block1{height:460px;position:relative;}
.block1 .title1{width:700px;text-align:center;margin:0 auto;padding:27px 0 23px;}
.block1 .title1 h2{font-weight:normal;font-size:24px;color:#fff;line-height:32px;margin-bottom:6px;}
.block1 .title1 .p{font-size:13px;color:#ABA5BE;position:relative;line-height:28px;height:28px;background:url(../images/yz_index/hr.png) no-repeat center;}
 
.block1 .mv{position:absolute;right:0;top:3px;width:149px;height:103px;}
.block1 .content{height:476px;background:#fff ;border-radius:5px;box-shadow: 0 3px 40px 0 rgba(0,0,0,.5);}
.block1 .content > .hd{height:70px;background:#f0f0f6;border-radius:5px 5px 0 0;}
.block1 .content > .hd ul{height:70px;}
.block1 .content > .hd li{height:70px;width:399px;float:left;border-left:1px solid #dedbee;}
.block1 .content > .hd li:first-child{border-left:1px solid #f0f0f6;}
.block1 .content > .hd h3{font-size:14px;color:#b5b4be;font-weight: normal;padding: 24px 0 22px 22px;}
.block1 .content > .hd h3 span{font-size:24px;color:#454859;display: inline-block;margin-right: 5px;position: relative;top: -1px;}
.block1 .content > .hd .li03 h3 span{color:#212121;}
.block1 .content > .hd h3 i{font-size:16px;color:#fff;background: #ff7e00;border-radius: 2px;-webkit-border-radius: 2px;display: inline-block;margin-right: 2px;width: 39px;height: 22px;line-height: 22px;text-align: center;position: relative;top: 1px;vertical-align: top;}
.block1 .content > .hd li.on{padding-top:9px;height:79px;position:relative;top:-9px;background:#fff;border-left:1px solid #fff;border-radius:4px 4px 0 0;}
.block1 .content > .hd li.on h3 span{color:#1a1a1a;}
.block1 .content > .bd{height:406px;position:relative;text-align:center;width:1200px;position:absolute;left:0;z-index: 99;}
.block1 .content > .bd > ul{position:absolute;left:0;top:0;width:1200px;height:407px;overflow: hidden;}
.block1 .content > .bd > ul > li{height:406px;/* padding:0 4px 0 24px; */}

.con-white-box {
    width: 1240px;
    height: 498px;
    padding: 24px 19px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 3px 4px 10px 0px rgba(1,3,11,0.1);
}
.content_text {
    width: 990px;
    height: 450px;
    float: right;
    background: #F7F7FB;
    position: relative;
}
.list-box-4 ul li{
	text-align:left;
}
.list-box-4 ul li h2 {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 24px;
    margin-bottom: 4px;
}
.list-box-4 ul li  img {
    position: absolute;
    bottom: 20px;
    right: 16px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.product-list1 .title-text{
	line-height: 18px;
	text-align:center;
}