﻿.detail-banner {
    padding-top: 10px;
    width: 100%;
    background: #2a6ccb;
}
.detail-top {
    width: 1200px;
    margin: 0 auto;
}
.detail-top-left{
    background: #ffffff;
    width: 900px;
    height: 100%;
    padding-top: 20px;
    border-right: 2px solid #1858bc;
}
.detail-top-right {
    position: relative;
    width: 300px;
    height: 294px; 
    background: #ffffff;
    padding-top:20px;
 
}
.detail-top-right .detail-top-tit{margin-left:10px;}
.detail-top-right ul{padding-left:20px;}

.detail-top-right ul li{
border-bottom: 1px dashed #ECECEC;
font-size: 16px;
    color: #474747;
    padding-bottom:6px;
}
.detail-top-right ul li h2{ 
    font-size: 16px;
    color: #474747;
    padding-top: 10px;
    padding-bottom: 10px;
}
.detail-top-right ul li p{
	font-size:12px;
	line-height:24px;
}
.detail-top-right ul li p em{
	color: #EF001E;
    font-size: 14px;
}
.detail-top-tit {
    margin-left: 34px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 14px;
}
.detail-top-brief {
    color: #999999;
    margin-left: 34px;
}
.detail-top-price {
    margin-top: 20px;
    border: 1px solid #e9e9e9;
    padding-left: 34px;
    height: 68px;
    
}
.detail-top-price>div.fr {
    width: 250px;
    height: 100%;
    border-left: 1px solid rgba(217, 222, 237, 0.58);
}
.detail-top-price>div:first-child {
    margin: 10px 0;
}
.detail-top-price .time {
    font-size: 20px;
    color: #91a7c2;
    text-align: center;
    margin-top: 10px;
}
.detail-top-price .flow {
    margin-top: 6px;
    font-size: 12px;
    color: #b4c1d2;
    text-align: center;
}
.detail-top-price .price {
    color: #ff7800;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}
.centers {
    position: relative;
    top: -3px;
}

.servers-option {
    height: 88px;
}
.servers-option,.button-server {
    padding-left: 34px;
    /* border-bottom: 1px solid #e9e9e9; */
}
.servers-option>span {
    margin-top: 35px;
}
.servers-tit {
    font-size: 14px;
    color: #626262;
    font-weight: bold;
}
.servers-option ul {
    margin-top: 19px;
    width: 787px;
}
.servers-option ul li {
    cursor: pointer;
    min-width: 99px;
    padding: 0 8px;
    height: 34px;
    line-height: 34px;
    margin-left: 10px;
    border: solid 1px #dfdfdf;
    text-align: center;
    color: #4d4d4d;
    margin-top: 5px;
}
.servers-option ul li.hover {
    line-height: 32px;
    padding: 0 7px;
    border: solid 2px #649be8 !important;
    background: url(../images/option-hover.png) no-repeat bottom right;
}
 .servers-option ul li {
    min-width: 103px;
}
.button-server {
    height: 82px;
    line-height: 82px;
    border-bottom: 1px solid #e9e9e9;
}
.btn-apply-for {
    background-color: #ff7800;
}
.btn-public {
    display: inline-block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
}
.post-trade {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    padding: 17px 10px 22px 34px;
    font-size:12px;
}
.post-trade li{width:103px;}
.post-trade li.li01 {
    margin-left: -6px;
}
.post-trade li a.a01 {
    padding-left: 0;
}
.post-trade li a.a1 {
    border-right: 1px solid #eeeeee;
}
.post-trade li a span {
    padding: 10px;
}
.icon-01 {
    background: url(../images/hetong.png) -2px 10px no-repeat;
    background-size:100%; 
}

.product_details {
  width: 100%;
  margin-top: 37px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product_details .publicblock {
  background: #ffffff;
  height: 100%;
}

.fixed {
  position: fixed;
  position: -ms-device-fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 50;
}

.product_details .tab_box {
  width: 1200px;
  height: 56px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: linear-gradient(#ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff, endcolorstr=#f5f5f5, gradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff, endcolorstr=#f5f5f5, gradientType=0);
}

.shopping-trolley {
  width: 150px;
}

.shopping-trolley p {
  cursor: pointer;
  width: 110px;
  height: 32px;
  background-color: #649be8;
  color: #ffffff;
  margin: 12px 20px 0 0;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
}

.shopping-trolley p:hover {
  background-color: #145fbc;
}

.tab_box ul {
  width: 1050px;
}

.product_details .tab_box li {
  width: 125px;
  height: 56px;
  float: left;
  border-right: 1px solid #e5e5e5;
  font-size: 16px;
  color: #747474;
  line-height: 55px;
  text-align: center;
  position: relative;
  cursor: default;
}

.product_details .tab_box li.on {
  border-right: none;
  background: #ffffff;
}

.tab_box li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tab_box li a:hover {
  color: #145fbc;
}

.tab_box li.on a {
  font-weight: bold;
  color: #145fbc;
}

.product_details .tab_box li.on:after {
  content: '';
  height: 2px;
  width: 125px;
  background: #145fbc;
  position: absolute;
  top: 0;
  left: 0;
}

.servers-content {
  width: 1200px;
  background: #ffffff;
  padding-left: 34px;
  margin: 0 auto;
}

.tits {
  padding: 20px 0;
  color: #333333;
  font-size: 22px;
  border-bottom: 1px solid #e5e5e5;
}
.servers-content {
    width: 1200px;
    background: #ffffff;
    padding-left: 34px;
    margin: 0 auto;
}
.WWW, .service-profile, .material-requested, .flow-path, .ul6, .ul7, .common-issue {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
    padding: 25px 34px 20px 34px;
}
.uls li{margin-top:16px;}
.uls li span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 13px;
    line-height: 32px;
    /* background: url(../images/service_detail/xuhao.png) no-repeat center; */
    background:#1296db;
    color: #ffffff;
    font-size:14px;
    text-align:center;
    border-radius: 50%;
}
.ul3 li {
    color: #999999;
}
.mar-rt {
    margin-right: 105px;
}
.ul6 li span {
    color: #666666;
    margin-top: 23px;
    line-height: 24px;
    font-size:14px;
}
.ul6 li {
    width: 100px;
    text-align: center;
}
.icons {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #f0d8ae;
    border-radius: 50%;
}
.ul8 li {
    margin: 10px;
    width: 545px;
    height: 115px;
    border: 1px solid #f0f1f5;
    padding-bottom: 10px;
}
.Q {
    position: relative;
    top: 5px;
    background: url(../images/wen.png) no-repeat;
    background-size:100%;
}
.question {
    color: #4d4d4d;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(96, 174, 255, 0.12);
}
.question, .answer {
    margin: 0 10px;
    padding-top: 20px;
}
.Q, .A {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.answer>p {
    width: 461px;
    line-height: 18px;
}
.more:before, .answer-content {
    display: inherit;
    color: #999999;
}
.more {
    cursor: pointer;
    color: #999999;
}
.A {
    background: url(../images/da.png) no-repeat;
    background-size:100%;
}
.common-issue>a {
    display: block;
    cursor: pointer;
    font-size: 15px;
    width: 269px;
    height: 60px;
    border: 4px solid #f1f3f8;
    margin: 18px auto 60px;
    text-align: center;
    line-height: 52px;
}
.common-issue>a:hover,
.icon-jia:hover {
  border-color: #649be8;
  color: #649be8;
}
.fixed {
    position: fixed;
    position: -ms-device-fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 50;
}
.icon1 {
    background: url(../images/team-icon.png) no-repeat center;
    background-size:60px;
}
.icon2 {
    background: url(../images/one-one-icon.png) no-repeat center;
    background-size:60px;
}
.icon3 {
    background: url(../images/zhineng-icon.png) no-repeat center;
    background-size:60px;
}
.icon4 {
    background: url(../images/price-icon.png) no-repeat center;
    background-size:60px;
}
.icon5 {
    background: url(../images/secret-icon.png) no-repeat center;
    background-size:60px;
}
.icon6 {
    background: url(../images/customer-icon.png) no-repeat center;
    background-size:60px;
}