<footer th:fragment="footer" >
<style>
#baody_youshi {
    background: -moz-linear-gradient(left, #008cee 0%, #00acf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cee), color-stop(100%,#00acf4));
    background: -webkit-linear-gradient(left, #008cee 0%,#00acf4 100%);
    background: -o-linear-gradient(left, #008cee 0%,#00acf4 100%);
    background: -ms-linear-gradient(left, #008cee 0%,#00acf4 100%);
    background: linear-gradient(to right, #008cee 0%,#00acf4 100%);
    height: 140px;
    text-align: center;
}
</style>
    <link rel="stylesheet" href="Public/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="Public/swiper/css/certify.css">
    <script src="Public/swiper/js/swiper.min.js"></script>
<div id="baody_youshi" style="min-width:1200px;margin-top:50px;margin-bottom:30px;">
<img src="Public/Home/default/images/youshi.png" width="284" height="113" title="公司优势" alt="公司优势">
</div>

<div id="certify" style="height:472px;">
<div class="swiper-container" style="height:412px;">
<div class="swiper-wrapper">
<div class="swiper-slide"><img src="Public/swiper/images/certify01.png" alt="质量管理体系认证荣誉证书" /><p>质量管理体系认证荣誉证书</p></div>
<div class="swiper-slide"><img src="Public/swiper/images/certify02.png" alt="质量管理体系认证荣誉证书"/><p>质量管理体系认证荣誉证书</p></div>
<div class="swiper-slide"><img src="Public/swiper/images/certify03.png" alt="质量管理体系认证荣誉证书"/><p>质量管理体系认证荣誉证书</p></div>
<div class="swiper-slide"><img src="Public/swiper/images/certify04.png" alt="质量管理体系认证荣誉证书"/><p>质量管理体系认证荣誉证书</p></div>
<div class="swiper-slide"><img src="Public/swiper/images/certify05.png" alt="质量管理体系认证荣誉证书"/><p>质量管理体系认证荣誉证书</p></div>
</div>
</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</div>

<div class="footbox">
	<div class="dh">
		<a href="/">网站首页</a>
        <a href="/about.html">公司简介</a>
        <a href="/list.html?channelId=1">产品中心</a>
        <a href="/list.html?channelId=2">生产车间</a>
        <a href="/list.html?channelId=3">荣誉资质</a>
        <a href="/list.html?channelId=4">工程案例</a>
        <a href="/list.html?channelId=5">新闻资讯</a>
        <a href="/connect.html">联系我们</a>
	</div>
	<div class="footcont">
		<ul style="width:1250px;">
			<li style="width:480px; background:url(/Public/Home/default/images/nav_middle.jpg) no-repeat right 20px; "><p>CONTACT US<br />
				<span>联系我们</span></p>
				<div class="del">
				<dl>
				<dt></dt>
				<dd>服务热线：18119929879(微信同号)　  0551-67171620
				<br> <span style="display:inline-block;margin-left:70px;">15755104827</span>
				</dd>
				</dl>
				</div>
				<div class="add">
				<dl>
				<dt></dt>
				<dd>地址：合肥市长丰县岗集镇万安大道与JAC大道交口华耀玻璃3幢厂房</dd>
				</dl>
				</div>
			</li>
			<li style="width:460px; background:url(/Public/Home/default/images/nav_middle.jpg) no-repeat right 20px; padding-left:50px;"><p>
				<span>友情链接：</span></p>
				<div class="list">
				<dl th:each="flink : ${flinkList}">
					<dd><a th:href="${flink.furl}" th:text="${flink.title}"></a></dd>
				</dl>	
			</div>
			</li>
			<li style="width:200px; padding-left:60px;"><p>QR CODE<br />
				<span>关注我们</span></p>
				<div class="wx"><dl><dd><img src="/Public/Home/default/images/sjer.jpg" alt="手机官网" width="180" /><br/>扫一扫 浏览手机官网</dd></dl>
				</div>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
	<div class="foot_bg">版权所有：合肥京合净化板有限公司　备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">皖ICP备20013037</a></div>

<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif ,"新宋体";}
p{margin:0px;padding:0px;line-height:20px;}
i{margin:0px;padding:0px;font-style:normal;}
ul{margin:0px;padding:0px;list-style:none;}
ul li{margin:0px;padding:0px;list-style:none;}
a{color:#333333;text-decoration:none;}
a:hover{color:#ff5a00;text-decoration:none;}
.clear{clear:both;font-size:0px;line-height:0;height:0;}

@font-face {
	font-family: 'icomoon';
    src:url('Public/fonts/icomoon.eot?qradjf');
    src:url('Public/fonts/icomoon.eot?qradjf#iefix') format('embedded-opentype'),
        url('Public/fonts/icomoon.ttf?qradjf') format('truetype'),
        url('Public/fonts/icomoon.woff?qradjf') format('woff'),
        url('Public/fonts/icomoon.svg?qradjf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.demo-icon{
  font-family:"icomoon";
  font-style:normal;
  font-weight:normal;
  speak:none;
  display:inline-block;
  text-decoration:inherit;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  font-size:24px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height:24px;
  color:#999; 
}

/*new right*/
.cndns-right{position:fixed;right:1px;top:50%;margin-top:-100px;z-index:99999}
.cndns-right-meau{position:relative;}
.cndns-right-btn{width:48px;height:48px;border:1px solid #ddd;text-align:center;display:block;margin-bottom:6px;position:relative;background-color:#fff}
.cndns-right-btn span{color:#848484;font-size:26px;line-height:48px;}
.cndns-right-btn sup{display:block;min-width:24px;height:24px;text-align:center;line-height:24px;color:#fff;border-radius: 50%;background-color:#ff6800;position:absolute;left:-12px;top:-12px;}
.cndns-right-btn p{color:#ff6800;font-size:14px;line-height:18px;padding-top:5px;display:none;}
.cndns-right-meau:hover .cndns-right-btn span{display:none}
.cndns-right-meau:hover .cndns-right-btn p{display:block;}
.meau-car .cndns-right-btn {border-color:#ff6800;margin-bottom:20px;}
.meau-car.cndns-right-meau:hover .cndns-right-btn{background-color:#ff6800}
.meau-car.cndns-right-meau:hover .cndns-right-btn span{color:#fff;display:block;}
.meau-car .cndns-right-btn span{color:#ff6800;}
.meau-sev .cndns-right-btn{border-color:#ff6800;background:url(Public/images/02index-banner-8.gif) no-repeat #ff6800 center;} 
.meau-sev .cndns-right-btn p{color:#fff}
.meau-sev .cndns-right-btn span{color:#fff}
.meau-top .cndns-right-btn span{font-size:12px;line-height:12px;padding-top:10px;display:block}
.meau-top .cndns-right-btn i{display:block;color:#999}
.meau-top.cndns-right-meau:hover .cndns-right-btn{background-color:#ff6800}
.meau-top.cndns-right-meau:hover .cndns-right-btn span{display:block;color:#fff} 
.meau-top.cndns-right-meau:hover .cndns-right-btn i{color:#fff;}
.cndns-right-box{position:absolute;top:-15px;right:48px;padding-right:25px;display:none;}
.cndns-right-box .box-border{border:1px solid #ccc;border-top:4px solid #ff6800;padding:20px;background-color:#fff;-webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);-moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);box-shadow: 0 3px 8px rgba(0,0,0,.15);position:relative}
.cndns-right-box .box-border .arrow-right{display:block;width:13px;height:16px;background:url(Public/images/arrow.png) no-repeat;position:absolute;right:-13px;top:26px;}
.cndns-right-box .box-border .sev-t span{font-size:42px;float:left;display:block;line-height:56px;margin-right:20px;color:#d3d3d3}
.cndns-right-box .box-border .sev-t p{float:left;color:#ff6800;font-size:22px;line-height:28px;}
.cndns-right-box .box-border .sev-t p i{display:block;font-size:14px;color:#aaa;}
.cndns-right-box .box-border .sev-b{padding-top:15px;margin-top:15px;border-top:1px solid #e4e4e4}
.cndns-right-box .box-border .sev-b h4{color:#666;font-size:14px;font-weight:normal;padding-bottom:15px;}
.cndns-right-box .box-border .sev-b li{float:left;width:33.33333%}
.cndns-right-box .box-border .sev-b li a{display:inline-block;color:#999;font-size:13px;padding-left:43px;background:url(images/q1.gif) no-repeat left 3px;line-height:36px;}
.cndns-right-box .box-border .sev-b li a:hover{color:#ff6800}
.meau-sev .cndns-right-box .box-border{width:430px;}
.meau-contact .cndns-right-box .box-border{width:230px;}
.cndns-right-meau:hover .cndns-right-box{display:block}
.meau-code .cndns-right-box{top:inherit;bottom:-35px;}
.meau-code .cndns-right-box .box-border{width:156px;text-align:center;border-top:1px solid #ccc;}
.meau-code .cndns-right-box .box-border i{display:block;color:#f66e06;font-size:16px;line-height:16px;}
.meau-code .cndns-right-box .box-border .arrow-right{top:inherit;bottom:50px;}
.meau-sev .cndns-right-btn .demo-icon{display:none;}
.meau-sev:hover .cndns-right-btn{background:#ff6800}
.meau-zs .cndns-right-btn{background-color:#ff6800;color:#fff;margin-top:80px;border-color:#ff6800}
.meau-zs .cndns-right-btn span{color:#fff}
.meau-zs .cndns-right-btn p{color:#fff}
</style>

<!--右侧-->
<div class="cndns-right">
    <div class="cndns-right-meau meau-code">
        <a href="/" class="cndns-right-btn">
            <span><svg t="1595556578404" style="margin-top:6px;" class="icon" viewBox="0 0 1063 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2101" width="32" height="32"><path d="M1050.480552 389.963046L552.173656 6.969603a33.981735 33.981735 0 0 0-41.207284 0L12.679164 389.963046a31.894791 31.894791 0 0 0-5.51268 45.558363 33.824229 33.824229 0 0 0 46.719963 5.394551l57.607506-44.278633v594.700044c0 17.91621 14.884236 32.446059 33.272962 32.446059h773.625887c18.388725 0 33.272961-14.529849 33.272961-32.446059V396.637327l57.607506 44.278633c5.847378 4.528273 13.112303 6.969603 20.574109 6.969603 9.844071 0 19.60939-4.232951 26.18523-12.364154a31.894791 31.894791 0 0 0-5.552056-45.558363zM393.762858 964.719002V689.085001h275.634v275.634001H393.762858z m492.203572 0h-149.393628V661.63973c0-17.935898-14.923612-32.485436-33.371402-32.485436H359.997693c-18.44779 0-33.371402 14.549538-33.371402 32.485436V964.719002H177.193286V350.724577L531.579858 78.752572l354.386572 271.972005V964.719002z" fill="#8a8a8a" p-id="2102"></path></svg></span>
            <p>
                回到<br />
                首页
            </p>
        </a>
    </div>
    <div class="cndns-right-meau meau-contact">
        <a href="javascript:" class="cndns-right-btn">
            <span class="demo-icon">&#xe902;</span>
            <p>
                客服<br />
                热线
            </p>
        </a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-t">
                    <span class="demo-icon">&#xe902;</span>
                    <p>0551-67171620<br /><i>7*24小时客服服务热线</i></p>
                    <div class="clear"></div>
                </div>
                <div class="sev-t">
                    <span class="demo-icon">&#xe902;</span>
                    <p>15755104827<br /><i>7*24小时客服服务热线</i></p>
                    <div class="clear"></div>
                </div>  
                <div class="sev-t">
                    <span class="demo-icon">&#xe902;</span>
                    <p>18119929879<br /><i>7*24小时客服服务热线</i></p>
                    <div class="clear"></div>
                </div>              
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-code">
        <a href="javascript:" class="cndns-right-btn">
            <span class="demo-icon">&#xe903;</span>
            <p>
                关注<br />
                微信
            </p>
        </a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-t">
                    <img src="/Public/Home/default/images/sjer.jpg" alt="手机官网" style="width:160px;" />
                    <i>扫一扫</i>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-top" id="top-back">
        <a href="javascript:" class="cndns-right-btn" onclick="topBack()">
            <span class="demo-icon">&#xe904;</span>
            <i>顶部</i>
        </a>
    </div>

</div>
<script type="text/javascript">
//置顶图标显示
$('#top-back').hide()
$(window).scroll(function(){
	 if($(this).scrollTop() > 350){
		$("#top-back").fadeIn();
	 }
	 else{
		$("#top-back").fadeOut();
	 }
  })	
//置顶事件
function topBack(){
  $('body,html').animate({scrollTop:0},300);
}
</script>
<script>
certifySwiper = new Swiper('#certify .swiper-container', {
	watchSlidesProgress: true,
	slidesPerView: 'auto',
	centeredSlides: true,
	loop: true,
	loopedSlides: 5,
	autoplay: true,
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	},
	pagination: {
		el: '.swiper-pagination',
		//clickable :true,
	},
	on: {
		progress: function(progress) {
			for (i = 0; i < this.slides.length; i++) {
				var slide = this.slides.eq(i);
				var slideProgress = this.slides[i].progress;
				modify = 1;
				if (Math.abs(slideProgress) > 1) {
					modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
				}
				translate = slideProgress * modify * 260 + 'px';
				scale = 1 - Math.abs(slideProgress) / 5;
				zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
				slide.transform('translateX(' + translate + ') scale(' + scale + ')');
				slide.css('zIndex', zIndex);
				slide.css('opacity', 1);
				if (Math.abs(slideProgress) > 3) {
					slide.css('opacity', 0);
				}
			}
		},
		setTransition: function(transition) {
			for (var i = 0; i < this.slides.length; i++) {
				var slide = this.slides.eq(i)
				slide.transition(transition);
			}

		}
	}

})
</script>
</footer>