<header th:fragment="header" >
  <div class="head">
   <ul>
    <li class="fl">您好，欢迎来到合肥京合净化板有限公司，一家专业生产岩棉夹芯板、岩棉净化板的民营企业。</li>
   </ul>
  </div> 
  <div align="center">
   <img src="/Public/Home/default/images/logo.png" width="1200" height="115" alt="合肥京合净化板有限公司" />
  </div> 
  <div class="nav"> 
   <div class="navWrap"> 
    <ul class="navlist"> 
     <li> <a href="/" class="nav_on">网站首页</a> </li> 
     <li> <a href="/about.html" class="">公司简介</a> </li>
     <li> <a href="/list.html?channelId=1" class="">产品中心</a> </li>
     <li> <a href="/list.html?channelId=2" class="">生产车间</a> </li>
     <li> <a href="/list.html?channelId=3" class="">荣誉资质</a> </li>
     <li> <a href="/list.html?channelId=4" class="">工程案例</a> </li>
     <li> <a href="/list.html?channelId=17" class="">知识问答</a> </li>
     <li> <a href="/list.html?channelId=5" class="">新闻资讯</a> </li>
     <li> <a href="/shiping.html" class="">安装视频</a> </li>
     <li> <a href="/connect.html" class="">联系我们</a> </li> 
    </ul> 
   </div> 
  </div>  

</header>