<div class="left lebox" th:fragment="left" >
    	 
	<div class="prolist">
    	<p class="titcplde">产品直通车<br /><span>PRODUCTS</p>
        <div class="mbcpny borbotn">
			<a href="/list.html?channelId=6"  class="onelist textover">手工净化板</a>
			<a href="/list.html?channelId=7"  class="onelist textover">机制净化板</a>
			<a href="/list.html?channelId=8"  class="onelist textover">岩棉净化板</a>
			<a href="/list.html?channelId=9"  class="onelist textover">洁净门窗系列</a>
			<a href="/list.html?channelId=10"  class="onelist textover">净化铝型材系列</a>
        </div>
	</div>
    <p class="titcplde mt22">联系京合净化<br /><span>CONTACT US</span></p>
   	<div class="mbcpny inlxgei">
       	<p><strong><span style="font-size: 16px;">合肥京合净化板有限公司</span></strong></p>
       	<p><span style="font-size: 16px;">联系人：袁菊</span></p>
       	<p><span style="font-size: 16px;">电　话：0551-67171620&nbsp;</span></p>
       	<p><span style="font-size: 16px;">　　　　18119929879&nbsp;</span></p>
       	<p><span style="font-size: 16px;">　　　　15755104827&nbsp;</span></p>
       	<p><span style="font-size: 16px;">地　址：合肥市长丰县岗集镇万安大道与JAC大道交口华耀玻璃3幢厂房</span></p>
       	<p><span style="font-size: 16px;">网　址：www.hf-jinghe.com</span></p>        					</div>   
	</div>