<body>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
<title th:text="${seo.title}"></title> 
<meta name="keywords" th:content="${seo.keywords}" /> 
<meta name="description" th:content="${seo.description} " /> 
<link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" />
<link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon" />
  <script src="/Public/Home/default/js/jquery-1.12.4.min.js" type="text/javascript"></script>
</head>
<body>
<style>
.box-title{
border-bottom: 1px solid #cccccc;
}
.box-title-con{
display: table-cell;
border-bottom: 3px solid #c40000;
color: #c40000;    font-size: 18px;
    padding-top: 8px;
    font-weight: bold;
}
</style>
<div th:replace="html/_head :: header"></div>	
<div class="nban"><ul><li></li></ul></div>
<div class="main">
	<ul>
		<div th:replace="html/_left :: left"></div>
		<li class="fr rigcpsh">
        	<div class="showtitle">
           	  <p class="fl btdfge">公司简介</p>
              <div class="fr wettt2">当前位置：<a href="/">首页</a>&gt;&gt;<a href="/about.html">公司简介</a></div>
            </div>
            <div class="proboxsh">
                    <div class="proshny">
                    	<div style="text-align:center;"><img src="/Public/Home/default/images/about_banner.png" /></div>
                    	<p>　　合肥京合彩钢岩棉板有限公司是一家专业生产岩棉夹芯板、岩棉净化板的民营企业。公司于2018年4月份在合肥岗集镇注册成立。公司位于合肥市岗集镇万安大道与JAC大道交叉口西南角公司拥有办公楼及研发中心约2000平米，生产车间800平米。公司引进国内最先进的岩棉夹芯板及净化板生产线，年生产能力达到60万平方米。公司拥有生产人员及技术人员50人，其中高级职称5人，中级职称8人，项目经理4人。</p><p><br></p><p>　　我公司主营：岩棉彩钢板、岩棉净化板、泡沫板、彩钢瓦、C型钢、活动板搭拆等。产品主要用于钢结构维护系统、工地活动板房、企业净化车间等领域。我公司产品具有防火性能优异、保温隔热效果好、吸音效果显著等优越性。<p><br>我公司以强大的技术力量支持、合理的人才梯级配置、科学的管理体系覆盖、灵敏的市场反应机制、完善售后服务系统，为公司的可持续发展奠定了良好的基础。公司一直秉承用户至上、服务先行、质量第一、诚实守信的经营理念，始终以创新、技术服务为宗旨，践行低碳环保节能的社会责任，致力于为区域经济发展做出更大的贡献！勤劳和真诚的我们愿与携手并进、共创辉煌。</p><p style="text-align: center;"></p><p><br></p>                        
                    
                    	<div class="con-box">
                    		<div class="box-title">
                    			<div class="box-title-con" >
                    			一、行业现状——99%的手工净化板厂家不会告诉您的小秘密
                    			</div>
                    		</div>
                    		<div class="box-con">
                    			<p>　　近几年的发展，手工净化板这个行业也日趋成熟，由于手工净化板技术越来越成熟及产品的优越性，所以现在手工净化板被大量推广和使用。但目前国内产品能的严重过剩，和手工净化板严重的同质化，造成市场价格战的恶性竞争，其结果就是“偷工减料、以次充好、粗制滥造、技术低端”，根本不管使用在前期的产品安全和后期的竣工验收，造成目前国内市场一片混乱，用户根本分不清楚到底哪家好哪家是有问题手工净化板厂家。更有甚至做起了皮包公司的生意，通过一些关系获取订单后，自己买彩钢卷原材找小厂家加工，造成产品质量无法保证，扰乱手工净化板市场。</p>
                    			<p>　　为了拿到项目，很多手工净化板厂家以低价取胜，作为企业盈利是正常思维，如果价格太低就会利润微薄甚至无利润可言，没有人会做不挣钱的生意，不良厂商就会不择手段，用偷换原料的方式赚取利润。在接触客户的过程中，经常被人问到，都是同样的钢材压出的，你怎么就比人贵。对，猫腻就在这儿，有些人用小厂家的原材料替代大企业的，比如，选用原材料为宝钢的，则每吨的差价近千元。造成的直接后果就是在1-3年左右，工程大面积的生锈进而漏雨，不仅返工的成本更高，而且耽误工程使用。</p>
                    		</div>
                    	 </div>
                    	 
                    	<div class="con-box">
                    		<div class="box-title">
                    			<div class="box-title-con" >
                    			二、购买净化板5大坑——100%避免踩坑手工净化板专家
                    			</div>
                    		</div>
                    		<div class="box-con">
                    			<div style="color:#c40000;font-weight: bold;margin-top:10px;">1、偷梁换柱，更换彩涂钢板品牌</div>
                    			<p>　　与客户接触的过程中，经常被人问到，都是同样的钢材压出的，你怎么就比别家贵。对，猫腻就在这儿，客户选用原材料为宝钢的，不良厂商为了拿到项目，用市场上的彩钢板品牌的代替宝钢，很多净化板厂家以低价取胜，作为企业盈利是正常思维，如果价格太低就会利润微薄甚至无利润可言。造成的直接后果就是在短期内，工程大面积的生锈，不仅返工的成本更高，而且耽误工程使用。</p>
                    			<div style="color:#c40000;font-weight: bold;margin-top:10px;">2、偷工减料，彩涂钢板厚度以薄代厚</div>
                    			<p>　　厚度减薄，这是明目张胆的偷工减料行为，比如客户选用0.6mm厚的原材料，很多净化板厂家直接用0.5mm厚的彩钢板代替0.6mm厚的，用钢量足足少了10%。如此以来，一些厂家在给客户报价时就可以压得很低，从而迎合客户追求低价的心理。因为越薄的彩钢板承重板能力越差，同时降低了工程的使用寿命。</p>
                    			<div style="color:#c40000;font-weight: bold;margin-top:10px;">3、芯材以次充好，减少板材使用寿命</div>
                    			<p>　　劣质岩棉丝过短，直接影响彩钢板的粘合，容易脱胶，而且劣质岩棉本身凹凸不平，压制成的板材势必不平整，劣质岩棉本身强度不够，板材易变形。</p>
                    			<div style="color:#c40000;font-weight: bold;margin-top:10px;">4、使用劣质胶水，板材开胶成常谈</div>
                    			<p>　　净化板的粘合的好不好，使用的寿命长短就看胶水粘不粘了，有些公司用劣质厂家胶水以次充好，降低了板材的粘合度和使用寿命。</p>
                    			<div style="color:#c40000;font-weight: bold;margin-top:10px;">5、净化板龙骨的厚度以薄代厚</div>
                    			<p>　　龙骨属于附件其中一部分，别看小小的附件，看似不起眼，里面大有文章，俗话说隔行如隔山，对于客户来说，一听价格便宜，好像赚了，其实客户不知道的有猫腻，比如龙骨封边最主要的作用—承重，常用龙骨厚度0.6mm，封边厚度≥0.4mm，龙骨封边厚度越薄，承重能力越弱，很多客户会忽略龙骨的厚度，让不良商家钻了空子。</p>
                    
                    		</div>
                    	 </div>
                    	 
                    	<div class="con-box">
                    		<div class="box-title">
                    			<div class="box-title-con" >
                    			三、实体工厂——30年专注研究手工净化板品质
                    			</div>
                    		</div>
                    		<div class="box-con">
                    			<div style="text-align:center;margin-top:20px;"><img src="/Public/Home/default/images/about_2.png" /></div>
                    		</div>
                    	 </div>       	 	 
                    </div>
                    <div class="clear"></div>
              </div>
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div th:replace="html/_footer :: footer"></div>
</body>
</html>