<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
<title th:text="${seo.title}"></title> 
<meta name="keywords" th:content="${seo.keywords}" /> 
<meta name="description" th:content="${seo.description} " />
<link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" />
<link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />
 
</head>
<body>
<style>
.proshny{ width:868px; padding:20px; margin:0 auto; min-height:207px;}
</style>
<div th:replace="html/_head :: header"></div>
</body>
</html>
<div class="nban"><ul><li></li></ul></div>
<div class="main">
	<ul>
    	<div th:replace="html/_left :: left"></div>
<li class="fr rigcpsh">
        	<div class="showtitle">
           	  <p class="fl btdfge">联系我们</p>
              <div class="fr wettt2">当前位置：<a href="/index.php/Index/index.html">首页</a>&gt;&gt;<a href="/index.php/List/index/cid/82.html">联系我们</a></div>
            </div>
            
            
            <div class="proboxsh">
                    <div class="proshny" style="height:207px;">
                    	<p><strong><span style="font-size: 16px;">合肥京合净化板有限公司</span></strong></p>
                    	<p><span style="font-size: 16px;">联系人：袁菊</span></p>
                    	<p><span style="font-size: 16px;">电话：0551-67171620　18119929879(微信同号)  15755104827&nbsp;</span></p>
                    	<p><span style="font-size: 16px;">地址：合肥市长丰县岗集镇万安大道与JAC大道交口华耀玻璃3幢厂房</span></p>
                    	<p><span style="font-size: 16px;">网址：www.hf-jinghe.com</span></p>
                    	<p><br></p><p style="text-align: center;"></p><p><br></p>                        
                                                
                    </div>
                    <div id="container1" style="width:935px;height:524px;"></div>
                    <div class="clear"></div>
              </div>
              
              
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div th:replace="html/_footer :: footer"></div>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=HqRx0q62HzHIEO0yVSate3wX8Ss2mOYF&s=1"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?fb50cedf5f710763879e168d1d191b9f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

		<script>
			var map = new BMap.Map("container1");    
			var point = new BMap.Point(117.187071,31.976124);
			var marker = new BMap.Marker(point);  // 创建标注
			map.addOverlay(marker);              // 将标注添加到地图中
			map.centerAndZoom(point, 15);    
			var opts = {
			  width : 200,     // 信息窗口宽度
			  height: 100,     // 信息窗口高度
			  title : "合肥京合净化板有限公司" , // 信息窗口标题
			  enableMessage:true,//设置允许信息窗发送短息
			  message:""
			}
			var infoWindow = new BMap.InfoWindow("地址：合肥市长丰县岗集镇万安大道与JAC大道交口华耀玻璃", opts);  // 创建信息窗口对象 
			marker.addEventListener("click", function(){          
				map.openInfoWindow(infoWindow,point); //开启信息窗口
			});
			
	 
			 
			
		</script>
		
</body>
</html>