<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
<title th:text="${seo.title}"></title> 
<meta name="keywords" th:content="${seo.keywords}" /> 
<meta name="description" th:content="${seo.description} " />
<link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" />
<link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />
<link href="/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script src="/Public/Home/default/js/jquery-1.12.4.min.js" type="text/javascript"></script> 
<script src="/layui/layui.js"></script>
</head>
<body>

<div th:replace="html/_head :: header"></div>
<div class="nban"><ul><li></li></ul></div>
<div class="main">
	<ul>
   		<div th:replace="html/_left :: left"></div>
        <li class="fr rigcpsh">
        	<div class="showtitle">
           	  <p class="fl btdfge" th:text="${typeName}"></p>
              <div class="fr wettt2">当前位置：<a href="/">首页</a>&gt;&gt;<a th:href="${'/list.html?channelId='+type}" th:text="${typeName}"></a></div>
            </div>
            <div class="proboxsh"  style="padding-top:10px">
                <a th:each="item:${page.list}" th:href="${'/detail.html?id='+item.recordId}" th:title="${item.title}" class="calistcp">
                	<div class="imgboxcp2">
                		<span></span><img  th:src="${item.thumbnailPath}" th:alt="${item.title}" /></div><p class="textover" th:text="${item.title}"></p>
                </a>
        		<div class="clear"></div>
   		 		<div id="pageFoot" class="listbot page"></div>      
              </div>
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div th:replace="html/_footer :: footer"></div>
<input type="hidden"  th:value="${page.totalCount}"   id="total"/>
<input type="hidden"  th:value="${page.pageNo}"   id="pageNo"/>
<input type="hidden"  th:value="${page.totalPage}"   id="totalPage"/>
<input type="hidden"  th:value="${type}"   id="type"/>
<script>
layui.use(['laypage', 'layer'], function(){
    var laypage = layui.laypage
        ,layer = layui.layer;
    laypage.render({
        elem: 'pageFoot'
        ,count:$('#total').val()
        ,limit:9
        ,pages:$('#totalPage').val()
        ,curr:$('#pageNo').val()
        ,layout: ['count', 'prev', 'page', 'next', 'skip']
        ,jump: function(obj,first){
            if (!first) {
                var pageSize=obj.limit;
                var pageNum=obj.curr;
                window.location.href="/list.html?channelId="+$('#type').val()+""+"&page="+pageNum;//跳转链接
            }
            console.log(obj)
        }
    });
});

</script>

</body>
</html>