<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
  <title th:text="${seo.title}"></title> 
  <meta name="keywords" th:content="${seo.keywords}" /> 
  <meta name="description" th:content="${seo.description} " /> 
  <link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" /> 
  <link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />    
  <link href="/Public/Home/default/css/banner.css" rel="stylesheet" type="text/css" /> 
  <script src="/Public/Home/default/js/jquery-1.12.4.min.js" type="text/javascript"></script> 
  <script src="/Public/Home/default/js/jquery.superslide.2.1.2.js" type="text/javascript"></script> 
  <script src="/Public/Home/default/js/main2.js" type="text/javascript" defer="defer"></script> 
</head>
 <body>   
<div th:replace="html/_head :: header"></div>  
  <div class="bigbg"> 
   <div id="in_slide" class="slide"> 
    <div class="hd"> 
     <ul> 
     </ul> 
    </div> 
    <div class="bd"> 
     <ul> 
      <li style="display:block;"><img class="" src="/Public/Home/default/images/banner1_1.jpg"  alt="防火净化板"/></li> 
      <li style="display:block;"><img class="" src="/Public/Home/default/images/banner1.jpg" alt="净化板服务"/></li> 	
      <li style="display:block;"><img class="" src="/Public/Home/default/images/banner2.jpg" alt="供应彩钢板"/></li> 
      <li style="display:none;"><img class="" src="/Public/Home/default/images/banner3.jpg" alt="彩钢夹芯板"/></li> 
     </ul> 
    </div> 
    <a class="prev">&lt;</a> 
    <a class="next">&gt;</a> 
   </div> 
  </div> 
   
  <div class="inbox1" style="padding-bottom: 20px;"> 
   <div class="inmiaoti  wow fadeInUp"> 
    <p>PRODUCTS</p> 
    <h1><span>京合净化</span>热销产品</h1> 
    <h3>源头工厂 行业定制 质优价廉</h3> 
   </div> 
   <div class="center" > 
     
    <div th:replace="html/_left :: left"></div>
    <div class="fr incpshow wow fadeInRight" style=""> 
    <div class="product-right-top" style="height:40px;font-size:18px;font-weight:bold;line-height:40px;background:#ffffff;padding-left:20px;">产品直通车</div>
     <div class="tj6g" style="height:670px;overflow-y: scroll;border:1px solid #e3e3e3;background:#ffffff;">
      <a th:each="item:${productPage.list}" th:if="${itemStat.index  lt 6}"  th:href="${'/detail.html?id='+item.recordId}"> 
       <div>
        <img th:src="${item.thumbnailPath}" th:alt="${item.title}" border="0" alt="净化板" />
       </div> <h3 th:text="${item.title}"></h3> </a>
       <div class="more-product" style="display:none;">
	      <a th:each="item:${productPage.list}" th:if="${itemStat.index  gt 5}"  th:href="${'/detail.html?id='+item.recordId}"> 
	       <div>
	        <img th:src="${item.thumbnailPath}" th:alt="${item.title}" border="0" />
	       </div> <h3 th:text="${item.title}"></h3> </a>
       </div>
       
     </div> 
     <div class="clear"></div> 
          <span class="show_more" style="cursor: pointer;width:100px;margin:10px auto;display:block;line-height:40px;text-align:center;border-radius:10px;background:#ffffff;height:40px;">查看更多</span>
          
    </div> 
    <div class="clear"></div> 
   </div> 

  </div> 
  <div class="inbox2"> 
   <div class="inmiaoti  wow fadeInUp" style="height:160pox; "> 
    <!--<p>WORKSHOP</p>--> 
    <h1><span>京合净化</span>生产车间</h1> 
    <h3>源头工厂 行业定制 质优价廉</h3> 
   </div> 
   <div class="mr_frbox2e  wow fadeInUp"> 
    <div class="imgboxcpe"> 
     <div class="leftprole">
      <img class="mr_frBtnL prev" src="/Public/Home/default/images/zyjt.png" alt="净化板车间" width="68" height="68" /> 
     </div> 
     <ul> 
      <li th:each="item:${workPage.list}"><a th:href="${'/detail.html?id='+item.recordId}" th:title="${item.title}"><img th:src="${item.thumbnailPath}" th:alt="${item.title}" border="0" /></a></li>
     </ul> 
    </div> 
    <div class="rightprore">
     <img class="mr_frBtnR next" alt="更多净化板" src="/Public/Home/default/images/yyjt.png" width="68" height="68" />
    </div> 
   </div> 
   <script type="text/javascript">
	    $(function(){
			$(".mr_frbox2e").slide({titCell:"",mainCell:".imgboxcpe ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});
		})
		
	</script> 
  </div> 
  <div class="inbox4"> 
   <div class="inmiaoti  wow fadeInUp"> 
    <p style="color:#efefef">NEWS</p> 
    <h1><span>资讯</span>中心</h1> 
    <h3>您可以通过一下资讯，对我们有进一步的了解，我们服务过的客户无论大小，都将全心全意为您服务</h3> 
   </div> 
   <div class="fl zxnbox  wow fadeInLeft"> 
    <div class="inxwtit">
     <p class="fl">最新动态</p>
     <a href="/list.html?channelId=5" class="fr">更多</a>
    </div> 
    <div class="fl tjxwcoc"  th:each="item:${picNewsPage.list}" th:if="${itemStat.index  lt 1}"> 
     <img th:src="${item.thumbnailPath == '' ? '/Public/Home/default/images/news_01.png':item.thumbnailPath}" width="364" height="160" alt="最新动态" /> 
     <h3 class="textover" th:text="${item.title}"></h3> 
     <div class="zyxwin" th:text="${item.abstractCon}">
     </div> 
     <a class="xwmoredf" th:href="${'/detail.html?id='+item.recordId}">+ 查看详情 +</a> 
    </div> 
    <div class="fr inxwlid"> 
     <img th:each="item:${picNewsPage.list}" th:if="${itemStat.index  lt 2 && itemStat.index gt 0}" th:src="${item.thumbnailPath == '' ? '/Public/Home/default/images/news_2.jpg':item.thumbnailPath}" width="364" height="160" alt="最新动态" /> 
     <div class="xwsyboxw"> 
      <a th:each="item:${newsPage.list}" th:href="${'/detail.html?id='+item.recordId}" th:title="${item.title}" class="textover" th:text="${item.title}"></a>
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
   <div class="fr incjcob  wow fadeInRight"> 
    <div class="inxwtit">
     <p class="fl">知识问答</p>
     <a href="/list.html?channelId=17" class="fr">更多</a>
    </div> 
    <div class="xwsyboxw"> 
     <a th:each="item:${askPage.list}" th:href="${'/detail.html?id='+item.recordId}" th:title="${item.title}"> <h3 class="textover" th:text="${item.title}"></h3> <p th:text="${item.abstractCon}"></p> </a>
    </div> 
   </div> 
   <div class="clear"></div> 
  </div> 
  
  <div style="width:100%;height:200px;background:url(/Public/Home/default/images/banner_bg.jpg);margin-top:40px;">
  	<div style="width:1200px;margin:0 auto;position:relative;">
  		<div style="position:absolute;top:67px;width: 725px;left:21px;height: 66px;">
  			<div style="color: rgb(102, 102, 102);margin-top:10px;">
  				<font style="color:#ffffff;font-size: 30px;font-weight: bold;">超市化服务，一站式购齐，无需二次寻找其他厂家</font>
  				<div style="margin-top:10px;">
  					<font style="color:#656565;font-size: 14px;">
  					Supermarket service, one-stop shopping, no need to look for other manufacturers twice
  					</font>
  				</div>
  			</div>
  		</div>
  		<div style="position:absolute;top:34px;width: 291px;left:917px;height: 84px;">
  			<div style="margin-top:10px;">
  				<font style="color:#ffffff;font-size: 14px;">服务热线：</font>
  				<div style="font-size: 32px;color:#ffffff;font-weight: bold;margin-top:10px;">0551-67171620</div>
  				<div style="font-size: 32px;color:#ffffff;font-weight: bold;margin-top:16px;">18119929879</div>
  				<div style="font-size: 32px;color:#ffffff;font-weight: bold;margin-top:16px;">15755104827</div>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="inbox3"> 
   <div class="inmiaoti  wow fadeInUp"> 
    <p style="color:#efefef">ABOUT</p> 
    <h1><span>公司</span>简介</h1> 
    <h3>源头工厂 行业定制 质优价廉</h3> 
   </div> 
   <div class="mianabouy"> 
    <p class="abpicdw wow fadeInLeft"><img src="/Public/Home/default/images/new_lou.jpg" width="900" height="438" alt="江苏马步崎电机制造有限公司" /></p> 
    <div class="conbrab"> 
     <div class="right  wow fadeInRight"> 
      <div class="wenbo"> 
       <h1>合肥京合净化板有限公司</h1> 　　合肥京合彩钢岩棉板有限公司是一家专业生产岩棉夹芯板、岩棉净化板的民营企业。公司于2018年4月份在合肥岗集镇注册成立。公司位于合肥市岗集镇万安大道与JAC大道交叉口西南角公司拥有办公楼及研发中心约2000平米，生产车间800平米。公司引进国内最先进的岩棉夹芯板及净化板生产线，年生产能力达到60万平方米。公司拥有生产人员及技术人员50人，其中高级职称5人，中级职称8人，项目经理4人。
       <br /> 　　我公司主营：岩棉彩钢板、岩棉净化板、泡沫板、彩钢瓦、C型钢、活动板搭拆等。产品主要用于钢结构维护系统、工地活动板房、企业净化车间等领域......
      </div> 
      <a href="/about.html" class="red">+ 查看详情 +</a> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
  </div> 
<div th:replace="html/_footer :: footer"></div>
<script>
$(".show_more").on('click',function(){
	$(".more-product").show();
	
	
})

</script>
 
 </body>
</html>



