 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
 
<title th:text="${detail.title+'_岩棉净化板_硅岩净化板_机制净化板-合肥京合净化板有限公司'}"></title>
<meta name="keywords" content="岩棉净化板,硅岩净化板,机制净化板,净化板材,净化钢制门,净化钢制窗,净化铝材 " /> 
<meta name="description" content="合肥京合净化板有限公司是一家从事各类净化产品及岩棉净化板、硅岩净化板、净化板材、净化钢制门、净化钢制窗、净化铝材的生产并承接各类洁净室、钢结构彩板厂房、活动房、冷库等安装工程的专业性公司，主营产品，工程设计、制作、安装、研发为一体的纳税企业，是经国家相关部门批准的注册企业。合肥京合净化板有限公司以雄厚的实力、合理的价格、优良的服务于多家企业建立了长期的合作关系。 " /> 
<link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" />
<link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />
 
</head>
<body>
<div th:replace="html/_head :: header"></div>
<div class="nban"><ul><li></li></ul></div>
<div class="main">
	<ul>
		<div th:replace="html/_left :: left"></div>
        <li class="fr rigcpsh">
        	<div class="showtitle">
           	  <p class="fl btdfge" th:text="${detail.secondChannelName}"></p>
              <div class="fr wettt2">当前位置：<a href="/">首页</a>&gt;&gt;<a th:href="${'/list.html?channelId=' + detail.secondChannelId}" th:text="${detail.secondChannelName}"></a></div>
            </div>
			<div class="proboxsh">
	            <div class="proshow">
					<ul>
						<li class="prtitle" th:text="${detail.title}"></li>
	                    <li class="fubio">发布日期：<span th:text="${detail.publishTime}"></span>　　点击次数：<span th:text="${detail.viewCount}"></span>　　所属分类：<a th:href="${'/list.html?channelId=' + detail.secondChannelId}" th:text="${detail.secondChannelName}"></a></li>
	                    <li class="prtent" th:utext="${detail.content}"></li>
	                    <li class="anotnd">相关标签：<a href="/connect.html">联系我们</a></li>
<!-- 						<li class="next">
							上一篇：篇<br>
							下一篇：<a href="">钢架结构活动厂房如何工程施工好</a>					
						</li> -->
	  				 </ul>
				</div>
              </div>         
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div th:replace="html/_footer :: footer"></div>
</body>
</html>