 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
 
<title th:text="${detail.title+'_岩棉净化板_硅岩净化板_机制净化板-合肥京合净化板有限公司'}"></title>
<meta name="keywords" content="岩棉净化板,硅岩净化板,机制净化板,净化板材,净化钢制门,净化钢制窗,净化铝材 " /> 
<meta name="description" content="合肥京合净化板有限公司是一家从事各类净化产品及岩棉净化板、硅岩净化板、净化板材、净化钢制门、净化钢制窗、净化铝材的生产并承接各类洁净室、钢结构彩板厂房、活动房、冷库等安装工程的专业性公司，主营产品，工程设计、制作、安装、研发为一体的纳税企业，是经国家相关部门批准的注册企业。合肥京合净化板有限公司以雄厚的实力、合理的价格、优良的服务于多家企业建立了长期的合作关系。 " /> 
<link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" />
<link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />
  <script src="/Public/Home/default/js/jquery-1.12.4.min.js" type="text/javascript"></script>  
</head>
<body>
<div th:replace="html/_head :: header"></div>
		 	
	   
<div class="nban"><ul><li></li></ul></div>
<div class="main">
	<ul>
		<div th:replace="html/_left :: left"></div>
        <li class="fr rigcpsh">
        	<div class="showtitle">
           	  <p class="fl btdfge" th:text="${detail.secondChannelName}"></p>
              <div class="fr wettt2">当前位置：<a href="/">首页</a>&gt;&gt;<a th:href="${'/list.html?channelId=' + detail.secondChannelId}" th:text="${detail.secondChannelName}"></a></div>
            </div>
			 
	       <div style="margin-top:20px;">
	           	<div class="left-img" style="width:500px;padding:10px;display:table;text-align: center;height:300px;float:left;border:1px solid #e4e4e4">
	           		<img th:src="${detail.thumbnailPath}"  style="height:300px;"/>
	           	</div>
	           	<div style="width:380px;float:left;margin-left:20px;">
	           		<div class="right-top" style="font-size:18px;line-height:40px;font-weight:bold;border-bottom:1px solid #e4e4e4" th:text="${detail.title}"></div>
	           		<div style="margin-top:20px;">
	           			所属类别：<span th:text="${detail.secondChannelName}"></span><br>
						联系人：袁菊<br>
						座机：0551-67171620<br>
						手机：18119929879 <br>
						微信：18119929879 <br>
						地址：合肥市长丰县岗集镇万安大道与JAC大道交口华耀玻璃
	           		</div>
	           	</div>

        	<div style="clear:both;"></div>
           	</div>
	        <div class="product_detail">
				<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_ty" data-cmd="ty" title="分享到天涯社区"></a></div>				
		
	        	<div class="product_detail_top" style="margin-top:30px;border-bottom:1px solid #c40000;height:30px;line-height:30px;">
	        		<div style="width:113px;font-weight:bold;font-size:18px;">产品详情</div>
	        	</div>
	        	<div th:utext="${detail.content}" style="padding:20px;">
	        	
	        	</div>
	        </div>
<!-- 					<ul>
						<li class="prtitle" th:text="${detail.title}"></li>
	                    <li class="fubio">发布日期：<span th:text="${detail.publishTime}"></span>　　点击次数：<span th:text="${detail.viewCount}"></span>　　所属分类：<a th:href="${'/list.html?channelId=' + detail.secondChannelId}" th:text="${detail.secondChannelName}"></a></li>
	                    <li class="prtent" th:utext="${detail.content}"></li>
	                    <li class="anotnd">相关标签：<a href="/connect.html">联系我们</a></li>
 
	  				 </ul> -->
			         
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div th:replace="html/_footer :: footer"></div>

<script th:inline="none">

//百度分享
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["weixin","qzone","tsina","tqq","sqq","renren","ty"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","qzone","tsina","tqq","sqq","renren","ty"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
 
</script>
</body>
</html>