<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" class="zh_CN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="applicable-device" content="pc,mobile" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
 <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no">
<title th:text="${seo.title}"></title> 
<meta name="keywords" th:content="${seo.keywords}" /> 
<meta name="description" th:content="${seo.description} " />
<link rel="shortcut icon" type="/Public/Home/default/images/ico" href="/favicon.ico" />
<link href="/Public/Home/default/css/css.css" rel="stylesheet" type="text/css" />
<link href="/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script src="/Public/Home/default/js/jquery-1.12.4.min.js" type="text/javascript"></script> 
<script src="/layui/layui.js"></script>
</head>
<body>
<style>
.li-box{
border: 1px rgba(222, 222, 222, 1) solid;margin-top:30px;height:416px;
width:454px;float:left;margin-right:10px;
}
.box-top{
    color: #c40000;height:48px;line-height:48px;    font-size: 16px;padding-left:10px;
    border-bottom:1px rgba(222, 222, 222, 1)  solid;font-family: 微软雅黑; 
    font-weight:bold;
}
.box-bottom{
width:450px;height:360px;float:left;background:#000000;
}
</style>
<div th:replace="html/_head :: header"></div>
<div class="nban"><ul><li></li></ul></div>
<div class="main">
	<ul>
   		<div th:replace="html/_left :: left"></div>
        <li class="fr rigcpsh">
        	<div class="showtitle">
           	  <p class="fl btdfge" >安装视频</p>
              <div class="fr wettt2">当前位置：<a href="/">首页</a>&gt;&gt;<a href="/shiping.html" >安装视频</a></div>
            </div>
            
            <div class="li-box" style="">
            	<div class="box-top">净化彩钢瓦视频</div>
          		<div class="box-bottom"  >
					<video controls=""  style="width:100%;height:100%;"  name="media"><source src="//21204165.s21v.faiusr.com/58/ABUIABA6GAAghPOG8AUo75TmnQE.mp4" type="video/mp4"></video>
          		</div>
          	</div>	
            <div class="li-box" style="">
            	<div class="box-top">岩棉彩钢瓦视频</div>
          		<div class="box-bottom" >
					<video controls="" style="width:100%;height:100%;"   name="media"><source src="//21204165.s21v.faiusr.com/58/ABUIABA6GAAgkvSG8AUo_sPd2gU.mp4" type="video/mp4"></video>
          		</div> 
          	</div> 
            <div class="li-box" style="">
            	<div class="box-top">憎水岩棉防水测试实验</div>
          		<div class="box-bottom" >
					<video controls=""  style="width:100%;height:100%;"  name="media"><source src="http://ykugc.cp31.ott.cibntv.net/6773BF164C13E719C4AB33F55/03000A01005E17C94BF975646009E77C63F50A-44BF-4259-8E7C-D7F15C6B72A3.mp4?ccode=0512&duration=124&expire=18000&psid=f642b0f99a7aa2a04e366f0aaa03edb04737e&ups_client_netip=24058537&ups_ts=1594620335&ups_userid=&utid=jzF3Fj86hW8CASQFhEnwSEY%2F&vid=XNDUwMTcwMzAyOA&vkey=B7e9dcdbce69f94c43fdc355131549926&eo=1&bc=2&dre=u21&si=42&dst=1" type="video/mp4"></video>
          		</div>
          	</div> 
            <div class="li-box" style="">
            	<div class="box-top">憎水岩棉防水测试实验</div>
          		<div class="box-bottom" >
					<video controls="" style="width:100%;height:100%;"   name="media"><source src="//21204165.s21v.faiusr.com/58/ABUIABA6GAAg-pLf8AUowNLn5wE.mp4?v=1578617492" type="video/mp4"></video>
          		</div>  
          	</div> 	
            <div class="li-box" style="">
            	<div class="box-top">憎水岩棉防水测试实验</div>       
          		<div class="box-bottom">
					<video controls=""  style="width:100%;height:100%;"  name="media"><source src="//21204165.s21v.faiusr.com/58/ABUIABA6GAAg2Jnf8AUoqKy_Jg.mp4" type="video/mp4"></video>
          		</div>
          	</div> 	
            <div class="li-box" style="">
            	<div class="box-top">憎水岩棉防水测试实验</div>
          		<div class="box-bottom" >
					<video controls="" style="width:100%;height:100%;"   name="media"><source src="//21204165.s21v.faiusr.com/58/ABUIABA6GAAgiZrf8AUogt7G4AU.mp4" type="video/mp4"></video>
          		</div>  
          	</div> 	
            <div class="li-box" style="">
            	<div class="box-top">憎水岩棉防水测试实验</div>   
          		<div  class="box-bottom" >
					<video controls=""  style="width:100%;height:100%;"  name="media"><source src="http://ykugc.cp31.ott.cibntv.net/6572C084E574B71F428425E21/03000A01005E17CB644275A46009E731010B95-284B-4E95-9EC4-9E6B7CF3451A.mp4?ccode=0512&duration=19&expire=18000&psid=6534c4fe6ffeb318e9115065747218964737e&ups_client_netip=24058537&ups_ts=1594620335&ups_userid=&utid=jzF3Fj86hW8CASQFhEnwSEY%2F&vid=XNDUwMTcwOTAzNg&vkey=B48b653b0b927d8fbffc0674a41399672&eo=1&bc=2&dre=u21&si=42&dst=1" type="video/mp4"></video>
          		</div>
          	</div> 	
            <div class="li-box" style="">
            	<div class="box-top">憎水岩棉防水测试实验</div>
          		<div class="box-bottom" >
					<video controls="" style="width:100%;height:100%;"   name="media"><source src="http://ykugc.cp31.ott.cibntv.net/67743ABEFE5337151F1B06409/03000A01005E17CB859529A46009E766249AD4-34DC-45BA-A318-EF9140C4841D.mp4?ccode=0512&duration=16&expire=18000&psid=db0611ac1147d10ce42597bbc66425df4737e&ups_client_netip=24058537&ups_ts=1594620336&ups_userid=&utid=jzF3Fj86hW8CASQFhEnwSEY%2F&vid=XNDUwMTcwOTI4OA&vkey=B432bbbe7a428422fc5c375b590480c92&eo=1&bc=2&dre=u21&si=42&dst=1" type="video/mp4"></video>
          		</div>       
             </div>     
        		<div class="clear"></div>
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div th:replace="html/_footer :: footer"></div>
 
<script>
 
</script>

</body>
</html>