<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>页面管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="childrenBody" >
<form class="layui-form">
<div class="table_box">
	<table id="newsList" lay-filter="newsList"></table>
</div>
    
    <!--操作-->
    <script type="text/html" id="newsListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
</form>
<input type="hidden" th:value="${type}" name="contentHtml" id="type">
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<!-- <script type="text/javascript" th:src="@{'/admin_static/model/service/edit.js'}"></script>
 -->
<script type="text/javascript" th:src="@{'/admin_static/model/seo/list.js'}"></script>
</body>
</html>