	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑新闻</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="@{'/css/public.css'}" media="all"/>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text"  th:value="${news.title}" name="title" class="layui-input" lay-verify="required" placeholder="请输入新闻标题">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">关键字</label>
        <div class="layui-input-block">
            <input type="text"  th:value="${news.keywords}" name="keywords" class="layui-input" lay-verify="required" placeholder="请输入新闻标题">
        </div>
    </div>    
    <div class="layui-form-item layui-row layui-col-xs12" style="dispaly:none;" id="abstract_con">
	    <label class="layui-form-label">描述</label>
	    <div class="layui-input-block">
	      <textarea name="description" placeholder="请输入摘要内容" class="layui-textarea" th:text="${news.description}"></textarea>
	    </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm layui-btn-primary" id="cancel_btn">取消</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" type="button" lay-submit="" lay-filter="addNews">保存</button>
        </div>
    </div>
     
    <input type="hidden" id="news_id" name="id" th:value="${news.id}">
</form>
<script src="/news/js/jquery-1.10.2.min_65682a2.js"></script> 
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/ueditor/ueditor.config.js'}"></script>
<script type="text/javascript" th:src="@{'/admin_static/ueditor/ueditor.all.js'}"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
    setContent();
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    // 自定义图片上传url
    UE.Editor.prototype.getActionUrl = function (action) {
        if (action == 'uploadImg') {
            return '/ueditor/uploadImg';
        } else if(action == 'uploadFile') {
            return '/ueditor/uploadFile';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    };
    
    function setContent(){
    	/* ue.ready(function () {
    		var value = prompt('插入html代码', '');
    		ue.execCommand('insertHtml', value);
        });  */
    	ue.addListener("ready", function () {
    		var contentHtml = $("#contentHtml").val();
    		console.log(contentHtml);
   		　ue.setContent(contentHtml,true);
   		}); 
    }
    

    
</script>
<script type="text/javascript" th:src="@{'/admin_static/model/seo/update.js'}"></script>

</body>
</html>